openapi: 3.2.0
info:
  title: Hookdeck Bookmarks Attempts Connections API
  version: 1.0.0
  description: Save bookmarked events for quick replay and convenient one-click testing during development.
  contact:
    name: Hookdeck Support
    url: https://hookdeck.com/contact-us
    email: info@hookdeck.com
servers:
- url: https://api.hookdeck.com/2025-07-01
  description: Production API
security:
- bearerAuth: []
- basicAuth: []
tags:
- name: Connections
  description: A connection lets you route webhooks from a source to a destination, using a rule.
paths:
  /connections:
    get:
      operationId: getConnections
      summary: Retrieve connections
      description: This endpoint lists connections, or a subset of connections.
      tags:
      - Connections
      responses:
        '200':
          description: List of connections
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionPaginatedResult'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      parameters:
      - in: query
        name: id
        schema:
          anyOf:
          - type: string
            maxLength: 255
          - type: array
            items:
              type: string
              maxLength: 255
          description: Filter by connection IDs
      - in: query
        name: name
        schema:
          anyOf:
          - type:
            - string
            - 'null'
            pattern: ^[A-z0-9-_]+$
            maxLength: 155
          - $ref: '#/components/schemas/Operators'
          - type: array
            items:
              type:
              - string
              - 'null'
              pattern: ^[A-z0-9-_]+$
              maxLength: 155
          description: Filter by connection name
      - in: query
        name: destination_id
        schema:
          anyOf:
          - type: string
            maxLength: 255
          - type: array
            items:
              type: string
              maxLength: 255
          description: Filter by associated destination IDs
      - in: query
        name: source_id
        schema:
          anyOf:
          - type: string
            maxLength: 255
          - type: array
            items:
              type: string
              maxLength: 255
          description: Filter by associated source IDs
      - in: query
        name: disabled
        schema:
          type: boolean
          description: Include disabled resources in the response
      - in: query
        name: disabled_at
        schema:
          anyOf:
          - type:
            - string
            - 'null'
            format: date-time
          - $ref: '#/components/schemas/Operators'
          description: Date the connection was disabled
      - in: query
        name: full_name
        schema:
          type: string
          pattern: ^[a-z0-9-_>\s]+$
          maxLength: 155
          description: Fuzzy match the concatenated source and connection name. The source name and connection name must be separated by " -> "
      - in: query
        name: paused_at
        schema:
          anyOf:
          - type:
            - string
            - 'null'
            format: date-time
          - $ref: '#/components/schemas/Operators'
          description: Date the connection was paused
      - in: query
        name: order_by
        schema:
          anyOf:
          - type: string
            maxLength: 255
            enum:
            - full_name
            - created_at
            - updated_at
            - sources.updated_at
            - sources.created_at
            - destinations.updated_at
            - destinations.created_at
          - type: array
            items:
              type: string
              maxLength: 255
              enum:
              - full_name
              - created_at
              - updated_at
              - sources.updated_at
              - sources.created_at
              - destinations.updated_at
              - destinations.created_at
            minItems: 2
            maxItems: 2
          description: Sort key(s)
      - in: query
        name: dir
        schema:
          anyOf:
          - type: string
            enum:
            - asc
            - desc
          - type: array
            items:
              type: string
              enum:
              - asc
              - desc
            minItems: 2
            maxItems: 2
          description: Sort direction(s)
      - in: query
        name: limit
        schema:
          type: integer
          minimum: 0
          maximum: 255
          description: Result set size
      - in: query
        name: next
        schema:
          type: string
          maxLength: 255
          description: The ID to provide in the query to get the next set of results
      - in: query
        name: prev
        schema:
          type: string
          maxLength: 255
          description: The ID to provide in the query to get the previous set of results
    post:
      operationId: createConnection
      summary: Create a connection
      description: This endpoint creates a connection. You can create a connection's underlying source, destination, and rules with a single call by declaring an object for any of those resources. You can reuse a source or destination by referencing their ID.
      tags:
      - Connections
      responses:
        '200':
          description: A single connection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type:
                  - string
                  - 'null'
                  pattern: ^[A-z0-9-_]+$
                  maxLength: 155
                  description: A unique name of the connection for the source
                description:
                  type:
                  - string
                  - 'null'
                  maxLength: 500
                  description: Description for the connection
                destination_id:
                  type:
                  - string
                  - 'null'
                  maxLength: 255
                  description: ID of a destination to bind to the connection
                source_id:
                  type:
                  - string
                  - 'null'
                  maxLength: 255
                  description: ID of a source to bind to the connection
                destination:
                  type: object
                  properties:
                    name:
                      type: string
                      pattern: ^[A-z0-9-_]+$
                      maxLength: 155
                      description: Name for the destination
                    type:
                      type: string
                      enum:
                      - HTTP
                      - CLI
                      - MOCK_API
                      description: Type of the destination
                      default: HTTP
                    description:
                      type:
                      - string
                      - 'null'
                      maxLength: 500
                      description: Description for the destination
                    config:
                      $ref: '#/components/schemas/VerificationConfig'
                  required:
                  - name
                  additionalProperties: false
                  description: Destination input object
                source:
                  type: object
                  properties:
                    name:
                      type: string
                      pattern: ^[A-z0-9-_]+$
                      maxLength: 155
                      description: A unique name for the source
                    type:
                      type: string
                      enum:
                      - AIPRISE
                      - ALCHEMY
                      - DOCUSIGN
                      - INTERCOM
                      - PUBLISH_API
                      - WEBHOOK
                      - HTTP
                      - MANAGED
                      - HOOKDECK_OUTPOST
                      - SANITY
                      - BIGCOMMERCE
                      - CLAUDE
                      - OPENAI
                      - POLAR
                      - BRIDGE_XYZ
                      - BRIDGE_API
                      - CHARGEBEE_BILLING
                      - CHAINDOTS
                      - CLOUDSIGNAL
                      - COINBASE
                      - COURIER
                      - CURSOR
                      - MERAKI
                      - MICROSOFT_GRAPH
                      - MICROSOFT_SHAREPOINT
                      - FIREBLOCKS
                      - FRONTAPP
                      - ZOOM
                      - TWITTER
                      - RECHARGE
                      - RECURLY
                      - REVOLUT
                      - RING_CENTRAL
                      - STRIPE
                      - PROPERTY-FINDER
                      - QUOTER
                      - SHOPIFY
                      - TWILIO
                      - GITHUB
                      - POSTMARK
                      - TALLY
                      - TYPEFORM
                      - PICQER
                      - XERO
                      - SVIX
                      - RESEND
                      - GEMINI
                      - ADYEN
                      - AKENEO
                      - GITLAB
                      - WOOCOMMERCE
                      - OKTA
                      - OURA
                      - COMMERCELAYER
                      - HUBSPOT
                      - MAILGUN
                      - PERSONA
                      - PIPEDRIVE
                      - SENDGRID
                      - WORKOS
                      - SYNCTERA
                      - AWS_SNS
                      - THREE_D_EYE
                      - TWITCH
                      - ENODE
                      - FAUNDIT
                      - FAVRO
                      - LINEAR
                      - SHIPBOB
                      - SHIPHERO
                      - SHOPLINE
                      - WIX
                      - NMI
                      - NEON
                      - ORB
                      - PYLON
                      - RAZORPAY
                      - REPAY
                      - SQUARE
                      - SOLIDGATE
                      - TRELLO
                      - EBAY
                      - TELNYX
                      - DISCORD
                      - TOKENIO
                      - FISERV
                      - FUSIONAUTH
                      - BONDSMITH
                      - VERCEL_LOG_DRAINS
                      - VERCEL
                      - TEBEX
                      - SLACK
                      - SMARTCAR
                      - MAILCHIMP
                      - NUVEMSHOP
                      - PADDLE
                      - PAYPAL
                      - PAYMOB
                      - PAYSTACK
                      - SCRAPFLY
                      - PORTAL
                      - TREEZOR
                      - PRAXIS
                      - CUSTOMERIO
                      - EXACT_ONLINE
                      - FACEBOOK
                      - WHATSAPP
                      - REPLICATE
                      - TIKTOK
                      - TIKTOK_SHOP
                      - AIRWALLEX
                      - ASCEND
                      - ALIPAY
                      - ZENDESK
                      - UPOLLO
                      - SMILE
                      - NYLAS
                      - CLIO
                      - GOCARDLESS
                      - LINKEDIN
                      - LITHIC
                      - STRAVA
                      - UTILA
                      - MONDAY
                      - GREENDOT
                      - ZEROHASH
                      - ZIFT
                      - ETHOCA
                      - AIRTABLE
                      - ASANA
                      - ASHBY
                      - FASTSPRING
                      - PAYPRO_GLOBAL
                      - USPS
                      - WALMART
                      - FIREFLIES
                      - FLEXPORT
                      - UBER
                      - WECHAT
                      - CIRCLE
                      description: Type of the source
                      default: WEBHOOK
                    description:
                      type:
                      - string
                      - 'null'
                      maxLength: 500
                      description: Description for the source
                    config:
                      $ref: '#/components/schemas/SourceTypeConfig'
                  required:
                  - name
                  additionalProperties: false
                  description: Source input object
                rules:
                  type: array
                  items:
                    $ref: '#/components/schemas/Rule'
              additionalProperties: false
    put:
      operationId: upsertConnection
      summary: Create/Update a connection
      description: This endpoint creates a connection, or updates an existing connection by name. A connection's source and destination cannot be updated.
      tags:
      - Connections
      responses:
        '200':
          description: A single connection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type:
                  - string
                  - 'null'
                  pattern: ^[A-z0-9-_]+$
                  maxLength: 155
                  description: A unique name of the connection for the source
                description:
                  type:
                  - string
                  - 'null'
                  maxLength: 500
                  description: Description for the connection
                destination_id:
                  type:
                  - string
                  - 'null'
                  maxLength: 255
                  description: ID of a destination to bind to the connection
                source_id:
                  type:
                  - string
                  - 'null'
                  maxLength: 255
                  description: ID of a source to bind to the connection
                destination:
                  type: object
                  properties:
                    name:
                      type: string
                      pattern: ^[A-z0-9-_]+$
                      maxLength: 155
                      description: Name for the destination
                    type:
                      type: string
                      enum:
                      - HTTP
                      - CLI
                      - MOCK_API
                      description: Type of the destination
                      default: HTTP
                    description:
                      type:
                      - string
                      - 'null'
                      maxLength: 500
                      description: Description for the destination
                    config:
                      $ref: '#/components/schemas/VerificationConfig'
                  required:
                  - name
                  additionalProperties: false
                  description: Destination input object
                source:
                  type: object
                  properties:
                    name:
                      type: string
                      pattern: ^[A-z0-9-_]+$
                      maxLength: 155
                      description: A unique name for the source
                    type:
                      type: string
                      enum:
                      - AIPRISE
                      - ALCHEMY
                      - DOCUSIGN
                      - INTERCOM
                      - PUBLISH_API
                      - WEBHOOK
                      - HTTP
                      - MANAGED
                      - HOOKDECK_OUTPOST
                      - SANITY
                      - BIGCOMMERCE
                      - CLAUDE
                      - OPENAI
                      - POLAR
                      - BRIDGE_XYZ
                      - BRIDGE_API
                      - CHARGEBEE_BILLING
                      - CHAINDOTS
                      - CLOUDSIGNAL
                      - COINBASE
                      - COURIER
                      - CURSOR
                      - MERAKI
                      - MICROSOFT_GRAPH
                      - MICROSOFT_SHAREPOINT
                      - FIREBLOCKS
                      - FRONTAPP
                      - ZOOM
                      - TWITTER
                      - RECHARGE
                      - RECURLY
                      - REVOLUT
                      - RING_CENTRAL
                      - STRIPE
                      - PROPERTY-FINDER
                      - QUOTER
                      - SHOPIFY
                      - TWILIO
                      - GITHUB
                      - POSTMARK
                      - TALLY
                      - TYPEFORM
                      - PICQER
                      - XERO
                      - SVIX
                      - RESEND
                      - GEMINI
                      - ADYEN
                      - AKENEO
                      - GITLAB
                      - WOOCOMMERCE
                      - OKTA
                      - OURA
                      - COMMERCELAYER
                      - HUBSPOT
                      - MAILGUN
                      - PERSONA
                      - PIPEDRIVE
                      - SENDGRID
                      - WORKOS
                      - SYNCTERA
                      - AWS_SNS
                      - THREE_D_EYE
                      - TWITCH
                      - ENODE
                      - FAUNDIT
                      - FAVRO
                      - LINEAR
                      - SHIPBOB
                      - SHIPHERO
                      - SHOPLINE
                      - WIX
                      - NMI
                      - NEON
                      - ORB
                      - PYLON
                      - RAZORPAY
                      - REPAY
                      - SQUARE
                      - SOLIDGATE
                      - TRELLO
                      - EBAY
                      - TELNYX
                      - DISCORD
                      - TOKENIO
                      - FISERV
                      - FUSIONAUTH
                      - BONDSMITH
                      - VERCEL_LOG_DRAINS
                      - VERCEL
                      - TEBEX
                      - SLACK
                      - SMARTCAR
                      - MAILCHIMP
                      - NUVEMSHOP
                      - PADDLE
                      - PAYPAL
                      - PAYMOB
                      - PAYSTACK
                      - SCRAPFLY
                      - PORTAL
                      - TREEZOR
                      - PRAXIS
                      - CUSTOMERIO
                      - EXACT_ONLINE
                      - FACEBOOK
                      - WHATSAPP
                      - REPLICATE
                      - TIKTOK
                      - TIKTOK_SHOP
                      - AIRWALLEX
                      - ASCEND
                      - ALIPAY
                      - ZENDESK
                      - UPOLLO
                      - SMILE
                      - NYLAS
                      - CLIO
                      - GOCARDLESS
                      - LINKEDIN
                      - LITHIC
                      - STRAVA
                      - UTILA
                      - MONDAY
                      - GREENDOT
                      - ZEROHASH
                      - ZIFT
                      - ETHOCA
                      - AIRTABLE
                      - ASANA
                      - ASHBY
                      - FASTSPRING
                      - PAYPRO_GLOBAL
                      - USPS
                      - WALMART
                      - FIREFLIES
                      - FLEXPORT
                      - UBER
                      - WECHAT
                      - CIRCLE
                      description: Type of the source
                      default: WEBHOOK
                    description:
                      type:
                      - string
                      - 'null'
                      maxLength: 500
                      description: Description for the source
                    config:
                      $ref: '#/components/schemas/SourceTypeConfig'
                  required:
                  - name
                  additionalProperties: false
                  description: Source input object
                rules:
                  type: array
                  items:
                    $ref: '#/components/schemas/Rule'
              additionalProperties: false
  /connections/count:
    get:
      operationId: countConnections
      summary: Count connections
      description: ''
      tags:
      - Connections
      responses:
        '200':
          description: Count of connections
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: number
                    format: float
                    description: Count of connections
                required:
                - count
                additionalProperties: false
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      parameters:
      - in: query
        name: destination_id
        schema:
          anyOf:
          - type: string
            maxLength: 255
          - type: array
            items:
              type: string
              maxLength: 255
          description: Filter by associated destination IDs
      - in: query
        name: source_id
        schema:
          anyOf:
          - type: string
            maxLength: 255
          - type: array
            items:
              type: string
              maxLength: 255
          description: Filter by associated source IDs
      - in: query
        name: disabled
        schema:
          type: boolean
          description: Include disabled resources in the response
      - in: query
        name: disabled_at
        schema:
          anyOf:
          - type:
            - string
            - 'null'
            format: date-time
          - $ref: '#/components/schemas/Operators'
          description: Date the connection was disabled
      - in: query
        name: paused_at
        schema:
          anyOf:
          - type:
            - string
            - 'null'
            format: date-time
          - $ref: '#/components/schemas/Operators'
          description: Date the connection was paused
  /connections/{id}:
    get:
      operationId: getConnection
      summary: Retrieve a connection
      description: This endpoint retrieves a specific connection.
      tags:
      - Connections
      responses:
        '200':
          description: A single connection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
        '410':
          description: Gone
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      parameters:
      - in: path
        name: id
        schema:
          type: string
          description: Connection ID
        required: true
    put:
      operationId: updateConnection
      summary: Update a connection
      description: This endpoint updates a connection.
      tags:
      - Connections
      responses:
        '200':
          description: A single connection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      parameters:
      - in: path
        name: id
        schema:
          type: string
          description: Connection ID
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type:
                  - string
                  - 'null'
                  pattern: ^[A-z0-9-_]+$
                  maxLength: 155
                description:
                  type:
                  - string
                  - 'null'
                  maxLength: 500
                  description: Description for the connection
                rules:
                  type: array
                  items:
                    $ref: '#/components/schemas/Rule'
              additionalProperties: false
    delete:
      operationId: deleteConnection
      summary: Delete a connection
      description: This endpoint permanently deletes a connection. This action cannot be undone.
      tags:
      - Connections
      responses:
        '200':
          description: A single connection
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: ID of the connection
                required:
                - id
                additionalProperties: false
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      parameters:
      - in: path
        name: id
        schema:
          type: string
        required: true
  /connections/{id}/disable:
    put:
      operationId: disableConnection
      summary: Disable a connection
      description: This endpoint disables a connection. Notice that a connection is enabled by default when created. A disabled connection will no longer receive or deliver any events.
      tags:
      - Connections
      responses:
        '200':
          description: A single connection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      parameters:
      - in: path
        name: id
        schema:
          type: string
          description: Connection ID
        required: true
  /connections/{id}/archive:
    put:
      operationId: disableConnection_archive
      summary: Disable a connection
      description: This endpoint disables a connection. Notice that a connection is enabled by default when created. A disabled connection will no longer receive or deliver any events.
      tags:
      - Connections
      responses:
        '200':
          description: A single connection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      parameters:
      - in: path
        name: id
        schema:
          type: string
          description: Connection ID
        required: true
  /connections/{id}/enable:
    put:
      operationId: enableConnection
      summary: Enable a connection
      description: This endpoint enables a connection that has been previously disabled. The associated source and destination will also be enabled if they were previously disabled.
      tags:
      - Connections
      responses:
        '200':
          description: A single connection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      parameters:
      - in: path
        name: id
        schema:
          type: string
          description: Connection ID
        required: true
  /connections/{id}/unarchive:
    put:
      operationId: enableConnection_unarchive
      summary: Enable a connection
      description: This endpoint enables a connection that has been previously disabled. The associated source and destination will also be enabled if they were previously disabled.
      tags:
      - Connections
      responses:
        '200':
          description: A single connection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      parameters:
      - in: path
        name: id
        schema:
          type: string
          description: Connection ID
        required: true
  /connections/{id}/pause:
    put:
      operationId: pauseConnection
      summary: Pause a connection
      description: This endpoint pauses a connection. A paused connection will still receive events, but those events will be marked with a status of `HOLD` and will be delivered only once the connection is unpaused.
      tags:
      - Connections
      responses:
        '200':
          description: A single connection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      parameters:
      - in: path
        name: id
        schema:
          type: string
          description: Connection ID
        required: true
  /connections/{id}/unpause:
    put:
      operationId: unpauseConnection
      summary: Unpause a connection
      description: This endpoint unpauses a connection. Any event with a status of `HOLD` will be attempted. Destination delivery rate will be respected. This operation is asynchronous, so it may take some time for all events to be `QUEUED` for delivery.
      tags:
      - Connections
      responses:
        '200':
          description: A single connection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      parameters:
      - in: path
        name: id
        schema:
          type: string
          description: Connection ID
        required: true
components:
  schemas:
    SourceConfigWebhookAuthFlexport:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: FLEXPORT
    SourceConfigAlchemyAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Alchemy
    SourceTypeConfigSMILE:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigSmileAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for SMILE. Requires type to be `SMILE`.
      x-docs-type: SMILE
      x-docs-external-url: https://docs.getsmileapi.com/reference/webhooks#validating-payloads
    SourceConfigAlipayAuth:
      type:
      - object
      - 'null'
      properties:
        public_key:
          type: string
      required:
      - public_key
      additionalProperties: false
      x-docs-type: Alipay
    SourceConfigAkeneoAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Akeneo
    SourceConfigWebhookAuthTelnyx:
      type: object
      properties:
        public_key:
          type: string
      required:
      - public_key
      additionalProperties: false
      x-docs-type: TELNYX
    SourceTypeConfigUBER:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigUberAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for UBER. Requires type to be `UBER`.
      x-docs-type: UBER
      x-docs-external-url: https://developer.uber.com/docs/eats/guides/webhooks#webhook-security
    SourceConfigClaudeAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Claude
    SourceConfigWebhookAuthWooCommerce:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: WOOCOMMERCE
    SourceConfigSyncteraAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Synctera
    SourceConfigTikTokAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: TikTok
    SourceConfigWebhookAuthLinear:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: LINEAR
    DestinationConfigHTTPAuthBasicAuth:
      type: object
      properties:
        username:
          type: string
        password:
          type: string
      additionalProperties: false
      x-docs-type: BASIC_AUTH
    SourceTypeConfigPUBLISH_API:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigHookdeckPublishAPIAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for PUBLISH_API. Requires type to be `PUBLISH_API`.
      x-docs-type: PUBLISH_API
    SourceTypeConfigSQUARE:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigSquareAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for SQUARE. Requires type to be `SQUARE`.
      x-docs-type: SQUARE
      x-docs-external-url: https://developer.squareup.com/docs/webhooks/step3validate
    DestinationConfigHTTPAuthAPIKey:
      type: object
      properties:
        key:
          type: string
        api_key:
          type: string
        to:
          type: string
          enum:
          - header
          - query
      additionalProperties: false
      x-docs-type: API_KEY
    SourceConfigWebhookAuthWix:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: WIX
    SourceConfigWebhookAuthFiserv:
      type: object
      properties:
        webhook_secret_key:
          type: string
        store_name:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: FISERV
    SourceTypeConfigSHIPHERO:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigShipHeroAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for SHIPHERO. Requires type to be `SHIPHERO`.
      x-docs-type: SHIPHERO
      x-docs-external-url: https://developer.shiphero.com/webhooks/#webhook_verification
    SourceConfigWebhookAuthMailgun:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: MAILGUN
    SourceTypeConfigRECURLY:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigRecurlyAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for RECURLY. Requires type to be `RECURLY`.
      x-docs-type: RECURLY
      x-docs-external-url: https://docs.recurly.com/recurly-subscriptions/docs/signature-verification
    SourceConfigWebhookAuthClio:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: CLIO
    SourceConfigUpolloAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Upollo
    SourceConfigWebhookAuthPolar:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: POLAR
    SourceTypeConfigMANAGED:
      type: object
      properties:
        auth:
          type: object
          properties:
            token:
              type: string
          required:
          - token
          additionalProperties: false
      additionalProperties: false
      x-docs-type: MANAGED
    SourceConfigWebhookAuthAirtable:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: AIRTABLE
    SourceConfigWebhookAuthShopline:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: SHOPLINE
    SourceTypeConfigNYLAS:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigNylasAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for NYLAS. Requires type to be `NYLAS`.
      x-docs-type: NYLAS
      x-docs-external-url: https://developer.nylas.com/docs/v3/getting-started/webhooks/
    SourceTypeConfigZENDESK:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigZendeskAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for ZENDESK. Requires type to be `ZENDESK`.
      x-docs-type: ZENDESK
      x-docs-external-url: https://developer.zendesk.com/documentation/webhooks/verifying/
    SourceConfigWebhookAuthShipBob:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: SHIPBOB
    SourceTypeConfigTWITTER:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigXAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for TWITTER. Requires type to be `TWITTER`.
      x-docs-type: TWITTER
      x-docs-external-url: https://developer.x.com/en/docs/x-api/enterprise/account-activity-api/guides/securing-webhooks
    SourceConfigFacebookAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Facebook
    SourceConfigGitHubAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: GitHub
    SourceConfigWebhookAuthOkta:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: OKTA
    SourceConfigWebhookAuthSolidgate:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: SOLIDGATE
    SourceTypeConfigZOOM:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigZoomAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for ZOOM. Requires type to be `ZOOM`.
      x-docs-type: ZOOM
      x-docs-external-url: https://developers.zoom.us/docs/api/webhooks/#verify-webhook-events
    SourceConfigHTTPAuthAPIKey:
      type: object
      properties:
        header_key:
          type: string
        api_key:
          type: string
      additionalProperties: false
      x-docs-type: API_KEY
    SourceTypeConfigSLACK:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigSlackAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for SLACK. Requires type to be `SLACK`.
      x-docs-type: SLACK
      x-docs-external-url: https://api.slack.com/authentication/verifying-requests-from-slack#validating-a-request
    DestinationConfigMockAPIAuthAWSSignature:
      type: object
      properties:
        access_key_id:
          type: string
        secret_access_key:
          type: string
        region:
          type: string
        service:
          type: string
      additionalProperties: false
      x-docs-type: AWS_SIGNATURE
    SourceConfigWebhookAuthEnode:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: ENODE
    SourceConfigWebhookAuthGitHub:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: GITHUB
    SourceTypeConfigDOCUSIGN:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigDocuSignAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for DOCUSIGN. Requires type to be `DOCUSIGN`.
      x-docs-type: DOCUSIGN
      x-docs-external-url: https://developers.docusign.com/platform/webhooks/connect/validate/
    SourceTypeConfigUPOLLO:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigUpolloAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for UPOLLO. Requires type to be `UPOLLO`.
      x-docs-type: UPOLLO
      x-docs-external-url: https://app.upollo.ai/docs/reference/webhooks#sign-up-for-upollo
    SourceConfigMerakiAuth:
      type:
      - object
      - 'null'
      properties:
        api_key:
          type: string
      required:
      - api_key
      additionalProperties: false
      x-docs-type: Meraki
    SourceConfigWebhookAuthNMIPaymentGateway:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: NMI
    SourceConfigDiscordAuth:
      type:
      - object
      - 'null'
      properties:
        public_key:
          type: string
      required:
      - public_key
      additionalProperties: false
      x-docs-type: Discord
    SourceConfigWebhookAuth3dEye:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: THREE_D_EYE
    SourceConfigAscendAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Ascend
    SourceConfigFiservAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
        store_name:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Fiserv
    SourceConfigAirtableAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Airtable
    SourceConfigWebhookAuthExactOnline:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: EXACT_ONLINE
    SourceTypeConfigSHOPIFY:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigShopifyAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for SHOPIFY. Requires type to be `SHOPIFY`.
      x-docs-type: SHOPIFY
      x-docs-external-url: https://shopify.dev/docs/apps/build/webhooks/subscribe/https#step-2-validate-the-origin-of-your-webhook-to-ensure-its-coming-from-shopify
    SourceTypeConfigTHREE_D_EYE:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfig3dEyeAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for THREE_D_EYE. Requires type to be `THREE_D_EYE`.
      x-docs-type: THREE_D_EYE
    SourceConfigWebhookAuthOrb:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: ORB
    SourceConfigPersonaAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Persona
    SourceConfigWebhookAuthScrapfly:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: SCRAPFLY
    SourceTypeConfigSTRAVA:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigStravaAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for STRAVA. Requires type to be `STRAVA`.
      x-docs-type: STRAVA
    Destination:
      type: object
      properties:
        id:
          type: string
          description: ID of the destination
        name:
          type: string
          description: A unique, human-friendly name for the destination
        description:
          type:
          - string
          - 'null'
          description: Description of the destination
        team_id:
          type: string
          description: ID of the project
        type:
          type: string
          enum:
          - HTTP
          - CLI
          - MOCK_API
          description: Type of the destination
        config:
          $ref: '#/components/schemas/DestinationConfig'
        disabled_at:
          type:
          - string
          - 'null'
          format: date-time
          description: Date the destination was disabled
        updated_at:
          type: string
          format: date-time
          description: Date the destination was last updated
        created_at:
          type: string
          format: date-time
          description: Date the destination was created
      required:
      - id
      - name
      - team_id
      - type
      - disabled_at
      - updated_at
      - created_at
      additionalProperties: false
      description: Associated [Destination](#destination-object) object
    SourceConfigWebhookAuthFireblocks:
      type: object
      properties:
        environment:
          type: string
          enum:
          - US_PRODUCTION
          - EU
          - EU2
          - SANDBOX
      required:
      - environment
      additionalProperties: false
      x-docs-type: FIREBLOCKS
    SourceConfigPaypalAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_id:
          type: string
      required:
      - webhook_id
      additionalProperties: false
      x-docs-type: Paypal
    SourceConfigOktaAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Okta
    SourceTypeConfigMERAKI:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigMerakiAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for MERAKI. Requires type to be `MERAKI`.
      x-docs-type: MERAKI
      x-docs-external-url: https://developer.cisco.com/meraki/webhooks/introduction/#shared-secret
    DestinationConfigHTTPAuthCustomSHA256HMACSignature:
      type: object
      properties:
        key:
          type: string
        signing_secret:
          type: string
      additionalProperties: false
      x-docs-type: CUSTOM_SIGNATURE
    SourceConfigPraxisAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Praxis
    RetryRule:
      type: object
      properties:
        type:
          type: string
          enum:
          - retry
          description: A retry rule must be of type `retry`
        strategy:
          $ref: '#/components/schemas/RetryStrategy'
        interval:
          type:
          - integer
          - 'null'
          description: Time in MS between each retry
        count:
          type:
          - integer
          - 'null'
          description: Maximum number of retries to attempt
        response_status_codes:
          type:
          - array
          - 'null'
          items:
            type: string
            pattern: ^(?:([2-5]\d{2})-([2-5]\d{2})|([><=]{1,2})([2-5]\d{2})|!?([2-5]\d{2}))$
          minItems: 1
          maxItems: 10
          description: 'HTTP codes to retry on. Accepts: range expressions (e.g., "400-499", ">400"), specific codes (e.g., 404), and exclusions (e.g., "!401"). Example: ["500-599", ">400", 404, "!401"]'
      required:
      - type
      - strategy
      additionalProperties: false
    SourceTypeConfigPROPERTYFINDER:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigPropertyFinderAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for PROPERTY-FINDER. Requires type to be `PROPERTY-FINDER`.
      x-docs-type: PROPERTY-FINDER
    SourceConfigHubspotAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Hubspot
    SourceConfigVercelDrainsAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      additionalProperties: false
      x-docs-type: Vercel Drains
    SourceConfigExactOnlineAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Exact Online
    SourceConfigUberAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Uber
    SourceConfig3dEyeAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: 3d Eye
    SourceTypeConfigSHOPLINE:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigShoplineAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for SHOPLINE. Requires type to be `SHOPLINE`.
      x-docs-type: SHOPLINE
      x-docs-external-url: https://developer.shopline.com/docsv2/ec20/3cv5d7wpfgr6a8z5/wf8em731s7f8c3ut?version=v20240301#signature-verification
    DestinationConfigCLIAuthBasicAuth:
      type: object
      properties:
        username:
          type: string
        password:
          type: string
      additionalProperties: false
      x-docs-type: BASIC_AUTH
    SourceConfigPylonAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Pylon
    SourceConfigWebhookAuthEmpty:
      x-docs-hide: true
      x-docs-nullable: true
    SourceConfigWebhookAuthBridgeStablecoins:
      type: object
      properties:
        public_key:
          type: string
      required:
      - public_key
      additionalProperties: false
      x-docs-type: BRIDGE_XYZ
    SourceConfigGitLabAuth:
      type:
      - object
      - 'null'
      properties:
        api_key:
          type: string
      required:
      - api_key
      additionalProperties: false
      x-docs-type: GitLab
    SourceTypeConfigZIFT:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigZiftAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for ZIFT. Requires type to be `ZIFT`.
      x-docs-type: ZIFT
      x-docs-external-url: https://api.zift.io/#webhooks
    SourceConfigIntercomAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Intercom
    SourceConfigWebhookAuthTrello:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: TRELLO
    SourceConfigWebhookAuthSynctera:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: SYNCTERA
    SourceTypeConfigTOKENIO:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigTokenIOAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for TOKENIO. Requires type to be `TOKENIO`.
      x-docs-type: TOKENIO
      x-docs-external-url: https://developer.token.io/token_rest_api_doc/content/e-rest/webhooks.htm?Highlight=webhook#Signature
    SourceTypeConfigPAYSTACK:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigPaystackAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for PAYSTACK. Requires type to be `PAYSTACK`.
      x-docs-type: PAYSTACK
      x-docs-external-url: https://paystack.com/docs/payments/webhooks/#verify-event-origin
    SourceTypeConfigOURA:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigOuraAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for OURA. Requires type to be `OURA`.
      x-docs-type: OURA
      x-docs-external-url: https://cloud.ouraring.com/v2/docs#section/Security
    SourceTypeConfigOPENAI:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigOpenAIAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for OPENAI. Requires type to be `OPENAI`.
      x-docs-type: OPENAI
    SourceConfigWebhookAuthPylon:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: PYLON
    SourceConfigWebhookAuthQuoter:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: QUOTER
    SourceTypeConfigTREEZOR:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigTreezorAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for TREEZOR. Requires type to be `TREEZOR`.
      x-docs-type: TREEZOR
      x-docs-external-url: https://docs.treezor.com/guide/webhooks/integrity-checks.html
    SourceConfigFlexportAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Flexport
    SourceTypeConfigFRONTAPP:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigFrontAppAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for FRONTAPP. Requires type to be `FRONTAPP`.
      x-docs-type: FRONTAPP
      x-docs-external-url: https://dev.frontapp.com/docs/webhooks-1#verifying-integrity
    SourceTypeConfigAIPRISE:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigAipriseAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for AIPRISE. Requires type to be `AIPRISE`.
      x-docs-type: AIPRISE
      x-docs-external-url: https://docs.aiprise.com/docs/callbacks-authentication
    SourceTypeConfigMICROSOFT_SHAREPOINT:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigMicrosoftSharePointAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for MICROSOFT_SHAREPOINT. Requires type to be `MICROSOFT_SHAREPOINT`.
      x-docs-type: MICROSOFT_SHAREPOINT
      x-docs-external-url: https://learn.microsoft.com/en-us/sharepoint/dev/apis/webhooks/overview-sharepoint-webhooks
    SourceConfigCursorAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Cursor
    DestinationConfig:
      type: object
      properties: {}
      additionalProperties: false
      oneOf:
      - $ref: '#/components/schemas/DestinationTypeConfigHTTP'
      - $ref: '#/components/schemas/DestinationTypeConfigCLI'
      - $ref: '#/components/schemas/DestinationTypeConfigMOCK_API'
      description: Configuration object for the destination type
      default: {}
    SourceConfigWebhookAuthZeroHash:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: ZEROHASH
    SourceConfigGreenDotAuth:
      type:
      - object
      - 'null'
      properties:
        username:
          type: string
        password:
          type: string
      required:
      - username
      - password
      additionalProperties: false
      x-docs-type: GreenDot
    SourceConfigPipedriveAuth:
      type:
      - object
      - 'null'
      properties:
        username:
          type: string
        password:
          type: string
      required:
      - username
      - password
      additionalProperties: false
      x-docs-type: Pipedrive
    SourceConfigTallyAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Tally
    SourceTypeConfig:
      type: object
      properties: {}
      additionalProperties: false
      oneOf:
      - $ref: '#/components/schemas/SourceTypeConfigAIPRISE'
      - $ref: '#/components/schemas/SourceTypeConfigALCHEMY'
      - $ref: '#/components/schemas/SourceTypeConfigDOCUSIGN'
      - $ref: '#/components/schemas/SourceTypeConfigINTERCOM'
      - $ref: '#/components/schemas/SourceTypeConfigPUBLISH_API'
      - $ref: '#/components/schemas/SourceTypeConfigWEBHOOK'
      - $ref: '#/components/schemas/SourceTypeConfigHTTP'
      - $ref: '#/components/schemas/SourceTypeConfigMANAGED'
      - $ref: '#/components/schemas/SourceTypeConfigHOOKDECK_OUTPOST'
      - $ref: '#/components/schemas/SourceTypeConfigSANITY'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigBIGCOMMERCE'
      - $ref: '#/components/schemas/SourceTypeConfigCLAUDE'
      - $ref: '#/components/schemas/SourceTypeConfigOPENAI'
      - $ref: '#/components/schemas/SourceTypeConfigPOLAR'
      - $ref: '#/components/schemas/SourceTypeConfigBRIDGE_XYZ'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigBRIDGE_API'
      - $ref: '#/components/schemas/SourceTypeConfigCHARGEBEE_BILLING'
      - $ref: '#/components/schemas/SourceTypeConfigCHAINDOTS'
      - $ref: '#/components/schemas/SourceTypeConfigCLOUDSIGNAL'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigCOINBASE'
      - $ref: '#/components/schemas/SourceTypeConfigCOURIER'
      - $ref: '#/components/schemas/SourceTypeConfigCURSOR'
      - $ref: '#/components/schemas/SourceTypeConfigMERAKI'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigMICROSOFT_GRAPH'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigMICROSOFT_SHAREPOINT'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigFIREBLOCKS'
      - $ref: '#/components/schemas/SourceTypeConfigFRONTAPP'
      - $ref: '#/components/schemas/SourceTypeConfigZOOM'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigTWITTER'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigRECHARGE'
      - $ref: '#/components/schemas/SourceTypeConfigRECURLY'
      - $ref: '#/components/schemas/SourceTypeConfigREVOLUT'
      - $ref: '#/components/schemas/SourceTypeConfigRING_CENTRAL'
      - $ref: '#/components/schemas/SourceTypeConfigSTRIPE'
      - $ref: '#/components/schemas/SourceTypeConfigPROPERTYFINDER'
      - $ref: '#/components/schemas/SourceTypeConfigQUOTER'
      - $ref: '#/components/schemas/SourceTypeConfigSHOPIFY'
      - $ref: '#/components/schemas/SourceTypeConfigTWILIO'
      - $ref: '#/components/schemas/SourceTypeConfigGITHUB'
      - $ref: '#/components/schemas/SourceTypeConfigPOSTMARK'
      - $ref: '#/components/schemas/SourceTypeConfigTALLY'
      - $ref: '#/components/schemas/SourceTypeConfigTYPEFORM'
      - $ref: '#/components/schemas/SourceTypeConfigPICQER'
      - $ref: '#/components/schemas/SourceTypeConfigXERO'
      - $ref: '#/components/schemas/SourceTypeConfigSVIX'
      - $ref: '#/components/schemas/SourceTypeConfigRESEND'
      - $ref: '#/components/schemas/SourceTypeConfigGEMINI'
      - $ref: '#/components/schemas/SourceTypeConfigADYEN'
      - $ref: '#/components/schemas/SourceTypeConfigAKENEO'
      - $ref: '#/components/schemas/SourceTypeConfigGITLAB'
      - $ref: '#/components/schemas/SourceTypeConfigWOOCOMMERCE'
      - $ref: '#/components/schemas/SourceTypeConfigOKTA'
      - $ref: '#/components/schemas/SourceTypeConfigOURA'
      - $ref: '#/components/schemas/SourceTypeConfigCOMMERCELAYER'
      - $ref: '#/components/schemas/SourceTypeConfigHUBSPOT'
      - $ref: '#/components/schemas/SourceTypeConfigMAILGUN'
      - $ref: '#/components/schemas/SourceTypeConfigPERSONA'
      - $ref: '#/components/schemas/SourceTypeConfigPIPEDRIVE'
      - $ref: '#/components/schemas/SourceTypeConfigSENDGRID'
      - $ref: '#/components/schemas/SourceTypeConfigWORKOS'
      - $ref: '#/components/schemas/SourceTypeConfigSYNCTERA'
      - $ref: '#/components/schemas/SourceTypeConfigAWS_SNS'
      - $ref: '#/components/schemas/SourceTypeConfigTHREE_D_EYE'
      - $ref: '#/components/schemas/SourceTypeConfigTWITCH'
      - $ref: '#/components/schemas/SourceTypeConfigENODE'
      - $ref: '#/components/schemas/SourceTypeConfigFAUNDIT'
      - $ref: '#/components/schemas/SourceTypeConfigFAVRO'
      - $ref: '#/components/schemas/SourceTypeConfigLINEAR'
      - $ref: '#/components/schemas/SourceTypeConfigSHIPBOB'
      - $ref: '#/components/schemas/SourceTypeConfigSHIPHERO'
      - $ref: '#/components/schemas/SourceTypeConfigSHOPLINE'
      - $ref: '#/components/schemas/SourceTypeConfigWIX'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigNMI'
      - $ref: '#/components/schemas/SourceTypeConfigNEON'
      - $ref: '#/components/schemas/SourceTypeConfigORB'
      - $ref: '#/components/schemas/SourceTypeConfigPYLON'
      - $ref: '#/components/schemas/SourceTypeConfigRAZORPAY'
      - $ref: '#/components/schemas/SourceTypeConfigREPAY'
      - $ref: '#/components/schemas/SourceTypeConfigSQUARE'
      - $ref: '#/components/schemas/SourceTypeConfigSOLIDGATE'
      - $ref: '#/components/schemas/SourceTypeConfigTRELLO'
      - $ref: '#/components/schemas/SourceTypeConfigEBAY'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigTELNYX'
      - $ref: '#/components/schemas/SourceTypeConfigDISCORD'
      - $ref: '#/components/schemas/SourceTypeConfigTOKENIO'
      - $ref: '#/components/schemas/SourceTypeConfigFISERV'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigFUSIONAUTH'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigBONDSMITH'
      - $ref: '#/components/schemas/SourceTypeConfigVERCEL_LOG_DRAINS'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigVERCEL'
      - $ref: '#/components/schemas/SourceTypeConfigTEBEX'
      - $ref: '#/components/schemas/SourceTypeConfigSLACK'
      - $ref: '#/components/schemas/SourceTypeConfigSMARTCAR'
      - $ref: '#/components/schemas/SourceTypeConfigMAILCHIMP'
      - $ref: '#/components/schemas/SourceTypeConfigNUVEMSHOP'
      - $ref: '#/components/schemas/SourceTypeConfigPADDLE'
      - $ref: '#/components/schemas/SourceTypeConfigPAYPAL'
      - $ref: '#/components/schemas/SourceTypeConfigPAYMOB'
      - $ref: '#/components/schemas/SourceTypeConfigPAYSTACK'
      - $ref: '#/components/schemas/SourceTypeConfigSCRAPFLY'
      - $ref: '#/components/schemas/SourceTypeConfigPORTAL'
      - $ref: '#/components/schemas/SourceTypeConfigTREEZOR'
      - $ref: '#/components/schemas/SourceTypeConfigPRAXIS'
      - $ref: '#/components/schemas/SourceTypeConfigCUSTOMERIO'
      - $ref: '#/components/schemas/SourceTypeConfigEXACT_ONLINE'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigFACEBOOK'
      - $ref: '#/components/schemas/SourceTypeConfigWHATSAPP'
      - $ref: '#/components/schemas/SourceTypeConfigREPLICATE'
      - $ref: '#/components/schemas/SourceTypeConfigTIKTOK'
      - $ref: '#/components/schemas/SourceTypeConfigTIKTOK_SHOP'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigAIRWALLEX'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigASCEND'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigALIPAY'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigZENDESK'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigUPOLLO'
      - $ref: '#/components/schemas/SourceTypeConfigSMILE'
      - $ref: '#/components/schemas/SourceTypeConfigNYLAS'
      - $ref: '#/components/schemas/SourceTypeConfigCLIO'
      - $ref: '#/components/schemas/SourceTypeConfigGOCARDLESS'
      - $ref: '#/components/schemas/SourceTypeConfigLINKEDIN'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigLITHIC'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigSTRAVA'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigUTILA'
      - $ref: '#/components/schemas/SourceTypeConfigMONDAY'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigGREENDOT'
      - $ref: '#/components/schemas/SourceTypeConfigZEROHASH'
      - $ref: '#/components/schemas/SourceTypeConfigZIFT'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigETHOCA'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigAIRTABLE'
      - $ref: '#/components/schemas/SourceTypeConfigASANA'
      - $ref: '#/components/schemas/SourceTypeConfigASHBY'
      - $ref: '#/components/schemas/SourceTypeConfigFASTSPRING'
      - $ref: '#/components/schemas/SourceTypeConfigPAYPRO_GLOBAL'
      - $ref: '#/components/schemas/SourceTypeConfigUSPS'
      - $ref: '#/components/schemas/SourceTypeConfigWALMART'
      - $ref: '#/components/schemas/SourceTypeConfigFIREFLIES'
      - $ref: '#/components/schemas/SourceTypeConfigFLEXPORT'
      - $ref: '#/components/schemas/SourceTypeConfigUBER'
      - $ref: '#/components/schemas/SourceTypeConfigWECHAT'
      - $ref: '#/components/schemas/SourceTypeConfigCIRCLE'
        x-required: true
      description: The type configs for the specified type
      default: {}
    SourceConfigWebhookAuthRingCentral:
      type: object
      properties:
        token:
          type: string
      required:
      - token
      additionalProperties: false
      x-docs-type: RING_CENTRAL
    SourceConfigTebexAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Tebex
    DestinationConfigMockAPIAuthBasicAuth:
      type: object
      properties:
        username:
          type: string
        password:
          type: string
      additionalProperties: false
      x-docs-type: BASIC_AUTH
    TransformRule:
      type: object
      properties:
        type:
          type: string
          enum:
          - transform
          description: A transformation rule must be of type `transform`
        transformation_id:
          type:
          - string
          - 'null'
          description: ID of the attached transformation object. Optional input, always set once the rule is defined
        transformation:
          type: object
          properties:
            name:
              type: string
              description: The unique name of the transformation
            code:
              type: string
              description: A string representation of your JavaScript (ES6) code to run
            env:
              type:
              - object
              - 'null'
              properties: {}
              additionalProperties:
                type: string
              description: A key-value object of environment variables to encrypt and expose to your transformation code
          required:
          - name
          - code
          additionalProperties: false
          description: You can optionally define a new transformation while creating a transform rule
      required:
      - type
      additionalProperties: false
    SourceTypeConfigHTTP:
      type: object
      properties:
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
        auth_type:
          type:
          - string
          - 'null'
          enum:
          - HMAC
          - BASIC_AUTH
          - API_KEY
        auth:
          $ref: '#/components/schemas/SourceConfigHTTPAuth'
      additionalProperties: false
      description: The type config for HTTP. Requires type to be `HTTP`.
      x-docs-type: HTTP
    SourceTypeConfigWALMART:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigWalmartAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for WALMART. Requires type to be `WALMART`.
      x-docs-type: WALMART
      x-docs-external-url: https://developer.walmart.com/us-marketplace/docs/security-and-authenticity
    SourceTypeConfigSOLIDGATE:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigSolidgateAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for SOLIDGATE. Requires type to be `SOLIDGATE`.
      x-docs-type: SOLIDGATE
      x-docs-external-url: https://docs.solidgate.com/payments/integrate/webhooks/#security
    SourceTypeConfigTWILIO:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigTwilioAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for TWILIO. Requires type to be `TWILIO`.
      x-docs-type: TWILIO
      x-docs-external-url: https://www.twilio.com/docs/usage/webhooks/webhooks-security#validating-signatures-from-twilio
    SourceTypeConfigXERO:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigXeroAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for XERO. Requires type to be `XERO`.
      x-docs-type: XERO
      x-docs-external-url: https://developer.xero.com/documentation/guides/webhooks/configuring-your-server/
    SourceConfigWebhookAuthCourier:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: COURIER
    SourceTypeConfigOKTA:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigOktaAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for OKTA. Requires type to be `OKTA`.
      x-docs-type: OKTA
    SourceConfigWebhookAuthSmartcar:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: SMARTCAR
    SourceTypeConfigHOOKDECK_OUTPOST:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigManagedAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for HOOKDECK_OUTPOST. Requires type to be `HOOKDECK_OUTPOST`.
      x-docs-type: HOOKDECK_OUTPOST
    SourceTypeConfigWORKOS:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigWorkOSAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for WORKOS. Requires type to be `WORKOS`.
      x-docs-type: WORKOS
      x-docs-external-url: https://workos.com/docs/events/data-syncing/webhooks/3-process-the-events/b-validate-the-requests-manually
    SourceTypeConfigPOLAR:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigPolarAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for POLAR. Requires type to be `POLAR`.
      x-docs-type: POLAR
    SourceTypeConfigORB:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigOrbAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for ORB. Requires type to be `ORB`.
      x-docs-type: ORB
      x-docs-external-url: https://docs.withorb.com/guides/integrations-and-exports/webhooks#webhooks-verification
    SourceConfigMailgunAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Mailgun
    SourceConfigWebhookAuthFaundit:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: FAUNDIT
    SourceConfigSmileAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Smile
    SourceConfigBigCommerceAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: BigCommerce
    SourceConfigWebhookAuthTikTokShop:
      type: object
      properties:
        webhook_secret_key:
          type: string
        app_key:
          type: string
      required:
      - webhook_secret_key
      - app_key
      additionalProperties: false
      x-docs-type: TIKTOK_SHOP
    SourceTypeConfigNUVEMSHOP:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigNuvemshopAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for NUVEMSHOP. Requires type to be `NUVEMSHOP`.
      x-docs-type: NUVEMSHOP
      x-docs-external-url: https://tiendanube.github.io/api-documentation/resources/webhook
    SourceConfigWebhookAuthFacebook:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: FACEBOOK
    SourceConfigStravaAuth:
      type:
      - object
      - 'null'
      properties: {}
      additionalProperties: false
      x-docs-type: Strava
    SourceTypeConfigCHARGEBEE_BILLING:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigChargebeeBillingAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for CHARGEBEE_BILLING. Requires type to be `CHARGEBEE_BILLING`.
      x-docs-type: CHARGEBEE_BILLING
      x-docs-external-url: https://www.chargebee.com/docs/billing/2.0/site-configuration/webhook_settings#basic-authentication
    SourceTypeConfigRAZORPAY:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigRazorpayAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for RAZORPAY. Requires type to be `RAZORPAY`.
      x-docs-type: RAZORPAY
      x-docs-external-url: https://razorpay.com/docs/webhooks/validate-test/#validate-webhooks
    SourceConfigWebhookAuthVercelWebhooks:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: VERCEL
    SourceTypeConfigREVOLUT:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigRevolutAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for REVOLUT. Requires type to be `REVOLUT`.
      x-docs-type: REVOLUT
      x-docs-external-url: https://developer.revolut.com/docs/guides/accept-payments/tutorials/work-with-webhooks/verify-the-payload-signature
    SourceTypeConfigGITLAB:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigGitLabAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for GITLAB. Requires type to be `GITLAB`.
      x-docs-type: GITLAB
    SourceConfigWebhookAuthFusionAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: FUSIONAUTH
    SourceTypeConfigCIRCLE:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigCircleAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for CIRCLE. Requires type to be `CIRCLE`.
      x-docs-type: CIRCLE
      x-docs-external-url: https://developers.circle.com/cpn/guides/webhooks/verify-webhook-signatures
    DestinationConfigHTTPAuthAWSSignature:
      type: object
      properties:
        access_key_id:
          type: string
        secret_access_key:
          type: string
        region:
          type: string
        service:
          type: string
      additionalProperties: false
      x-docs-type: AWS_SIGNATURE
    SourceConfigWebhookAuthDiscord:
      type: object
      properties:
        public_key:
          type: string
      required:
      - public_key
      additionalProperties: false
      x-docs-type: DISCORD
    SourceTypeConfigFIREBLOCKS:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigFireblocksAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for FIREBLOCKS. Requires type to be `FIREBLOCKS`.
      x-docs-type: FIREBLOCKS
      x-docs-external-url: https://developers.fireblocks.com/reference/validating-webhooks
    SourceConfigGoCardlessAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: GoCardless
    SourceConfigHTTPAuthHMAC:
      type: object
      properties:
        algorithm:
          type: string
          enum:
          - sha1
          - sha256
          - sha512
          - md5
        encoding:
          type: string
          enum:
          - base64
          - base64url
          - hex
        header_key:
          type: string
        webhook_secret_key:
          type: string
      additionalProperties: false
      x-docs-type: HMAC
    SourceConfigWebhookAuthSmile:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: SMILE
    DestinationConfigHTTPAuthBearerToken:
      type: object
      properties:
        token:
          type: string
      additionalProperties: false
      x-docs-type: BEARER_TOKEN
    SourceConfigTikTokShopAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
        app_key:
          type: string
      required:
      - webhook_secret_key
      - app_key
      additionalProperties: false
      x-docs-type: TikTok Shop
    SourceTypeConfigPAYPAL:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigPaypalAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for PAYPAL. Requires type to be `PAYPAL`.
      x-docs-type: PAYPAL
      x-docs-external-url: https://developer.paypal.com/api/rest/webhooks/rest/
    SourceConfigWebhookAuthTwilio:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: TWILIO
    SourceConfigWebhookAuthLinkedIn:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: LINKEDIN
    SourceConfigWebhookAuthPaymob:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: PAYMOB
    SourceConfigWebhookAuthPipedrive:
      type: object
      properties:
        username:
          type: string
        password:
          type: string
      required:
      - username
      - password
      additionalProperties: false
      x-docs-type: PIPEDRIVE
    SourceConfigCircleAuth:
      type:
      - object
      - 'null'
      properties:
        api_key:
          type: string
      required:
      - api_key
      additionalProperties: false
      x-docs-type: Circle
    SourceTypeConfigTELNYX:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigTelnyxAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for TELNYX. Requires type to be `TELNYX`.
      x-docs-type: TELNYX
    SourceConfigAWSSNSAuth:
      type:
      - object
      - 'null'
      properties: {}
      additionalProperties: false
      x-docs-type: AWS SNS
    SourceConfigWebhookAuthNeon:
      type: object
      properties:
        neon_auth_url:
          type: string
      required:
      - neon_auth_url
      additionalProperties: false
      x-docs-type: NEON
    SourceTypeConfigPYLON:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigPylonAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for PYLON. Requires type to be `PYLON`.
      x-docs-type: PYLON
      x-docs-external-url: https://getpylon.com/developers/guides/using-webhooks/#event-signatures
    SourceTypeConfigSANITY:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigSanityAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for SANITY. Requires type to be `SANITY`.
      x-docs-type: SANITY
      x-docs-external-url: https://www.sanity.io/docs/webhooks
    SourceConfigWebhookAuthSendgrid:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: SENDGRID
    SourceTypeConfigUSPS:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigUSPSAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for USPS. Requires type to be `USPS`.
      x-docs-type: USPS
      x-docs-external-url: https://developers.usps.com/subscriptions-adjustmentsv3#tag/Listener-URL-Specification/operation/post-notification
    SourceTypeConfigSCRAPFLY:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigScrapflyAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for SCRAPFLY. Requires type to be `SCRAPFLY`.
      x-docs-type: SCRAPFLY
      x-docs-external-url: https://scrapfly.io/docs/scrape-api/webhook
    SourceConfigWebhookAuthShipHero:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: SHIPHERO
    SourceTypeConfigTIKTOK_SHOP:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigTikTokShopAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for TIKTOK_SHOP. Requires type to be `TIKTOK_SHOP`.
      x-docs-type: TIKTOK_SHOP
    SourceConfigZoomAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Zoom
    SourceConfigWebhookAuthStripe:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: STRIPE
    SourceTypeConfigALIPAY:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigAlipayAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for ALIPAY. Requires type to be `ALIPAY`.
      x-docs-type: ALIPAY
      x-docs-external-url: https://docs.alipayplus.com/alipayplus/alipayplus/api_acq_tile/signature
    SourceConfigWebhookAuthBondsmith:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: BONDSMITH
[...]
