openapi: 3.2.0
info:
  title: Hookdeck Bookmarks Attempts Connections API
  version: 1.0.0
  description: Save bookmarked events for quick replay and convenient one-click testing during development.
  contact:
    name: Hookdeck Support
    url: https://hookdeck.com/contact-us
    email: info@hookdeck.com
servers:
- url: https://api.hookdeck.com/2025-07-01
  description: Production API
security:
- bearerAuth: []
- basicAuth: []
tags:
- name: Connections
  description: A connection lets you route webhooks from a source to a destination, using a rule.
paths:
  /connections:
    get:
      operationId: getConnections
      summary: Retrieve connections
      description: This endpoint lists connections, or a subset of connections.
      tags:
      - Connections
      responses:
        '200':
          description: List of connections
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionPaginatedResult'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      parameters:
      - in: query
        name: id
        schema:
          anyOf:
          - type: string
            maxLength: 255
          - type: array
            items:
              type: string
              maxLength: 255
          description: Filter by connection IDs
      - in: query
        name: name
        schema:
          anyOf:
          - type:
            - string
            - 'null'
            pattern: ^[A-z0-9-_]+$
            maxLength: 155
          - $ref: '#/components/schemas/Operators'
          - type: array
            items:
              type:
              - string
              - 'null'
              pattern: ^[A-z0-9-_]+$
              maxLength: 155
          description: Filter by connection name
      - in: query
        name: destination_id
        schema:
          anyOf:
          - type: string
            maxLength: 255
          - type: array
            items:
              type: string
              maxLength: 255
          description: Filter by associated destination IDs
      - in: query
        name: source_id
        schema:
          anyOf:
          - type: string
            maxLength: 255
          - type: array
            items:
              type: string
              maxLength: 255
          description: Filter by associated source IDs
      - in: query
        name: disabled
        schema:
          type: boolean
          description: Include disabled resources in the response
      - in: query
        name: disabled_at
        schema:
          anyOf:
          - type:
            - string
            - 'null'
            format: date-time
          - $ref: '#/components/schemas/Operators'
          description: Date the connection was disabled
      - in: query
        name: full_name
        schema:
          type: string
          pattern: ^[a-z0-9-_>\s]+$
          maxLength: 155
          description: Fuzzy match the concatenated source and connection name. The source name and connection name must be separated by " -> "
      - in: query
        name: paused_at
        schema:
          anyOf:
          - type:
            - string
            - 'null'
            format: date-time
          - $ref: '#/components/schemas/Operators'
          description: Date the connection was paused
      - in: query
        name: order_by
        schema:
          anyOf:
          - type: string
            maxLength: 255
            enum:
            - full_name
            - created_at
            - updated_at
            - sources.updated_at
            - sources.created_at
            - destinations.updated_at
            - destinations.created_at
          - type: array
            items:
              type: string
              maxLength: 255
              enum:
              - full_name
              - created_at
              - updated_at
              - sources.updated_at
              - sources.created_at
              - destinations.updated_at
              - destinations.created_at
            minItems: 2
            maxItems: 2
          description: Sort key(s)
      - in: query
        name: dir
        schema:
          anyOf:
          - type: string
            enum:
            - asc
            - desc
          - type: array
            items:
              type: string
              enum:
              - asc
              - desc
            minItems: 2
            maxItems: 2
          description: Sort direction(s)
      - in: query
        name: limit
        schema:
          type: integer
          minimum: 0
          maximum: 255
          description: Result set size
      - in: query
        name: next
        schema:
          type: string
          maxLength: 255
          description: The ID to provide in the query to get the next set of results
      - in: query
        name: prev
        schema:
          type: string
          maxLength: 255
          description: The ID to provide in the query to get the previous set of results
    post:
      operationId: createConnection
      summary: Create a connection
      description: This endpoint creates a connection. You can create a connection's underlying source, destination, and rules with a single call by declaring an object for any of those resources. You can reuse a source or destination by referencing their ID.
      tags:
      - Connections
      responses:
        '200':
          description: A single connection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type:
                  - string
                  - 'null'
                  pattern: ^[A-z0-9-_]+$
                  maxLength: 155
                  description: A unique name of the connection for the source
                description:
                  type:
                  - string
                  - 'null'
                  maxLength: 500
                  description: Description for the connection
                destination_id:
                  type:
                  - string
                  - 'null'
                  maxLength: 255
                  description: ID of a destination to bind to the connection
                source_id:
                  type:
                  - string
                  - 'null'
                  maxLength: 255
                  description: ID of a source to bind to the connection
                destination:
                  type: object
                  properties:
                    name:
                      type: string
                      pattern: ^[A-z0-9-_]+$
                      maxLength: 155
                      description: Name for the destination
                    type:
                      type: string
                      enum:
                      - HTTP
                      - CLI
                      - MOCK_API
                      description: Type of the destination
                      default: HTTP
                    description:
                      type:
                      - string
                      - 'null'
                      maxLength: 500
                      description: Description for the destination
                    config:
                      $ref: '#/components/schemas/VerificationConfig'
                  required:
                  - name
                  additionalProperties: false
                  description: Destination input object
                source:
                  type: object
                  properties:
                    name:
                      type: string
                      pattern: ^[A-z0-9-_]+$
                      maxLength: 155
                      description: A unique name for the source
                    type:
                      type: string
                      enum:
                      - AIPRISE
                      - ALCHEMY
                      - DOCUSIGN
                      - INTERCOM
                      - PUBLISH_API
                      - WEBHOOK
                      - HTTP
                      - MANAGED
                      - HOOKDECK_OUTPOST
                      - SANITY
                      - BIGCOMMERCE
                      - CLAUDE
                      - OPENAI
                      - POLAR
                      - BRIDGE_XYZ
                      - BRIDGE_API
                      - CHARGEBEE_BILLING
                      - CHAINDOTS
                      - CLOUDSIGNAL
                      - COINBASE
                      - COURIER
                      - CURSOR
                      - MERAKI
                      - MICROSOFT_GRAPH
                      - MICROSOFT_SHAREPOINT
                      - FIREBLOCKS
                      - FRONTAPP
                      - ZOOM
                      - TWITTER
                      - RECHARGE
                      - RECURLY
                      - REVOLUT
                      - RING_CENTRAL
                      - STRIPE
                      - PROPERTY-FINDER
                      - QUOTER
                      - SHOPIFY
                      - TWILIO
                      - GITHUB
                      - POSTMARK
                      - TALLY
                      - TYPEFORM
                      - PICQER
                      - XERO
                      - SVIX
                      - RESEND
                      - GEMINI
                      - ADYEN
                      - AKENEO
                      - GITLAB
                      - WOOCOMMERCE
                      - OKTA
                      - OURA
                      - COMMERCELAYER
                      - HUBSPOT
                      - MAILGUN
                      - PERSONA
                      - PIPEDRIVE
                      - SENDGRID
                      - WORKOS
                      - SYNCTERA
                      - AWS_SNS
                      - THREE_D_EYE
                      - TWITCH
                      - ENODE
                      - FAUNDIT
                      - FAVRO
                      - LINEAR
                      - SHIPBOB
                      - SHIPHERO
                      - SHOPLINE
                      - WIX
                      - NMI
                      - NEON
                      - ORB
                      - PYLON
                      - RAZORPAY
                      - REPAY
                      - SQUARE
                      - SOLIDGATE
                      - TRELLO
                      - EBAY
                      - TELNYX
                      - DISCORD
                      - TOKENIO
                      - FISERV
                      - FUSIONAUTH
                      - BONDSMITH
                      - VERCEL_LOG_DRAINS
                      - VERCEL
                      - TEBEX
                      - SLACK
                      - SMARTCAR
                      - MAILCHIMP
                      - NUVEMSHOP
                      - PADDLE
                      - PAYPAL
                      - PAYMOB
                      - PAYSTACK
                      - SCRAPFLY
                      - PORTAL
                      - TREEZOR
                      - PRAXIS
                      - CUSTOMERIO
                      - EXACT_ONLINE
                      - FACEBOOK
                      - WHATSAPP
                      - REPLICATE
                      - TIKTOK
                      - TIKTOK_SHOP
                      - AIRWALLEX
                      - ASCEND
                      - ALIPAY
                      - ZENDESK
                      - UPOLLO
                      - SMILE
                      - NYLAS
                      - CLIO
                      - GOCARDLESS
                      - LINKEDIN
                      - LITHIC
                      - STRAVA
                      - UTILA
                      - MONDAY
                      - GREENDOT
                      - ZEROHASH
                      - ZIFT
                      - ETHOCA
                      - AIRTABLE
                      - ASANA
                      - ASHBY
                      - FASTSPRING
                      - PAYPRO_GLOBAL
                      - USPS
                      - WALMART
                      - FIREFLIES
                      - FLEXPORT
                      - UBER
                      - WECHAT
                      - CIRCLE
                      description: Type of the source
                      default: WEBHOOK
                    description:
                      type:
                      - string
                      - 'null'
                      maxLength: 500
                      description: Description for the source
                    config:
                      $ref: '#/components/schemas/SourceTypeConfig'
                  required:
                  - name
                  additionalProperties: false
                  description: Source input object
                rules:
                  type: array
                  items:
                    $ref: '#/components/schemas/Rule'
              additionalProperties: false
    put:
      operationId: upsertConnection
      summary: Create/Update a connection
      description: This endpoint creates a connection, or updates an existing connection by name. A connection's source and destination cannot be updated.
      tags:
      - Connections
      responses:
        '200':
          description: A single connection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type:
                  - string
                  - 'null'
                  pattern: ^[A-z0-9-_]+$
                  maxLength: 155
                  description: A unique name of the connection for the source
                description:
                  type:
                  - string
                  - 'null'
                  maxLength: 500
                  description: Description for the connection
                destination_id:
                  type:
                  - string
                  - 'null'
                  maxLength: 255
                  description: ID of a destination to bind to the connection
                source_id:
                  type:
                  - string
                  - 'null'
                  maxLength: 255
                  description: ID of a source to bind to the connection
                destination:
                  type: object
                  properties:
                    name:
                      type: string
                      pattern: ^[A-z0-9-_]+$
                      maxLength: 155
                      description: Name for the destination
                    type:
                      type: string
                      enum:
                      - HTTP
                      - CLI
                      - MOCK_API
                      description: Type of the destination
                      default: HTTP
                    description:
                      type:
                      - string
                      - 'null'
                      maxLength: 500
                      description: Description for the destination
                    config:
                      $ref: '#/components/schemas/VerificationConfig'
                  required:
                  - name
                  additionalProperties: false
                  description: Destination input object
                source:
                  type: object
                  properties:
                    name:
                      type: string
                      pattern: ^[A-z0-9-_]+$
                      maxLength: 155
                      description: A unique name for the source
                    type:
                      type: string
                      enum:
                      - AIPRISE
                      - ALCHEMY
                      - DOCUSIGN
                      - INTERCOM
                      - PUBLISH_API
                      - WEBHOOK
                      - HTTP
                      - MANAGED
                      - HOOKDECK_OUTPOST
                      - SANITY
                      - BIGCOMMERCE
                      - CLAUDE
                      - OPENAI
                      - POLAR
                      - BRIDGE_XYZ
                      - BRIDGE_API
                      - CHARGEBEE_BILLING
                      - CHAINDOTS
                      - CLOUDSIGNAL
                      - COINBASE
                      - COURIER
                      - CURSOR
                      - MERAKI
                      - MICROSOFT_GRAPH
                      - MICROSOFT_SHAREPOINT
                      - FIREBLOCKS
                      - FRONTAPP
                      - ZOOM
                      - TWITTER
                      - RECHARGE
                      - RECURLY
                      - REVOLUT
                      - RING_CENTRAL
                      - STRIPE
                      - PROPERTY-FINDER
                      - QUOTER
                      - SHOPIFY
                      - TWILIO
                      - GITHUB
                      - POSTMARK
                      - TALLY
                      - TYPEFORM
                      - PICQER
                      - XERO
                      - SVIX
                      - RESEND
                      - GEMINI
                      - ADYEN
                      - AKENEO
                      - GITLAB
                      - WOOCOMMERCE
                      - OKTA
                      - OURA
                      - COMMERCELAYER
                      - HUBSPOT
                      - MAILGUN
                      - PERSONA
                      - PIPEDRIVE
                      - SENDGRID
                      - WORKOS
                      - SYNCTERA
                      - AWS_SNS
                      - THREE_D_EYE
                      - TWITCH
                      - ENODE
                      - FAUNDIT
                      - FAVRO
                      - LINEAR
                      - SHIPBOB
                      - SHIPHERO
                      - SHOPLINE
                      - WIX
                      - NMI
                      - NEON
                      - ORB
                      - PYLON
                      - RAZORPAY
                      - REPAY
                      - SQUARE
                      - SOLIDGATE
                      - TRELLO
                      - EBAY
                      - TELNYX
                      - DISCORD
                      - TOKENIO
                      - FISERV
                      - FUSIONAUTH
                      - BONDSMITH
                      - VERCEL_LOG_DRAINS
                      - VERCEL
                      - TEBEX
                      - SLACK
                      - SMARTCAR
                      - MAILCHIMP
                      - NUVEMSHOP
                      - PADDLE
                      - PAYPAL
                      - PAYMOB
                      - PAYSTACK
                      - SCRAPFLY
                      - PORTAL
                      - TREEZOR
                      - PRAXIS
                      - CUSTOMERIO
                      - EXACT_ONLINE
                      - FACEBOOK
                      - WHATSAPP
                      - REPLICATE
                      - TIKTOK
                      - TIKTOK_SHOP
                      - AIRWALLEX
                      - ASCEND
                      - ALIPAY
                      - ZENDESK
                      - UPOLLO
                      - SMILE
                      - NYLAS
                      - CLIO
                      - GOCARDLESS
                      - LINKEDIN
                      - LITHIC
                      - STRAVA
                      - UTILA
                      - MONDAY
                      - GREENDOT
                      - ZEROHASH
                      - ZIFT
                      - ETHOCA
                      - AIRTABLE
                      - ASANA
                      - ASHBY
                      - FASTSPRING
                      - PAYPRO_GLOBAL
                      - USPS
                      - WALMART
                      - FIREFLIES
                      - FLEXPORT
                      - UBER
                      - WECHAT
                      - CIRCLE
                      description: Type of the source
                      default: WEBHOOK
                    description:
                      type:
                      - string
                      - 'null'
                      maxLength: 500
                      description: Description for the source
                    config:
                      $ref: '#/components/schemas/SourceTypeConfig'
                  required:
                  - name
                  additionalProperties: false
                  description: Source input object
                rules:
                  type: array
                  items:
                    $ref: '#/components/schemas/Rule'
              additionalProperties: false
  /connections/count:
    get:
      operationId: countConnections
      summary: Count connections
      description: ''
      tags:
      - Connections
      responses:
        '200':
          description: Count of connections
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: number
                    format: float
                    description: Count of connections
                required:
                - count
                additionalProperties: false
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      parameters:
      - in: query
        name: destination_id
        schema:
          anyOf:
          - type: string
            maxLength: 255
          - type: array
            items:
              type: string
              maxLength: 255
          description: Filter by associated destination IDs
      - in: query
        name: source_id
        schema:
          anyOf:
          - type: string
            maxLength: 255
          - type: array
            items:
              type: string
              maxLength: 255
          description: Filter by associated source IDs
      - in: query
        name: disabled
        schema:
          type: boolean
          description: Include disabled resources in the response
      - in: query
        name: disabled_at
        schema:
          anyOf:
          - type:
            - string
            - 'null'
            format: date-time
          - $ref: '#/components/schemas/Operators'
          description: Date the connection was disabled
      - in: query
        name: paused_at
        schema:
          anyOf:
          - type:
            - string
            - 'null'
            format: date-time
          - $ref: '#/components/schemas/Operators'
          description: Date the connection was paused
  /connections/{id}:
    get:
      operationId: getConnection
      summary: Retrieve a connection
      description: This endpoint retrieves a specific connection.
      tags:
      - Connections
      responses:
        '200':
          description: A single connection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
        '410':
          description: Gone
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      parameters:
      - in: path
        name: id
        schema:
          type: string
          description: Connection ID
        required: true
    put:
      operationId: updateConnection
      summary: Update a connection
      description: This endpoint updates a connection.
      tags:
      - Connections
      responses:
        '200':
          description: A single connection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      parameters:
      - in: path
        name: id
        schema:
          type: string
          description: Connection ID
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type:
                  - string
                  - 'null'
                  pattern: ^[A-z0-9-_]+$
                  maxLength: 155
                description:
                  type:
                  - string
                  - 'null'
                  maxLength: 500
                  description: Description for the connection
                rules:
                  type: array
                  items:
                    $ref: '#/components/schemas/Rule'
              additionalProperties: false
    delete:
      operationId: deleteConnection
      summary: Delete a connection
      description: This endpoint permanently deletes a connection. This action cannot be undone.
      tags:
      - Connections
      responses:
        '200':
          description: A single connection
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: ID of the connection
                required:
                - id
                additionalProperties: false
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      parameters:
      - in: path
        name: id
        schema:
          type: string
        required: true
  /connections/{id}/disable:
    put:
      operationId: disableConnection
      summary: Disable a connection
      description: This endpoint disables a connection. Notice that a connection is enabled by default when created. A disabled connection will no longer receive or deliver any events.
      tags:
      - Connections
      responses:
        '200':
          description: A single connection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      parameters:
      - in: path
        name: id
        schema:
          type: string
          description: Connection ID
        required: true
  /connections/{id}/archive:
    put:
      operationId: disableConnection_archive
      summary: Disable a connection
      description: This endpoint disables a connection. Notice that a connection is enabled by default when created. A disabled connection will no longer receive or deliver any events.
      tags:
      - Connections
      responses:
        '200':
          description: A single connection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      parameters:
      - in: path
        name: id
        schema:
          type: string
          description: Connection ID
        required: true
  /connections/{id}/enable:
    put:
      operationId: enableConnection
      summary: Enable a connection
      description: This endpoint enables a connection that has been previously disabled. The associated source and destination will also be enabled if they were previously disabled.
      tags:
      - Connections
      responses:
        '200':
          description: A single connection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      parameters:
      - in: path
        name: id
        schema:
          type: string
          description: Connection ID
        required: true
  /connections/{id}/unarchive:
    put:
      operationId: enableConnection_unarchive
      summary: Enable a connection
      description: This endpoint enables a connection that has been previously disabled. The associated source and destination will also be enabled if they were previously disabled.
      tags:
      - Connections
      responses:
        '200':
          description: A single connection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      parameters:
      - in: path
        name: id
        schema:
          type: string
          description: Connection ID
        required: true
  /connections/{id}/pause:
    put:
      operationId: pauseConnection
      summary: Pause a connection
      description: This endpoint pauses a connection. A paused connection will still receive events, but those events will be marked with a status of `HOLD` and will be delivered only once the connection is unpaused.
      tags:
      - Connections
      responses:
        '200':
          description: A single connection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      parameters:
      - in: path
        name: id
        schema:
          type: string
          description: Connection ID
        required: true
  /connections/{id}/unpause:
    put:
      operationId: unpauseConnection
      summary: Unpause a connection
      description: This endpoint unpauses a connection. Any event with a status of `HOLD` will be attempted. Destination delivery rate will be respected. This operation is asynchronous, so it may take some time for all events to be `QUEUED` for delivery.
      tags:
      - Connections
      responses:
        '200':
          description: A single connection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      parameters:
      - in: path
        name: id
        schema:
          type: string
          description: Connection ID
        required: true
components:
  schemas:
    SourceConfigWebhookAuth:
      type: object
      properties: {}
      additionalProperties: false
      oneOf:
      - $ref: '#/components/schemas/SourceConfigWebhookAuthHMAC'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthBasicAuth'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthAPIKey'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthAiprise'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthAlchemy'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthDocuSign'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthIntercom'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthSanity'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthBigCommerce'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthClaude'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthOpenAI'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthPolar'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthBridgeStablecoins'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthBridgeAPI'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthChargebeeBilling'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthChaindots'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthCloudSignal'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthCoinbase'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthCourier'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthCursor'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthMeraki'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthFireblocks'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthFrontApp'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthZoom'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthX'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthRecharge'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthRecurly'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthRevolut'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthRingCentral'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthStripe'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthPropertyFinder'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthQuoter'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthShopify'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthTwilio'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthGitHub'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthPostmark'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthTally'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthTypeform'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthPicqer'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthXero'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthSvix'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthResend'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthGoogleGemini'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthAdyen'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthAkeneo'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthGitLab'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthWooCommerce'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthOkta'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthOura'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthCommerceLayer'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthHubspot'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthMailgun'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthPersona'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthPipedrive'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthSendgrid'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthWorkOS'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthSynctera'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthAWSSNS'
      - $ref: '#/components/schemas/SourceConfigWebhookAuth3dEye'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthTwitch'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthEnode'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthFaundit'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthFavro'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthLinear'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthShipBob'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthShipHero'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthShopline'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthWix'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthNMIPaymentGateway'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthNeon'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthOrb'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthPylon'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthRazorpay'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthRepay'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthSquare'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthSolidgate'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthTrello'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthEbay'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthTelnyx'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthDiscord'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthTokenIO'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthFiserv'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthFusionAuth'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthBondsmith'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthVercelDrains'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthVercelWebhooks'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthTebex'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthSlack'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthSmartcar'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthMailchimp'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthNuvemshop'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthPaddle'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthPaypal'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthPaymob'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthPaystack'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthScrapfly'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthPortal'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthTreezor'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthPraxis'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthCustomer.IO'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthExactOnline'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthFacebook'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthWhatsApp'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthReplicate'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthTikTok'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthTikTokShop'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthAirwallex'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthAscend'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthAlipay'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthZendesk'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthUpollo'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthSmile'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthNylas'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthClio'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthGoCardless'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthLinkedIn'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthLithic'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthUtila'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthGreenDot'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthZeroHash'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthAirtable'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthAsana'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthAshby'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthFastSpring'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthPayProGlobal'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthUSPS'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthWalmart'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthFireflies.ai'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthFlexport'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthUber'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthWeChatPay'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthCircle'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthEmpty'
    SourceTypeConfigTRELLO:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigTrelloAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for TRELLO. Requires type to be `TRELLO`.
      x-docs-type: TRELLO
      x-docs-external-url: https://developer.atlassian.com/cloud/trello/guides/rest-api/webhooks/#webhook-signatures
    SourceTypeConfigSHOPIFY:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigShopifyAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for SHOPIFY. Requires type to be `SHOPIFY`.
      x-docs-type: SHOPIFY
      x-docs-external-url: https://shopify.dev/docs/apps/build/webhooks/subscribe/https#step-2-validate-the-origin-of-your-webhook-to-ensure-its-coming-from-shopify
    SourceConfigAirwallexAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Airwallex
    SourceTypeConfigGITHUB:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigGitHubAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for GITHUB. Requires type to be `GITHUB`.
      x-docs-type: GITHUB
      x-docs-external-url: https://docs.github.com/en/webhooks/using-webhooks/validating-webhook-deliveries
    SourceTypeConfigPOLAR:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigPolarAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for POLAR. Requires type to be `POLAR`.
      x-docs-type: POLAR
    SourceConfigWebhookAuthOkta:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: OKTA
    SourceTypeConfigWECHAT:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigWeChatPayAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for WECHAT. Requires type to be `WECHAT`.
      x-docs-type: WECHAT
      x-docs-external-url: https://pay.weixin.qq.com/doc/global/v3/en/4012357149
    SourceConfigWebhookAuthCoinbase:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: COINBASE
    SourceConfigWebhookAuthFiserv:
      type: object
      properties:
        webhook_secret_key:
          type: string
        store_name:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: FISERV
    SourceConfigWebhookAuthCourier:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: COURIER
    SourceConfigReplicateAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Replicate
    SourceConfigBondsmithAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Bondsmith
    SourceTypeConfigHUBSPOT:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigHubspotAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for HUBSPOT. Requires type to be `HUBSPOT`.
      x-docs-type: HUBSPOT
      x-docs-external-url: https://developers.hubspot.com/docs/api/webhooks/validating-requests
    DestinationConfigHTTPAuthAPIKey:
      type: object
      properties:
        key:
          type: string
        api_key:
          type: string
        to:
          type: string
          enum:
          - header
          - query
      additionalProperties: false
      x-docs-type: API_KEY
    SourceConfigWebhookAuthPaystack:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: PAYSTACK
    DestinationConfigCLIAuthBearerToken:
      type: object
      properties:
        token:
          type: string
      additionalProperties: false
      x-docs-type: BEARER_TOKEN
    SourceConfigWebhookAuthFrontApp:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: FRONTAPP
    SourceConfigWalmartAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Walmart
    DestinationConfigHTTPAuthBearerToken:
      type: object
      properties:
        token:
          type: string
      additionalProperties: false
      x-docs-type: BEARER_TOKEN
    SourceConfigWebhookAuthCommerceLayer:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: COMMERCELAYER
    DestinationConfigCLIAuthGCPServiceAccount:
      type: object
      properties:
        service_account_key:
          type: string
        scope:
          type:
          - string
          - 'null'
      additionalProperties: false
      x-docs-type: GCP_SERVICE_ACCOUNT
    SourceConfigWebhookAuthAirtable:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: AIRTABLE
    SourceConfigWebhookAuthHubspot:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: HUBSPOT
    DestinationConfigHTTPAuthHookdeckSignatureDefault:
      type: object
      properties: {}
      additionalProperties: false
      x-docs-type: HOOKDECK_SIGNATURE
    SourceConfigDiscordAuth:
      type:
      - object
      - 'null'
      properties:
        public_key:
          type: string
      required:
      - public_key
      additionalProperties: false
      x-docs-type: Discord
    SourceConfigWebhookAuthVercelWebhooks:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: VERCEL
    SourceTypeConfigSQUARE:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigSquareAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for SQUARE. Requires type to be `SQUARE`.
      x-docs-type: SQUARE
      x-docs-external-url: https://developer.squareup.com/docs/webhooks/step3validate
    VerificationConfig:
      type: object
      properties: {}
      additionalProperties: false
      oneOf:
      - $ref: '#/components/schemas/DestinationTypeConfigHTTP'
        x-required: true
      - $ref: '#/components/schemas/DestinationTypeConfigCLI'
        x-required: true
      - $ref: '#/components/schemas/DestinationTypeConfigMOCK_API'
      description: The type configs for the specified type
      default: {}
    SourceConfigShipHeroAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: ShipHero
    SourceConfigWebhookAuthRecurly:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: RECURLY
    SourceTypeConfigTIKTOK_SHOP:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigTikTokShopAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for TIKTOK_SHOP. Requires type to be `TIKTOK_SHOP`.
      x-docs-type: TIKTOK_SHOP
    SourceTypeConfigSHIPBOB:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigShipBobAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for SHIPBOB. Requires type to be `SHIPBOB`.
      x-docs-type: SHIPBOB
      x-docs-external-url: https://developer.shipbob.com/2026-01/webhooks#verifying-signatures
    SourceConfigHTTPAuthBasicAuth:
      type: object
      properties:
        username:
          type: string
        password:
          type: string
      additionalProperties: false
      x-docs-type: BASIC_AUTH
    SourceConfigLinkedInAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: LinkedIn
    SourceConfigTypeformAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Typeform
    SourceConfigAshbyAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Ashby
    SourceConfigVercelWebhooksAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Vercel Webhooks
    SourceConfigGoCardlessAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: GoCardless
    SourceConfigGreenDotAuth:
      type:
      - object
      - 'null'
      properties:
        username:
          type: string
        password:
          type: string
      required:
      - username
      - password
      additionalProperties: false
      x-docs-type: GreenDot
    SourceTypeConfigINTERCOM:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigIntercomAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for INTERCOM. Requires type to be `INTERCOM`.
      x-docs-type: INTERCOM
      x-docs-external-url: https://developers.intercom.com/docs/references/webhooks/webhook-models#signed-notifications
    SourceConfigBridgeStablecoinsAuth:
      type:
      - object
      - 'null'
      properties:
        public_key:
          type: string
      required:
      - public_key
      additionalProperties: false
      x-docs-type: Bridge (Stablecoins)
    SourceConfigWhatsAppAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: WhatsApp
    SourceTypeConfigSANITY:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigSanityAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for SANITY. Requires type to be `SANITY`.
      x-docs-type: SANITY
      x-docs-external-url: https://www.sanity.io/docs/webhooks
    APIErrorResponse:
      type: object
      properties:
        code:
          type: string
          description: Error code
        status:
          type: number
          format: float
          description: Status code
        message:
          type: string
          description: Error description
        data:
          type:
          - object
          - 'null'
          properties: {}
      required:
      - code
      - status
      - message
      additionalProperties: false
      description: Error response model
    SourceConfigAdyenAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Adyen
    DestinationConfigHTTPAuthGCPServiceAccount:
      type: object
      properties:
        service_account_key:
          type: string
        scope:
          type:
          - string
          - 'null'
      additionalProperties: false
      x-docs-type: GCP_SERVICE_ACCOUNT
    SourceConfigTikTokShopAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
        app_key:
          type: string
      required:
      - webhook_secret_key
      - app_key
      additionalProperties: false
      x-docs-type: TikTok Shop
    SourceTypeConfigNYLAS:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigNylasAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for NYLAS. Requires type to be `NYLAS`.
      x-docs-type: NYLAS
      x-docs-external-url: https://developer.nylas.com/docs/v3/getting-started/webhooks/
    SourceConfigWebhookAuthIntercom:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: INTERCOM
    SourceConfigWebhookAuthScrapfly:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: SCRAPFLY
    SourceConfigWebhookAuthWorkOS:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: WORKOS
    SourceConfigWebhookAuthMeraki:
      type: object
      properties:
        api_key:
          type: string
      required:
      - api_key
      additionalProperties: false
      x-docs-type: MERAKI
    SourceConfigGitLabAuth:
      type:
      - object
      - 'null'
      properties:
        api_key:
          type: string
      required:
      - api_key
      additionalProperties: false
      x-docs-type: GitLab
    SourceTypeConfigREPAY:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigRepayAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for REPAY. Requires type to be `REPAY`.
      x-docs-type: REPAY
    SourceConfigWebhookAuthHMAC:
      type: object
      properties:
        algorithm:
          type: string
          enum:
          - sha1
          - sha256
          - sha512
          - md5
        encoding:
          type: string
          enum:
          - base64
          - base64url
          - hex
        header_key:
          type: string
        webhook_secret_key:
          type: string
      required:
      - algorithm
      - encoding
      - header_key
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: HMAC
    SourceConfigAscendAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Ascend
    SourceConfigWorkOSAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: WorkOS
    SourceConfigWebhookAuthSynctera:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: SYNCTERA
    SourceConfigOpenAIAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: OpenAI
    SourceConfigShipBobAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: ShipBob
    SourceConfigWebhookAuthUber:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: UBER
    SourceConfigWebhookAuthX:
      type: object
      properties:
        api_key:
          type: string
      required:
      - api_key
      additionalProperties: false
      x-docs-type: TWITTER
    SourceConfigPipedriveAuth:
      type:
      - object
      - 'null'
      properties:
        username:
          type: string
        password:
          type: string
      required:
      - username
      - password
      additionalProperties: false
      x-docs-type: Pipedrive
    SourceConfigWebhookAuthPraxis:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: PRAXIS
    SourceConfigWebhookAuthAlipay:
      type: object
      properties:
        public_key:
          type: string
      required:
      - public_key
      additionalProperties: false
      x-docs-type: ALIPAY
    SourceConfigWebhookAuthRevolut:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: REVOLUT
    SourceTypeConfigXERO:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigXeroAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for XERO. Requires type to be `XERO`.
      x-docs-type: XERO
      x-docs-external-url: https://developer.xero.com/documentation/guides/webhooks/configuring-your-server/
    SourceConfigWebhookAuthFacebook:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: FACEBOOK
    SourceConfigWebhookAuthRecharge:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: RECHARGE
    SourceConfigWebhookAuthTally:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: TALLY
    SourceConfigTelnyxAuth:
      type:
      - object
      - 'null'
      properties:
        public_key:
          type: string
      required:
      - public_key
      additionalProperties: false
      x-docs-type: Telnyx
    SourceTypeConfigPAYSTACK:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigPaystackAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for PAYSTACK. Requires type to be `PAYSTACK`.
      x-docs-type: PAYSTACK
      x-docs-external-url: https://paystack.com/docs/payments/webhooks/#verify-event-origin
    SourceTypeConfigPIPEDRIVE:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigPipedriveAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for PIPEDRIVE. Requires type to be `PIPEDRIVE`.
      x-docs-type: PIPEDRIVE
    SourceConfigCourierAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Courier
    SourceConfigCustomer.IOAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Customer.IO
    SourceConfigWebhookAuthGoCardless:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: GOCARDLESS
    DestinationConfigCLIAuthEmpty:
      x-docs-hide: true
      x-docs-nullable: true
    SourceConfigWebhookAuthBondsmith:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: BONDSMITH
    DestinationConfigHTTPAuthBasicAuth:
      type: object
      properties:
        username:
          type: string
        password:
          type: string
      additionalProperties: false
      x-docs-type: BASIC_AUTH
    SourceTypeConfigFIREBLOCKS:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigFireblocksAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for FIREBLOCKS. Requires type to be `FIREBLOCKS`.
      x-docs-type: FIREBLOCKS
      x-docs-external-url: https://developers.fireblocks.com/reference/validating-webhooks
    SourceConfigWebhookAuthSmartcar:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: SMARTCAR
    DestinationConfigMockAPIAuthBasicAuth:
      type: object
      properties:
        username:
          type: string
        password:
          type: string
      additionalProperties: false
      x-docs-type: BASIC_AUTH
    SourceTypeConfigSTRIPE:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigStripeAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for STRIPE. Requires type to be `STRIPE`.
      x-docs-type: STRIPE
      x-docs-external-url: https://docs.stripe.com/webhooks?verify=verify-manually
    SourceConfigWebhookAuthMailgun:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: MAILGUN
    SourceConfigTwitchAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Twitch
    SourceTypeConfigMERAKI:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigMerakiAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for MERAKI. Requires type to be `MERAKI`.
      x-docs-type: MERAKI
      x-docs-external-url: https://developer.cisco.com/meraki/webhooks/introduction/#shared-secret
    DestinationConfigMockAPIAuthCustomSHA256HMACSignature:
      type: object
      properties:
        key:
          type: string
        signing_secret:
          type: string
      additionalProperties: false
      x-docs-type: CUSTOM_SIGNATURE
    SourceConfigPicqerAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Picqer
    DestinationConfigHTTPAuthAWSSignature:
      type: object
      properties:
        access_key_id:
          type: string
        secret_access_key:
          type: string
        region:
          type: string
        service:
          type: string
      additionalProperties: false
      x-docs-type: AWS_SIGNATURE
    SourceConfigWebhookAuthAscend:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: ASCEND
    SourceConfigStripeAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Stripe
    SourceConfigWebhookAuthReplicate:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: REPLICATE
    DestinationConfigMockAPIAuthAWSSignature:
      type: object
      properties:
        access_key_id:
          type: string
        secret_access_key:
          type: string
        region:
          type: string
        service:
          type: string
      additionalProperties: false
      x-docs-type: AWS_SIGNATURE
    SourceConfigOktaAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Okta
    SourceConfigFaunditAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Faundit
    SourceTypeConfigCOMMERCELAYER:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigCommerceLayerAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for COMMERCELAYER. Requires type to be `COMMERCELAYER`.
      x-docs-type: COMMERCELAYER
      x-docs-external-url: https://docs.commercelayer.io/core/callbacks-security
    SourceTypeConfigGITLAB:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigGitLabAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for GITLAB. Requires type to be `GITLAB`.
      x-docs-type: GITLAB
    SourceConfigNMIPaymentGatewayAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: NMI Payment Gateway
    SourceConfigWebhookAuthShipHero:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: SHIPHERO
    OrderByDirection:
      anyOf:
      - enum:
        - asc
      - enum:
        - desc
      - enum:
        - ASC
      - enum:
        - DESC
    SourceTypeConfigTHREE_D_EYE:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfig3dEyeAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for THREE_D_EYE. Requires type to be `THREE_D_EYE`.
      x-docs-type: THREE_D_EYE
    DelayRule:
      type: object
      properties:
        type:
          type: string
          enum:
          - delay
          description: A delay rule must be of type `delay`
        delay:
          type: integer
          description: Delay to introduce in MS
      required:
      - type
      - delay
      additionalProperties: false
    SourceTypeConfigTWITTER:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigXAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for TWITTER. Requires type to be `TWITTER`.
      x-docs-type: TWITTER
      x-docs-external-url: https://developer.x.com/en/docs/x-api/enterprise/account-activity-api/guides/securing-webhooks
    SourceTypeConfigBRIDGE_XYZ:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigBridgeStablecoinsAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for BRIDGE_XYZ. Requires type to be `BRIDGE_XYZ`.
      x-docs-type: BRIDGE_XYZ
      x-docs-external-url: https://apidocs.bridge.xyz/docs/webhook-event-signature-verification
    SourceConfigMailgunAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Mailgun
    Connection:
      type: object
      properties:
        id:
          type: string
          description: ID of the connection
        name:
          type:
          - string
          - 'null'
          description: Unique name of the connection for this source
        full_name:
          type:
          - string
          - 'null'
          description: Full name of the connection concatenated from source, connection and desitnation name
        description:
          type:
          - string
          - 'null'
          description: Description of the connection
        team_id:
          type: string
          description: ID of the project
        destination:
          $ref: '#/components/schemas/Destination'
        source:
          $ref: '#/components/schemas/Source'
        rules:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Rule'
          description: Array of rules configured on the connection
        disabled_at:
          type:
          - string
          - 'null'
          format: date-time
          description: Date the connection was disabled
        paused_at:
          type:
          - string
          - 'null'
          format: date-time
          description: Date the connection was paused
        updated_at:
          type: string
          format: date-time
          description: Date the connection was last updated
        created_at:
          type: string
          format: date-time
          description: Date the connection was created
      required:
      - id
      - name
      - full_name
      - description
      - team_id
      - destination
      - source
      - rules
      - disabled_at
      - paused_at
      - updated_at
      - created_at
      additionalProperties: false
    SourceConfigWebhookAuthPaddle:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: PADDLE
    DestinationConfigCLIAuthOAuth2ClientCredentials:
      type: object
      properties:
        auth_server:
          type: string
        client_id:
          type: string
        client_secret:
          type: string
        scope:
          type: string
        authentication_type:
          type: string
          enum:
          - basic
          - bearer
          - x-www-form-urlencoded
      additionalProperties: false
      x-docs-type: OAUTH2_CLIENT_CREDENTIALS
    SourceConfigWixAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Wix
    SourceConfigResendAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Resend
    SourceConfigWebhookAuthAiprise:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: AIPRISE
    RetryRule:
      type: object
      properties:
        type:
          type: string
          enum:
          - retry
          description: A retry rule must be of type `retry`
        strategy:
          $ref: '#/components/schemas/RetryStrategy'
        interval:
          type:
          - integer
          - 'null'
          description: Time in MS between each retry
        count:
          type:
          - integer
          - 'null'
          description: Maximum number of retries to attempt
        response_status_codes:
          type:
          - array
          - 'null'
          items:
            type: string
            pattern: ^(?:([2-5]\d{2})-([2-5]\d{2})|([><=]{1,2})([2-5]\d{2})|!?([2-5]\d{2}))$
          minItems: 1
          maxItems: 10
          description: 'HTTP codes to retry on. Accepts: range expressions (e.g., "400-499", ">400"), specific codes (e.g., 404), and exclusions (e.g., "!401"). Example: ["500-599", ">400", 404, "!401"]'
      required:
      - type
      - strategy
      additionalProperties: false
    SourceTypeConfigOURA:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigOuraAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for OURA. Requires type to be `OURA`.
      x-docs-type: OURA
      x-docs-external-url: https://cloud.ouraring.com/v2/docs#section/Security
    SourceConfigMerakiAuth:
      type:
      - object
      - 'null'
      properties:
        api_key:
          type: string
      required:
      - api_key
      additionalProperties: false
      x-docs-type: Meraki
    SourceConfigWebhookAuthTreezor:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: TREEZOR
    SourceTypeConfigCLIO:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigClioAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for CLIO. Requires type to be `CLIO`.
      x-docs-type: CLIO
      x-docs-external-url: https://docs.developers.clio.com/api-reference/#tag/Webhooks/Webhook-Security
    SourceConfigEnodeAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Enode
    SourceTypeConfigPERSONA:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigPersonaAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for PERSONA. Requires type to be `PERSONA`.
      x-docs-type: PERSONA
      x-docs-external-url: https://docs.withpersona.com/docs/webhooks-best-practices#checking-signatures
    SourceTypeConfigPYLON:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigPylonAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for PYLON. Requires type to be `PYLON`.
      x-docs-type: PYLON
      x-docs-external-url: https://getpylon.com/developers/guides/using-webhooks/#event-signatures
    SourceTypeConfigBONDSMITH:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigBondsmithAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for BONDSMITH. Requires type to be `BONDSMITH`.
      x-docs-type: BONDSMITH
      x-docs-external-url: https://docs.bond.tech/docs/signatures
    SourceTypeConfigSCRAPFLY:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigScrapflyAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for SCRAPFLY. Requires type to be `SCRAPFLY`.
      x-docs-type: SCRAPFLY
      x-docs-external-url: https://scrapfly.io/docs/scrape-api/webhook
    SourceConfigWebhookAuthUpollo:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: UPOLLO
    SourceConfigWebhookAuthDiscord:
      type: object
      properties:
        public_key:
          type: string
      required:
      - public_key
      additionalProperties: false
      x-docs-type: DISCORD
    SourceConfigWebhookAuthOura:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: OURA
    Rule:
      anyOf:
      - $ref: '#/components/schemas/RetryRule'
      - $ref: '#/components/schemas/FilterRule'
      - $ref: '#/components/schemas/TransformRule'
      - $ref: '#/components/schemas/DelayRule'
      - $ref: '#/components/schemas/DeduplicateRule'
    SourceTypeConfigFUSIONAUTH:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigFusionAuthAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for FUSIONAUTH. Requires type to be `FUSIONAUTH`.
      x-docs-type: FUSIONAUTH
      x-docs-external-url: https://fusionauth.io/docs/extend/events-and-webhooks/signing
    SourceTypeConfigREPLICATE:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigReplicateAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for REPLICATE. Requires type to be `REPLICATE`.
      x-docs-type: REPLICATE
      x-docs-external-url: https://replicate.com/docs/topics/webhooks/verify-webhook
    SourceConfigWebhookAuthGitLab:
      type: object
      properties:
        api_key:
          type: string
      required:
      - api_key
      additionalProperties: false
      x-docs-type: GITLAB
    DestinationTypeConfigCLI:
      type: object
      properties:
        path:
          type: string
          description: Path for the CLI destination
        path_forwarding_disabled:
          type: boolean
        http_method:
          type:
          - string
          - 'null'
          enum:
          - GET
          - POST
          - PUT
          - PATCH
          - DELETE
        auth_type:
          type:
          - string
          - 'null'
          enum:
          - HOOKDECK_SIGNATURE
          - CUSTOM_SIGNATURE
          - BASIC_AUTH
          - API_KEY
          - BEARER_TOKEN
          - OAUTH2_CLIENT_CREDENTIALS
          - OAUTH2_AUTHORIZATION_CODE
          - AWS_SIGNATURE
          - GCP_SERVICE_ACCOUNT
        auth:
          $ref: '#/components/schemas/DestinationConfigCLIAuth'
      required:
      - path
      additionalProperties: false
      description: The type config for CLI. Requires type to be `CLI`.
      x-docs-type: CLI
    SourceConfigWebhookAuthWix:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: WIX
    SourceTypeConfigUPOLLO:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigUpolloAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for UPOLLO. Requires type to be `UPOLLO`.
      x-docs-type: UPOLLO
      x-docs-external-url: https://app.upollo.ai/docs/reference/webhooks#sign-up-for-upollo
    SourceConfigFiservAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
        store_name:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Fiserv
    SourceConfigSvixAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Svix
    SourceTypeConfigSYNCTERA:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigSyncteraAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for SYNCTERA. Requires type to be `SYNCTERA`.
      x-docs-type: SYNCTERA
      x-docs-external-url: https://dev.synctera.com/docs/webhooks-guide#integration-steps
    SourceConfigAlipayAuth:
      type:
      - object
      - 'null'
      properties:
        public_key:
          type: string
      required:
      - public_key
      additionalProperties: false
      x-docs-type: Alipay
    SourceTypeConfigZEROHASH:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigZeroHashAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for ZEROHASH. Requires type to be `ZEROHASH`.
      x-docs-type: ZEROHASH
      x-docs-external-url: https://docs.zerohash.com/reference/webhook-security
    SourceConfigWebhookAuthWalmart:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: WALMART
    SourceTypeConfigSMARTCAR:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigSmartcarAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for SMARTCAR. Requires type to be `SMARTCAR`.
      x-docs-type: SMARTCAR
      x-docs-external-url: https://smartcar.com/docs/integrations/webhooks/payload-verification
    DestinationConfigHTTPAuthEmpty:
      x-docs-hide: true
      x-docs-nullable: true
    SourceTypeConfigMICROSOFT_GRAPH:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigMicrosoftGraphAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for MICROSOFT_GRAPH. Requires type to be `MICROSOFT_GRAPH`.
      x-docs-type: MICROSOFT_GRAPH
      x-docs-external-url: https://learn.microsoft.com/en-us/graph/webhooks
    SourceTypeConfigTELNYX:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigTelnyxAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for TELNYX. Requires type to be `TELNYX`.
      x-docs-type: TELNYX
    SourceConfigWebhookAuthPaypal:
      type: object
      properties:
        webhook_id:
          type: string
      required:
      - webhook_id
      additionalProperties: false
      x-docs-type: PAYPAL
    SourceConfigVercelDrainsAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      additionalProperties: false
      x-docs-type: Vercel Drains
    SourceTypeConfigUTILA:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigUtilaAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for UTILA. Requires type to be `UTILA`.
      x-docs-type: UTILA
      x-docs-external-url: https://docs.utila.io/reference/webhooks
    SourceTypeConfigSVIX:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigSvixAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for SVIX. Requires type to be `SVIX`.
      x-docs-type: SVIX
    SourceConfigWeChatPayAuth:
      type:
      - object
      - 'null'
      properties:
        public_key:
          type: string
      required:
      - public_key
      additionalProperties: false
      x-docs-type: WeChat Pay
    SourceConfigWebhookAuthUSPS:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: USPS
    SourceTypeConfigUSPS:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigUSPSAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for USPS. Requires type to be `USPS`.
      x-docs-type: USPS
      x-docs-external-url: https://developers.usps.com/subscriptions-adjustmentsv3#tag/Listener-URL-Specification/operation/post-notification
    SourceConfigTallyAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Tally
    SourceConfigLinearAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Linear
    SourceConfigWebhookAuthOrb:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: ORB
    SourceConfigSmileAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Smile
    SourceConfigWebhookAuthTebex:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: TEBEX
    SourceConfigWebhookAuthTikTokShop:
      type: object
      properties:
        webhook_secret_key:
          type: string
        app_key:
          type: string
      required:
      - webhook_secret_key
      - app_key
      additionalProperties: false
      x-docs-type: TIKTOK_SHOP
    SourceConfigCoinbaseAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Coinbase
    SourceTypeConfigCUSTOMERIO:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigCustomer.IOAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for CUSTOMERIO. Requires type to be `CUSTOMERIO`.
      x-docs-type: CUSTOMERIO
      x-docs-external-url: https://docs.customer.io/journeys/webhooks/#securely-verify-requests
    SourceConfigWebhookAuthPaymob:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: PAYMOB
    SourceConfigWebhookAuthStripe:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: STRIPE
    SourceConfigPaystackAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Paystack
    DestinationTypeConfigHTTP:
      type: object
      properties:
        url:
          type: string
          format: URL
        rate_limit:
          type:
          - number
          - 'null'
          format: float
        rate_limit_period:
          type:
          - string
          - 'null'
          enum:
          - second
          - minute
          - hour
          - concurrent
        path_forwarding_disabled:
          type: boolean
        http_method:
          type:
          - string
          - 'null'
          enum:
          - GET
          - POST
          - PUT
          - PATCH
          - DELETE
        auth_type:
          type:
          - string
          - 'null'
          enum:
          - HOOKDECK_SIGNATURE
          - CUSTOM_SIGNATURE
          - BASIC_AUTH
          - API_KEY
          - BEARER_TOKEN
          - OAUTH2_CLIENT_CREDENTIALS
          - OAUTH2_AUTHORIZATION_CODE
          - AWS_SIGNATURE
          - GCP_SERVICE_ACCOUNT
        auth:
          $ref: '#/components/schemas/DestinationConfigHTTPAuth'
      required:
      - url
      additionalProperties: false
      description: The type config for HTTP. Requires type to be `HTTP`.
      x-docs-type: HTTP
    SourceTypeConfigPORTAL:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigPortalAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for PORTAL. Requires type to be `PORTAL`.
      x-docs-type: PORTAL
    SourceTypeConfigZOOM:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigZoomAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for ZOOM. Requires type to be `ZOOM`.
      x-docs-type: ZOOM
      x-docs-external-url: https://developers.zoom.us/docs/api/webhooks/#verify-webhook-events
    SourceTypeConfigASHBY:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigAshbyAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
[...]
