openapi: 3.2.0
info:
  title: Hookdeck Bookmarks Attempts Connections API
  version: 1.0.0
  description: Save bookmarked events for quick replay and convenient one-click testing during development.
  contact:
    name: Hookdeck Support
    url: https://hookdeck.com/contact-us
    email: info@hookdeck.com
servers:
- url: https://api.hookdeck.com/2025-07-01
  description: Production API
security:
- bearerAuth: []
- basicAuth: []
tags:
- name: Connections
  description: A connection lets you route webhooks from a source to a destination, using a rule.
paths:
  /connections:
    get:
      operationId: getConnections
      summary: Retrieve connections
      description: This endpoint lists connections, or a subset of connections.
      tags:
      - Connections
      responses:
        '200':
          description: List of connections
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionPaginatedResult'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      parameters:
      - in: query
        name: id
        schema:
          anyOf:
          - type: string
            maxLength: 255
          - type: array
            items:
              type: string
              maxLength: 255
          description: Filter by connection IDs
      - in: query
        name: name
        schema:
          anyOf:
          - type:
            - string
            - 'null'
            pattern: ^[A-z0-9-_]+$
            maxLength: 155
          - $ref: '#/components/schemas/Operators'
          - type: array
            items:
              type:
              - string
              - 'null'
              pattern: ^[A-z0-9-_]+$
              maxLength: 155
          description: Filter by connection name
      - in: query
        name: destination_id
        schema:
          anyOf:
          - type: string
            maxLength: 255
          - type: array
            items:
              type: string
              maxLength: 255
          description: Filter by associated destination IDs
      - in: query
        name: source_id
        schema:
          anyOf:
          - type: string
            maxLength: 255
          - type: array
            items:
              type: string
              maxLength: 255
          description: Filter by associated source IDs
      - in: query
        name: disabled
        schema:
          type: boolean
          description: Include disabled resources in the response
      - in: query
        name: disabled_at
        schema:
          anyOf:
          - type:
            - string
            - 'null'
            format: date-time
          - $ref: '#/components/schemas/Operators'
          description: Date the connection was disabled
      - in: query
        name: full_name
        schema:
          type: string
          pattern: ^[a-z0-9-_>\s]+$
          maxLength: 155
          description: Fuzzy match the concatenated source and connection name. The source name and connection name must be separated by " -> "
      - in: query
        name: paused_at
        schema:
          anyOf:
          - type:
            - string
            - 'null'
            format: date-time
          - $ref: '#/components/schemas/Operators'
          description: Date the connection was paused
      - in: query
        name: order_by
        schema:
          anyOf:
          - type: string
            maxLength: 255
            enum:
            - full_name
            - created_at
            - updated_at
            - sources.updated_at
            - sources.created_at
            - destinations.updated_at
            - destinations.created_at
          - type: array
            items:
              type: string
              maxLength: 255
              enum:
              - full_name
              - created_at
              - updated_at
              - sources.updated_at
              - sources.created_at
              - destinations.updated_at
              - destinations.created_at
            minItems: 2
            maxItems: 2
          description: Sort key(s)
      - in: query
        name: dir
        schema:
          anyOf:
          - type: string
            enum:
            - asc
            - desc
          - type: array
            items:
              type: string
              enum:
              - asc
              - desc
            minItems: 2
            maxItems: 2
          description: Sort direction(s)
      - in: query
        name: limit
        schema:
          type: integer
          minimum: 0
          maximum: 255
          description: Result set size
      - in: query
        name: next
        schema:
          type: string
          maxLength: 255
          description: The ID to provide in the query to get the next set of results
      - in: query
        name: prev
        schema:
          type: string
          maxLength: 255
          description: The ID to provide in the query to get the previous set of results
    post:
      operationId: createConnection
      summary: Create a connection
      description: This endpoint creates a connection. You can create a connection's underlying source, destination, and rules with a single call by declaring an object for any of those resources. You can reuse a source or destination by referencing their ID.
      tags:
      - Connections
      responses:
        '200':
          description: A single connection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type:
                  - string
                  - 'null'
                  pattern: ^[A-z0-9-_]+$
                  maxLength: 155
                  description: A unique name of the connection for the source
                description:
                  type:
                  - string
                  - 'null'
                  maxLength: 500
                  description: Description for the connection
                destination_id:
                  type:
                  - string
                  - 'null'
                  maxLength: 255
                  description: ID of a destination to bind to the connection
                source_id:
                  type:
                  - string
                  - 'null'
                  maxLength: 255
                  description: ID of a source to bind to the connection
                destination:
                  type: object
                  properties:
                    name:
                      type: string
                      pattern: ^[A-z0-9-_]+$
                      maxLength: 155
                      description: Name for the destination
                    type:
                      type: string
                      enum:
                      - HTTP
                      - CLI
                      - MOCK_API
                      description: Type of the destination
                      default: HTTP
                    description:
                      type:
                      - string
                      - 'null'
                      maxLength: 500
                      description: Description for the destination
                    config:
                      $ref: '#/components/schemas/VerificationConfig'
                  required:
                  - name
                  additionalProperties: false
                  description: Destination input object
                source:
                  type: object
                  properties:
                    name:
                      type: string
                      pattern: ^[A-z0-9-_]+$
                      maxLength: 155
                      description: A unique name for the source
                    type:
                      type: string
                      enum:
                      - AIPRISE
                      - ALCHEMY
                      - DOCUSIGN
                      - INTERCOM
                      - PUBLISH_API
                      - WEBHOOK
                      - HTTP
                      - MANAGED
                      - HOOKDECK_OUTPOST
                      - SANITY
                      - BIGCOMMERCE
                      - CLAUDE
                      - OPENAI
                      - POLAR
                      - BRIDGE_XYZ
                      - BRIDGE_API
                      - CHARGEBEE_BILLING
                      - CHAINDOTS
                      - CLOUDSIGNAL
                      - COINBASE
                      - COURIER
                      - CURSOR
                      - MERAKI
                      - MICROSOFT_GRAPH
                      - MICROSOFT_SHAREPOINT
                      - FIREBLOCKS
                      - FRONTAPP
                      - ZOOM
                      - TWITTER
                      - RECHARGE
                      - RECURLY
                      - REVOLUT
                      - RING_CENTRAL
                      - STRIPE
                      - PROPERTY-FINDER
                      - QUOTER
                      - SHOPIFY
                      - TWILIO
                      - GITHUB
                      - POSTMARK
                      - TALLY
                      - TYPEFORM
                      - PICQER
                      - XERO
                      - SVIX
                      - RESEND
                      - GEMINI
                      - ADYEN
                      - AKENEO
                      - GITLAB
                      - WOOCOMMERCE
                      - OKTA
                      - OURA
                      - COMMERCELAYER
                      - HUBSPOT
                      - MAILGUN
                      - PERSONA
                      - PIPEDRIVE
                      - SENDGRID
                      - WORKOS
                      - SYNCTERA
                      - AWS_SNS
                      - THREE_D_EYE
                      - TWITCH
                      - ENODE
                      - FAUNDIT
                      - FAVRO
                      - LINEAR
                      - SHIPBOB
                      - SHIPHERO
                      - SHOPLINE
                      - WIX
                      - NMI
                      - NEON
                      - ORB
                      - PYLON
                      - RAZORPAY
                      - REPAY
                      - SQUARE
                      - SOLIDGATE
                      - TRELLO
                      - EBAY
                      - TELNYX
                      - DISCORD
                      - TOKENIO
                      - FISERV
                      - FUSIONAUTH
                      - BONDSMITH
                      - VERCEL_LOG_DRAINS
                      - VERCEL
                      - TEBEX
                      - SLACK
                      - SMARTCAR
                      - MAILCHIMP
                      - NUVEMSHOP
                      - PADDLE
                      - PAYPAL
                      - PAYMOB
                      - PAYSTACK
                      - SCRAPFLY
                      - PORTAL
                      - TREEZOR
                      - PRAXIS
                      - CUSTOMERIO
                      - EXACT_ONLINE
                      - FACEBOOK
                      - WHATSAPP
                      - REPLICATE
                      - TIKTOK
                      - TIKTOK_SHOP
                      - AIRWALLEX
                      - ASCEND
                      - ALIPAY
                      - ZENDESK
                      - UPOLLO
                      - SMILE
                      - NYLAS
                      - CLIO
                      - GOCARDLESS
                      - LINKEDIN
                      - LITHIC
                      - STRAVA
                      - UTILA
                      - MONDAY
                      - GREENDOT
                      - ZEROHASH
                      - ZIFT
                      - ETHOCA
                      - AIRTABLE
                      - ASANA
                      - ASHBY
                      - FASTSPRING
                      - PAYPRO_GLOBAL
                      - USPS
                      - WALMART
                      - FIREFLIES
                      - FLEXPORT
                      - UBER
                      - WECHAT
                      - CIRCLE
                      description: Type of the source
                      default: WEBHOOK
                    description:
                      type:
                      - string
                      - 'null'
                      maxLength: 500
                      description: Description for the source
                    config:
                      $ref: '#/components/schemas/SourceTypeConfig'
                  required:
                  - name
                  additionalProperties: false
                  description: Source input object
                rules:
                  type: array
                  items:
                    $ref: '#/components/schemas/Rule'
              additionalProperties: false
    put:
      operationId: upsertConnection
      summary: Create/Update a connection
      description: This endpoint creates a connection, or updates an existing connection by name. A connection's source and destination cannot be updated.
      tags:
      - Connections
      responses:
        '200':
          description: A single connection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type:
                  - string
                  - 'null'
                  pattern: ^[A-z0-9-_]+$
                  maxLength: 155
                  description: A unique name of the connection for the source
                description:
                  type:
                  - string
                  - 'null'
                  maxLength: 500
                  description: Description for the connection
                destination_id:
                  type:
                  - string
                  - 'null'
                  maxLength: 255
                  description: ID of a destination to bind to the connection
                source_id:
                  type:
                  - string
                  - 'null'
                  maxLength: 255
                  description: ID of a source to bind to the connection
                destination:
                  type: object
                  properties:
                    name:
                      type: string
                      pattern: ^[A-z0-9-_]+$
                      maxLength: 155
                      description: Name for the destination
                    type:
                      type: string
                      enum:
                      - HTTP
                      - CLI
                      - MOCK_API
                      description: Type of the destination
                      default: HTTP
                    description:
                      type:
                      - string
                      - 'null'
                      maxLength: 500
                      description: Description for the destination
                    config:
                      $ref: '#/components/schemas/VerificationConfig'
                  required:
                  - name
                  additionalProperties: false
                  description: Destination input object
                source:
                  type: object
                  properties:
                    name:
                      type: string
                      pattern: ^[A-z0-9-_]+$
                      maxLength: 155
                      description: A unique name for the source
                    type:
                      type: string
                      enum:
                      - AIPRISE
                      - ALCHEMY
                      - DOCUSIGN
                      - INTERCOM
                      - PUBLISH_API
                      - WEBHOOK
                      - HTTP
                      - MANAGED
                      - HOOKDECK_OUTPOST
                      - SANITY
                      - BIGCOMMERCE
                      - CLAUDE
                      - OPENAI
                      - POLAR
                      - BRIDGE_XYZ
                      - BRIDGE_API
                      - CHARGEBEE_BILLING
                      - CHAINDOTS
                      - CLOUDSIGNAL
                      - COINBASE
                      - COURIER
                      - CURSOR
                      - MERAKI
                      - MICROSOFT_GRAPH
                      - MICROSOFT_SHAREPOINT
                      - FIREBLOCKS
                      - FRONTAPP
                      - ZOOM
                      - TWITTER
                      - RECHARGE
                      - RECURLY
                      - REVOLUT
                      - RING_CENTRAL
                      - STRIPE
                      - PROPERTY-FINDER
                      - QUOTER
                      - SHOPIFY
                      - TWILIO
                      - GITHUB
                      - POSTMARK
                      - TALLY
                      - TYPEFORM
                      - PICQER
                      - XERO
                      - SVIX
                      - RESEND
                      - GEMINI
                      - ADYEN
                      - AKENEO
                      - GITLAB
                      - WOOCOMMERCE
                      - OKTA
                      - OURA
                      - COMMERCELAYER
                      - HUBSPOT
                      - MAILGUN
                      - PERSONA
                      - PIPEDRIVE
                      - SENDGRID
                      - WORKOS
                      - SYNCTERA
                      - AWS_SNS
                      - THREE_D_EYE
                      - TWITCH
                      - ENODE
                      - FAUNDIT
                      - FAVRO
                      - LINEAR
                      - SHIPBOB
                      - SHIPHERO
                      - SHOPLINE
                      - WIX
                      - NMI
                      - NEON
                      - ORB
                      - PYLON
                      - RAZORPAY
                      - REPAY
                      - SQUARE
                      - SOLIDGATE
                      - TRELLO
                      - EBAY
                      - TELNYX
                      - DISCORD
                      - TOKENIO
                      - FISERV
                      - FUSIONAUTH
                      - BONDSMITH
                      - VERCEL_LOG_DRAINS
                      - VERCEL
                      - TEBEX
                      - SLACK
                      - SMARTCAR
                      - MAILCHIMP
                      - NUVEMSHOP
                      - PADDLE
                      - PAYPAL
                      - PAYMOB
                      - PAYSTACK
                      - SCRAPFLY
                      - PORTAL
                      - TREEZOR
                      - PRAXIS
                      - CUSTOMERIO
                      - EXACT_ONLINE
                      - FACEBOOK
                      - WHATSAPP
                      - REPLICATE
                      - TIKTOK
                      - TIKTOK_SHOP
                      - AIRWALLEX
                      - ASCEND
                      - ALIPAY
                      - ZENDESK
                      - UPOLLO
                      - SMILE
                      - NYLAS
                      - CLIO
                      - GOCARDLESS
                      - LINKEDIN
                      - LITHIC
                      - STRAVA
                      - UTILA
                      - MONDAY
                      - GREENDOT
                      - ZEROHASH
                      - ZIFT
                      - ETHOCA
                      - AIRTABLE
                      - ASANA
                      - ASHBY
                      - FASTSPRING
                      - PAYPRO_GLOBAL
                      - USPS
                      - WALMART
                      - FIREFLIES
                      - FLEXPORT
                      - UBER
                      - WECHAT
                      - CIRCLE
                      description: Type of the source
                      default: WEBHOOK
                    description:
                      type:
                      - string
                      - 'null'
                      maxLength: 500
                      description: Description for the source
                    config:
                      $ref: '#/components/schemas/SourceTypeConfig'
                  required:
                  - name
                  additionalProperties: false
                  description: Source input object
                rules:
                  type: array
                  items:
                    $ref: '#/components/schemas/Rule'
              additionalProperties: false
  /connections/count:
    get:
      operationId: countConnections
      summary: Count connections
      description: ''
      tags:
      - Connections
      responses:
        '200':
          description: Count of connections
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: number
                    format: float
                    description: Count of connections
                required:
                - count
                additionalProperties: false
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      parameters:
      - in: query
        name: destination_id
        schema:
          anyOf:
          - type: string
            maxLength: 255
          - type: array
            items:
              type: string
              maxLength: 255
          description: Filter by associated destination IDs
      - in: query
        name: source_id
        schema:
          anyOf:
          - type: string
            maxLength: 255
          - type: array
            items:
              type: string
              maxLength: 255
          description: Filter by associated source IDs
      - in: query
        name: disabled
        schema:
          type: boolean
          description: Include disabled resources in the response
      - in: query
        name: disabled_at
        schema:
          anyOf:
          - type:
            - string
            - 'null'
            format: date-time
          - $ref: '#/components/schemas/Operators'
          description: Date the connection was disabled
      - in: query
        name: paused_at
        schema:
          anyOf:
          - type:
            - string
            - 'null'
            format: date-time
          - $ref: '#/components/schemas/Operators'
          description: Date the connection was paused
  /connections/{id}:
    get:
      operationId: getConnection
      summary: Retrieve a connection
      description: This endpoint retrieves a specific connection.
      tags:
      - Connections
      responses:
        '200':
          description: A single connection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
        '410':
          description: Gone
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      parameters:
      - in: path
        name: id
        schema:
          type: string
          description: Connection ID
        required: true
    put:
      operationId: updateConnection
      summary: Update a connection
      description: This endpoint updates a connection.
      tags:
      - Connections
      responses:
        '200':
          description: A single connection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      parameters:
      - in: path
        name: id
        schema:
          type: string
          description: Connection ID
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type:
                  - string
                  - 'null'
                  pattern: ^[A-z0-9-_]+$
                  maxLength: 155
                description:
                  type:
                  - string
                  - 'null'
                  maxLength: 500
                  description: Description for the connection
                rules:
                  type: array
                  items:
                    $ref: '#/components/schemas/Rule'
              additionalProperties: false
    delete:
      operationId: deleteConnection
      summary: Delete a connection
      description: This endpoint permanently deletes a connection. This action cannot be undone.
      tags:
      - Connections
      responses:
        '200':
          description: A single connection
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: ID of the connection
                required:
                - id
                additionalProperties: false
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      parameters:
      - in: path
        name: id
        schema:
          type: string
        required: true
  /connections/{id}/disable:
    put:
      operationId: disableConnection
      summary: Disable a connection
      description: This endpoint disables a connection. Notice that a connection is enabled by default when created. A disabled connection will no longer receive or deliver any events.
      tags:
      - Connections
      responses:
        '200':
          description: A single connection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      parameters:
      - in: path
        name: id
        schema:
          type: string
          description: Connection ID
        required: true
  /connections/{id}/archive:
    put:
      operationId: disableConnection_archive
      summary: Disable a connection
      description: This endpoint disables a connection. Notice that a connection is enabled by default when created. A disabled connection will no longer receive or deliver any events.
      tags:
      - Connections
      responses:
        '200':
          description: A single connection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      parameters:
      - in: path
        name: id
        schema:
          type: string
          description: Connection ID
        required: true
  /connections/{id}/enable:
    put:
      operationId: enableConnection
      summary: Enable a connection
      description: This endpoint enables a connection that has been previously disabled. The associated source and destination will also be enabled if they were previously disabled.
      tags:
      - Connections
      responses:
        '200':
          description: A single connection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      parameters:
      - in: path
        name: id
        schema:
          type: string
          description: Connection ID
        required: true
  /connections/{id}/unarchive:
    put:
      operationId: enableConnection_unarchive
      summary: Enable a connection
      description: This endpoint enables a connection that has been previously disabled. The associated source and destination will also be enabled if they were previously disabled.
      tags:
      - Connections
      responses:
        '200':
          description: A single connection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      parameters:
      - in: path
        name: id
        schema:
          type: string
          description: Connection ID
        required: true
  /connections/{id}/pause:
    put:
      operationId: pauseConnection
      summary: Pause a connection
      description: This endpoint pauses a connection. A paused connection will still receive events, but those events will be marked with a status of `HOLD` and will be delivered only once the connection is unpaused.
      tags:
      - Connections
      responses:
        '200':
          description: A single connection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      parameters:
      - in: path
        name: id
        schema:
          type: string
          description: Connection ID
        required: true
  /connections/{id}/unpause:
    put:
      operationId: unpauseConnection
      summary: Unpause a connection
      description: This endpoint unpauses a connection. Any event with a status of `HOLD` will be attempted. Destination delivery rate will be respected. This operation is asynchronous, so it may take some time for all events to be `QUEUED` for delivery.
      tags:
      - Connections
      responses:
        '200':
          description: A single connection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      parameters:
      - in: path
        name: id
        schema:
          type: string
          description: Connection ID
        required: true
components:
  schemas:
    SourceTypeConfigFACEBOOK:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigFacebookAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for FACEBOOK. Requires type to be `FACEBOOK`.
      x-docs-type: FACEBOOK
    SourceTypeConfigPORTAL:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigPortalAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for PORTAL. Requires type to be `PORTAL`.
      x-docs-type: PORTAL
    DestinationConfigMockAPIAuthAWSSignature:
      type: object
      properties:
        access_key_id:
          type: string
        secret_access_key:
          type: string
        region:
          type: string
        service:
          type: string
      additionalProperties: false
      x-docs-type: AWS_SIGNATURE
    SourceConfigWebhookAuthBondsmith:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: BONDSMITH
    SourceTypeConfigPERSONA:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigPersonaAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for PERSONA. Requires type to be `PERSONA`.
      x-docs-type: PERSONA
      x-docs-external-url: https://docs.withpersona.com/docs/webhooks-best-practices#checking-signatures
    SourceTypeConfigSQUARE:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigSquareAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for SQUARE. Requires type to be `SQUARE`.
      x-docs-type: SQUARE
      x-docs-external-url: https://developer.squareup.com/docs/webhooks/step3validate
    APIErrorResponse:
      type: object
      properties:
        code:
          type: string
          description: Error code
        status:
          type: number
          format: float
          description: Status code
        message:
          type: string
          description: Error description
        data:
          type:
          - object
          - 'null'
          properties: {}
      required:
      - code
      - status
      - message
      additionalProperties: false
      description: Error response model
    SourceTypeConfigEXACT_ONLINE:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigExactOnlineAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for EXACT_ONLINE. Requires type to be `EXACT_ONLINE`.
      x-docs-type: EXACT_ONLINE
      x-docs-external-url: https://support.exactonline.com/community/s/knowledge-base#All-All-DNO-Content-webhooksc
    SourceTypeConfigNUVEMSHOP:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigNuvemshopAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for NUVEMSHOP. Requires type to be `NUVEMSHOP`.
      x-docs-type: NUVEMSHOP
      x-docs-external-url: https://tiendanube.github.io/api-documentation/resources/webhook
    SourceTypeConfigREVOLUT:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigRevolutAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for REVOLUT. Requires type to be `REVOLUT`.
      x-docs-type: REVOLUT
      x-docs-external-url: https://developer.revolut.com/docs/guides/accept-payments/tutorials/work-with-webhooks/verify-the-payload-signature
    SourceTypeConfigWALMART:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigWalmartAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for WALMART. Requires type to be `WALMART`.
      x-docs-type: WALMART
      x-docs-external-url: https://developer.walmart.com/us-marketplace/docs/security-and-authenticity
    SourceTypeConfigASHBY:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigAshbyAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for ASHBY. Requires type to be `ASHBY`.
      x-docs-type: ASHBY
      x-docs-external-url: https://developers.ashbyhq.com/docs/authenticating-webhooks
    SourceConfigWebhookAuthTwilio:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: TWILIO
    SourceConfigTwilioAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Twilio
    DestinationConfigCLIAuthBearerToken:
      type: object
      properties:
        token:
          type: string
      additionalProperties: false
      x-docs-type: BEARER_TOKEN
    SourceConfigCloudSignalAuth:
      type:
      - object
      - 'null'
      properties:
        api_key:
          type: string
      required:
      - api_key
      additionalProperties: false
      x-docs-type: Cloud Signal
    SourceTypeConfigSTRIPE:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigStripeAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for STRIPE. Requires type to be `STRIPE`.
      x-docs-type: STRIPE
      x-docs-external-url: https://docs.stripe.com/webhooks?verify=verify-manually
    SourceTypeConfigAIPRISE:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigAipriseAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for AIPRISE. Requires type to be `AIPRISE`.
      x-docs-type: AIPRISE
      x-docs-external-url: https://docs.aiprise.com/docs/callbacks-authentication
    SourceTypeConfigTALLY:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigTallyAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for TALLY. Requires type to be `TALLY`.
      x-docs-type: TALLY
      x-docs-external-url: https://tally.so/help/webhooks
    SourceConfigAirwallexAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Airwallex
    SourceTypeConfigPAYMOB:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigPaymobAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for PAYMOB. Requires type to be `PAYMOB`.
      x-docs-type: PAYMOB
      x-docs-external-url: https://developers.paymob.com/paymob-docs/developers/webhook-callbacks-and-hmac/hmac/hmac-transaction-callback
    SourceConfigWebhookAuthFireblocks:
      type: object
      properties:
        environment:
          type: string
          enum:
          - US_PRODUCTION
          - EU
          - EU2
          - SANDBOX
      required:
      - environment
      additionalProperties: false
      x-docs-type: FIREBLOCKS
    SourceConfigTokenIOAuth:
      type:
      - object
      - 'null'
      properties:
        public_key:
          type: string
      required:
      - public_key
      additionalProperties: false
      x-docs-type: TokenIO
    SourceConfigWebhookAuthFireflies.ai:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: FIREFLIES
    SourceConfigHTTPAuthAPIKey:
      type: object
      properties:
        header_key:
          type: string
        api_key:
          type: string
      additionalProperties: false
      x-docs-type: API_KEY
    SourceTypeConfigVERCEL:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigVercelWebhooksAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for VERCEL. Requires type to be `VERCEL`.
      x-docs-type: VERCEL
      x-docs-external-url: https://vercel.com/docs/observability/webhooks-overview/webhooks-api#securing-webhooks
    SourceTypeConfigGITHUB:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigGitHubAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for GITHUB. Requires type to be `GITHUB`.
      x-docs-type: GITHUB
      x-docs-external-url: https://docs.github.com/en/webhooks/using-webhooks/validating-webhook-deliveries
    SourceTypeConfigOKTA:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigOktaAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for OKTA. Requires type to be `OKTA`.
      x-docs-type: OKTA
    SourceTypeConfigPAYSTACK:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigPaystackAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for PAYSTACK. Requires type to be `PAYSTACK`.
      x-docs-type: PAYSTACK
      x-docs-external-url: https://paystack.com/docs/payments/webhooks/#verify-event-origin
    SourceConfigWebhookAuthVercelDrains:
      type: object
      properties:
        webhook_secret_key:
          type: string
      additionalProperties: false
      x-docs-type: VERCEL_LOG_DRAINS
    SourceConfigAirtableAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Airtable
    SourceConfigUtilaAuth:
      type:
      - object
      - 'null'
      properties:
        public_key:
          type: string
      required:
      - public_key
      additionalProperties: false
      x-docs-type: Utila
    SourceConfigWebhookAuthRecharge:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: RECHARGE
    SourceConfigSanityAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Sanity
    SourceConfigWebhookAuthLinear:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: LINEAR
    SourceTypeConfigPAYPAL:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigPaypalAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for PAYPAL. Requires type to be `PAYPAL`.
      x-docs-type: PAYPAL
      x-docs-external-url: https://developer.paypal.com/api/rest/webhooks/rest/
    SourceConfigSvixAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Svix
    SourceConfigRingCentralAuth:
      type:
      - object
      - 'null'
      properties:
        token:
          type: string
      required:
      - token
      additionalProperties: false
      x-docs-type: RingCentral
    SourceConfigPylonAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Pylon
    SourceConfigWebhookAuthNylas:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: NYLAS
    SourceTypeConfigWEBHOOK:
      type: object
      properties:
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
        auth_type:
          type:
          - string
          - 'null'
          enum:
          - HMAC
          - BASIC_AUTH
          - API_KEY
          - AIPRISE
          - ALCHEMY
          - DOCUSIGN
          - INTERCOM
          - PUBLISH_API
          - WEBHOOK
          - HTTP
          - MANAGED
          - HOOKDECK_OUTPOST
          - SANITY
          - BIGCOMMERCE
          - CLAUDE
          - OPENAI
          - POLAR
          - BRIDGE_XYZ
          - BRIDGE_API
          - CHARGEBEE_BILLING
          - CHAINDOTS
          - CLOUDSIGNAL
          - COINBASE
          - COURIER
          - CURSOR
          - MERAKI
          - MICROSOFT_GRAPH
          - MICROSOFT_SHAREPOINT
          - FIREBLOCKS
          - FRONTAPP
          - ZOOM
          - TWITTER
          - RECHARGE
          - RECURLY
          - REVOLUT
          - RING_CENTRAL
          - STRIPE
          - PROPERTY-FINDER
          - QUOTER
          - SHOPIFY
          - TWILIO
          - GITHUB
          - POSTMARK
          - TALLY
          - TYPEFORM
          - PICQER
          - XERO
          - SVIX
          - RESEND
          - GEMINI
          - ADYEN
          - AKENEO
          - GITLAB
          - WOOCOMMERCE
          - OKTA
          - OURA
          - COMMERCELAYER
          - HUBSPOT
          - MAILGUN
          - PERSONA
          - PIPEDRIVE
          - SENDGRID
          - WORKOS
          - SYNCTERA
          - AWS_SNS
          - THREE_D_EYE
          - TWITCH
          - ENODE
          - FAUNDIT
          - FAVRO
          - LINEAR
          - SHIPBOB
          - SHIPHERO
          - SHOPLINE
          - WIX
          - NMI
          - NEON
          - ORB
          - PYLON
          - RAZORPAY
          - REPAY
          - SQUARE
          - SOLIDGATE
          - TRELLO
          - EBAY
          - TELNYX
          - DISCORD
          - TOKENIO
          - FISERV
          - FUSIONAUTH
          - BONDSMITH
          - VERCEL_LOG_DRAINS
          - VERCEL
          - TEBEX
          - SLACK
          - SMARTCAR
          - MAILCHIMP
          - NUVEMSHOP
          - PADDLE
          - PAYPAL
          - PAYMOB
          - PAYSTACK
          - SCRAPFLY
          - PORTAL
          - TREEZOR
          - PRAXIS
          - CUSTOMERIO
          - EXACT_ONLINE
          - FACEBOOK
          - WHATSAPP
          - REPLICATE
          - TIKTOK
          - TIKTOK_SHOP
          - AIRWALLEX
          - ASCEND
          - ALIPAY
          - ZENDESK
          - UPOLLO
          - SMILE
          - NYLAS
          - CLIO
          - GOCARDLESS
          - LINKEDIN
          - LITHIC
          - STRAVA
          - UTILA
          - MONDAY
          - GREENDOT
          - ZEROHASH
          - ZIFT
          - ETHOCA
          - AIRTABLE
          - ASANA
          - ASHBY
          - FASTSPRING
          - PAYPRO_GLOBAL
          - USPS
          - WALMART
          - FIREFLIES
          - FLEXPORT
          - UBER
          - WECHAT
          - CIRCLE
        auth:
          $ref: '#/components/schemas/SourceConfigWebhookAuth'
      additionalProperties: false
      description: The type config for WEBHOOK. Requires type to be `WEBHOOK`.
      x-docs-type: WEBHOOK
    SourceConfigWebhookAuthAiprise:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: AIPRISE
    SourceConfigWebhookAuthHMAC:
      type: object
      properties:
        algorithm:
          type: string
          enum:
          - sha1
          - sha256
          - sha512
          - md5
        encoding:
          type: string
          enum:
          - base64
          - base64url
          - hex
        header_key:
          type: string
        webhook_secret_key:
          type: string
      required:
      - algorithm
      - encoding
      - header_key
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: HMAC
    SourceConfigWebhookAuthPaddle:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: PADDLE
    SourceConfigSmartcarAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Smartcar
    SourceTypeConfigNMI:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigNMIPaymentGatewayAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for NMI. Requires type to be `NMI`.
      x-docs-type: NMI
      x-docs-external-url: https://secure.networkmerchants.com/gw/merchants/resources/integration/integration_portal.php#webhooks_setup
    SourceConfigHTTPAuthBasicAuth:
      type: object
      properties:
        username:
          type: string
        password:
          type: string
      additionalProperties: false
      x-docs-type: BASIC_AUTH
    SourceConfigPostmarkAuth:
      type:
      - object
      - 'null'
      properties:
        username:
          type: string
        password:
          type: string
      required:
      - username
      - password
      additionalProperties: false
      x-docs-type: Postmark
    SourceConfigFacebookAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Facebook
    SourceTypeConfigSYNCTERA:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigSyncteraAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for SYNCTERA. Requires type to be `SYNCTERA`.
      x-docs-type: SYNCTERA
      x-docs-external-url: https://dev.synctera.com/docs/webhooks-guide#integration-steps
    SourceConfigWebhookAuthSynctera:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: SYNCTERA
    SourceConfigWebhookAuthShipHero:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: SHIPHERO
    SourceConfigWebhookAuthAscend:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: ASCEND
    SourceConfigWebhookAuthBasicAuth:
      type: object
      properties:
        username:
          type: string
        password:
          type: string
      required:
      - username
      - password
      additionalProperties: false
      x-docs-type: BASIC_AUTH
    SourceConfigHookdeckPublishAPIAuth:
      type:
      - object
      - 'null'
      properties: {}
      additionalProperties: false
      x-docs-type: Hookdeck Publish API
    SourceConfigTrelloAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Trello
    SourceTypeConfigRECURLY:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigRecurlyAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for RECURLY. Requires type to be `RECURLY`.
      x-docs-type: RECURLY
      x-docs-external-url: https://docs.recurly.com/recurly-subscriptions/docs/signature-verification
    SourceTypeConfigENODE:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigEnodeAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for ENODE. Requires type to be `ENODE`.
      x-docs-type: ENODE
      x-docs-external-url: https://developers.enode.com/docs/webhooks
    SourceTypeConfigCLOUDSIGNAL:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigCloudSignalAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for CLOUDSIGNAL. Requires type to be `CLOUDSIGNAL`.
      x-docs-type: CLOUDSIGNAL
    SourceConfigOpenAIAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: OpenAI
    SourceConfigDocuSignAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: DocuSign
    SourceConfigWebhookAuthTally:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: TALLY
    SourceConfigUSPSAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: USPS
    SourceTypeConfigAWS_SNS:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigAWSSNSAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for AWS_SNS. Requires type to be `AWS_SNS`.
      x-docs-type: AWS_SNS
    DestinationConfigMockAPIAuthEmpty:
      x-docs-hide: true
      x-docs-nullable: true
    SourceConfigWebhookAuthQuoter:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: QUOTER
    SourceConfigHTTPAuthEmpty:
      x-docs-hide: true
      x-docs-nullable: true
    SourceTypeConfigPOLAR:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigPolarAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for POLAR. Requires type to be `POLAR`.
      x-docs-type: POLAR
    SourceConfigZeroHashAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: ZeroHash
    SourceConfigWebhookAuthTypeform:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: TYPEFORM
    SourceConfigWebhookAuthX:
      type: object
      properties:
        api_key:
          type: string
      required:
      - api_key
      additionalProperties: false
      x-docs-type: TWITTER
    DestinationConfigMockAPIAuth:
      type: object
      properties: {}
      additionalProperties: false
      oneOf:
      - $ref: '#/components/schemas/DestinationConfigMockAPIAuthHookdeckSignatureDefault'
      - $ref: '#/components/schemas/DestinationConfigMockAPIAuthCustomSHA256HMACSignature'
      - $ref: '#/components/schemas/DestinationConfigMockAPIAuthBasicAuth'
      - $ref: '#/components/schemas/DestinationConfigMockAPIAuthAPIKey'
      - $ref: '#/components/schemas/DestinationConfigMockAPIAuthBearerToken'
      - $ref: '#/components/schemas/DestinationConfigMockAPIAuthOAuth2ClientCredentials'
      - $ref: '#/components/schemas/DestinationConfigMockAPIAuthOAuth2AuthorizationCode'
      - $ref: '#/components/schemas/DestinationConfigMockAPIAuthAWSSignature'
      - $ref: '#/components/schemas/DestinationConfigMockAPIAuthGCPServiceAccount'
      - $ref: '#/components/schemas/DestinationConfigMockAPIAuthEmpty'
    SourceConfigGoCardlessAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: GoCardless
    SourceConfigWebhookAuthOura:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: OURA
    SourceConfigWebhookAuthSanity:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: SANITY
    SourceConfigWebhookAuthFusionAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: FUSIONAUTH
    SourceConfigPersonaAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Persona
    SourceConfigXAuth:
      type:
      - object
      - 'null'
      properties:
        api_key:
          type: string
      required:
      - api_key
      additionalProperties: false
      x-docs-type: X
    Destination:
      type: object
      properties:
        id:
          type: string
          description: ID of the destination
        name:
          type: string
          description: A unique, human-friendly name for the destination
        description:
          type:
          - string
          - 'null'
          description: Description of the destination
        team_id:
          type: string
          description: ID of the project
        type:
          type: string
          enum:
          - HTTP
          - CLI
          - MOCK_API
          description: Type of the destination
        config:
          $ref: '#/components/schemas/DestinationConfig'
        disabled_at:
          type:
          - string
          - 'null'
          format: date-time
          description: Date the destination was disabled
        updated_at:
          type: string
          format: date-time
          description: Date the destination was last updated
        created_at:
          type: string
          format: date-time
          description: Date the destination was created
      required:
      - id
      - name
      - team_id
      - type
      - disabled_at
      - updated_at
      - created_at
      additionalProperties: false
      description: Associated [Destination](#destination-object) object
    DestinationConfigHTTPAuthHookdeckSignatureDefault:
      type: object
      properties: {}
      additionalProperties: false
      x-docs-type: HOOKDECK_SIGNATURE
    SourceConfigWebhookAuthMailchimp:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: MAILCHIMP
    SourceConfigWebhookAuthCursor:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: CURSOR
    SourceTypeConfigEBAY:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigEbayAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for EBAY. Requires type to be `EBAY`.
      x-docs-type: EBAY
      x-docs-external-url: https://developer.ebay.com/api-docs/commerce/notification/resources/destination/methods/createDestination
    SourceTypeConfigREPLICATE:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigReplicateAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for REPLICATE. Requires type to be `REPLICATE`.
      x-docs-type: REPLICATE
      x-docs-external-url: https://replicate.com/docs/topics/webhooks/verify-webhook
    SourceTypeConfigSHOPLINE:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigShoplineAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for SHOPLINE. Requires type to be `SHOPLINE`.
      x-docs-type: SHOPLINE
      x-docs-external-url: https://developer.shopline.com/docsv2/ec20/3cv5d7wpfgr6a8z5/wf8em731s7f8c3ut?version=v20240301#signature-verification
    DestinationConfigCLIAuthOAuth2ClientCredentials:
      type: object
      properties:
        auth_server:
          type: string
        client_id:
          type: string
        client_secret:
          type: string
        scope:
          type: string
        authentication_type:
          type: string
          enum:
          - basic
          - bearer
          - x-www-form-urlencoded
      additionalProperties: false
      x-docs-type: OAUTH2_CLIENT_CREDENTIALS
    SourceConfigNeonAuth:
      type:
      - object
      - 'null'
      properties:
        neon_auth_url:
          type: string
      required:
      - neon_auth_url
      additionalProperties: false
      x-docs-type: Neon
    SourceConfigZoomAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Zoom
    SourceTypeConfigINTERCOM:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigIntercomAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for INTERCOM. Requires type to be `INTERCOM`.
      x-docs-type: INTERCOM
      x-docs-external-url: https://developers.intercom.com/docs/references/webhooks/webhook-models#signed-notifications
    SourceTypeConfigSLACK:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigSlackAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for SLACK. Requires type to be `SLACK`.
      x-docs-type: SLACK
      x-docs-external-url: https://api.slack.com/authentication/verifying-requests-from-slack#validating-a-request
    TransformRule:
      type: object
      properties:
        type:
          type: string
          enum:
          - transform
          description: A transformation rule must be of type `transform`
        transformation_id:
          type:
          - string
          - 'null'
          description: ID of the attached transformation object. Optional input, always set once the rule is defined
        transformation:
          type: object
          properties:
            name:
              type: string
              description: The unique name of the transformation
            code:
              type: string
              description: A string representation of your JavaScript (ES6) code to run
            env:
              type:
              - object
              - 'null'
              properties: {}
              additionalProperties:
                type: string
              description: A key-value object of environment variables to encrypt and expose to your transformation code
          required:
          - name
          - code
          additionalProperties: false
          description: You can optionally define a new transformation while creating a transform rule
      required:
      - type
      additionalProperties: false
    SourceConfigChaindotsAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Chaindots
    SourceConfigWebhookAuthResend:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: RESEND
    SourceConfigLinkedInAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: LinkedIn
    SourceTypeConfig:
      type: object
      properties: {}
      additionalProperties: false
      oneOf:
      - $ref: '#/components/schemas/SourceTypeConfigAIPRISE'
      - $ref: '#/components/schemas/SourceTypeConfigALCHEMY'
      - $ref: '#/components/schemas/SourceTypeConfigDOCUSIGN'
      - $ref: '#/components/schemas/SourceTypeConfigINTERCOM'
      - $ref: '#/components/schemas/SourceTypeConfigPUBLISH_API'
      - $ref: '#/components/schemas/SourceTypeConfigWEBHOOK'
      - $ref: '#/components/schemas/SourceTypeConfigHTTP'
      - $ref: '#/components/schemas/SourceTypeConfigMANAGED'
      - $ref: '#/components/schemas/SourceTypeConfigHOOKDECK_OUTPOST'
      - $ref: '#/components/schemas/SourceTypeConfigSANITY'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigBIGCOMMERCE'
      - $ref: '#/components/schemas/SourceTypeConfigCLAUDE'
      - $ref: '#/components/schemas/SourceTypeConfigOPENAI'
      - $ref: '#/components/schemas/SourceTypeConfigPOLAR'
      - $ref: '#/components/schemas/SourceTypeConfigBRIDGE_XYZ'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigBRIDGE_API'
      - $ref: '#/components/schemas/SourceTypeConfigCHARGEBEE_BILLING'
      - $ref: '#/components/schemas/SourceTypeConfigCHAINDOTS'
      - $ref: '#/components/schemas/SourceTypeConfigCLOUDSIGNAL'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigCOINBASE'
      - $ref: '#/components/schemas/SourceTypeConfigCOURIER'
      - $ref: '#/components/schemas/SourceTypeConfigCURSOR'
      - $ref: '#/components/schemas/SourceTypeConfigMERAKI'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigMICROSOFT_GRAPH'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigMICROSOFT_SHAREPOINT'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigFIREBLOCKS'
      - $ref: '#/components/schemas/SourceTypeConfigFRONTAPP'
      - $ref: '#/components/schemas/SourceTypeConfigZOOM'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigTWITTER'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigRECHARGE'
      - $ref: '#/components/schemas/SourceTypeConfigRECURLY'
      - $ref: '#/components/schemas/SourceTypeConfigREVOLUT'
      - $ref: '#/components/schemas/SourceTypeConfigRING_CENTRAL'
      - $ref: '#/components/schemas/SourceTypeConfigSTRIPE'
      - $ref: '#/components/schemas/SourceTypeConfigPROPERTYFINDER'
      - $ref: '#/components/schemas/SourceTypeConfigQUOTER'
      - $ref: '#/components/schemas/SourceTypeConfigSHOPIFY'
      - $ref: '#/components/schemas/SourceTypeConfigTWILIO'
      - $ref: '#/components/schemas/SourceTypeConfigGITHUB'
      - $ref: '#/components/schemas/SourceTypeConfigPOSTMARK'
      - $ref: '#/components/schemas/SourceTypeConfigTALLY'
      - $ref: '#/components/schemas/SourceTypeConfigTYPEFORM'
      - $ref: '#/components/schemas/SourceTypeConfigPICQER'
      - $ref: '#/components/schemas/SourceTypeConfigXERO'
      - $ref: '#/components/schemas/SourceTypeConfigSVIX'
      - $ref: '#/components/schemas/SourceTypeConfigRESEND'
      - $ref: '#/components/schemas/SourceTypeConfigGEMINI'
      - $ref: '#/components/schemas/SourceTypeConfigADYEN'
      - $ref: '#/components/schemas/SourceTypeConfigAKENEO'
      - $ref: '#/components/schemas/SourceTypeConfigGITLAB'
      - $ref: '#/components/schemas/SourceTypeConfigWOOCOMMERCE'
      - $ref: '#/components/schemas/SourceTypeConfigOKTA'
      - $ref: '#/components/schemas/SourceTypeConfigOURA'
      - $ref: '#/components/schemas/SourceTypeConfigCOMMERCELAYER'
      - $ref: '#/components/schemas/SourceTypeConfigHUBSPOT'
      - $ref: '#/components/schemas/SourceTypeConfigMAILGUN'
      - $ref: '#/components/schemas/SourceTypeConfigPERSONA'
      - $ref: '#/components/schemas/SourceTypeConfigPIPEDRIVE'
      - $ref: '#/components/schemas/SourceTypeConfigSENDGRID'
      - $ref: '#/components/schemas/SourceTypeConfigWORKOS'
      - $ref: '#/components/schemas/SourceTypeConfigSYNCTERA'
      - $ref: '#/components/schemas/SourceTypeConfigAWS_SNS'
      - $ref: '#/components/schemas/SourceTypeConfigTHREE_D_EYE'
      - $ref: '#/components/schemas/SourceTypeConfigTWITCH'
      - $ref: '#/components/schemas/SourceTypeConfigENODE'
      - $ref: '#/components/schemas/SourceTypeConfigFAUNDIT'
      - $ref: '#/components/schemas/SourceTypeConfigFAVRO'
      - $ref: '#/components/schemas/SourceTypeConfigLINEAR'
      - $ref: '#/components/schemas/SourceTypeConfigSHIPBOB'
      - $ref: '#/components/schemas/SourceTypeConfigSHIPHERO'
      - $ref: '#/components/schemas/SourceTypeConfigSHOPLINE'
      - $ref: '#/components/schemas/SourceTypeConfigWIX'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigNMI'
      - $ref: '#/components/schemas/SourceTypeConfigNEON'
      - $ref: '#/components/schemas/SourceTypeConfigORB'
      - $ref: '#/components/schemas/SourceTypeConfigPYLON'
      - $ref: '#/components/schemas/SourceTypeConfigRAZORPAY'
      - $ref: '#/components/schemas/SourceTypeConfigREPAY'
      - $ref: '#/components/schemas/SourceTypeConfigSQUARE'
      - $ref: '#/components/schemas/SourceTypeConfigSOLIDGATE'
      - $ref: '#/components/schemas/SourceTypeConfigTRELLO'
      - $ref: '#/components/schemas/SourceTypeConfigEBAY'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigTELNYX'
      - $ref: '#/components/schemas/SourceTypeConfigDISCORD'
      - $ref: '#/components/schemas/SourceTypeConfigTOKENIO'
      - $ref: '#/components/schemas/SourceTypeConfigFISERV'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigFUSIONAUTH'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigBONDSMITH'
      - $ref: '#/components/schemas/SourceTypeConfigVERCEL_LOG_DRAINS'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigVERCEL'
      - $ref: '#/components/schemas/SourceTypeConfigTEBEX'
      - $ref: '#/components/schemas/SourceTypeConfigSLACK'
      - $ref: '#/components/schemas/SourceTypeConfigSMARTCAR'
      - $ref: '#/components/schemas/SourceTypeConfigMAILCHIMP'
      - $ref: '#/components/schemas/SourceTypeConfigNUVEMSHOP'
      - $ref: '#/components/schemas/SourceTypeConfigPADDLE'
      - $ref: '#/components/schemas/SourceTypeConfigPAYPAL'
      - $ref: '#/components/schemas/SourceTypeConfigPAYMOB'
      - $ref: '#/components/schemas/SourceTypeConfigPAYSTACK'
      - $ref: '#/components/schemas/SourceTypeConfigSCRAPFLY'
      - $ref: '#/components/schemas/SourceTypeConfigPORTAL'
      - $ref: '#/components/schemas/SourceTypeConfigTREEZOR'
      - $ref: '#/components/schemas/SourceTypeConfigPRAXIS'
      - $ref: '#/components/schemas/SourceTypeConfigCUSTOMERIO'
      - $ref: '#/components/schemas/SourceTypeConfigEXACT_ONLINE'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigFACEBOOK'
      - $ref: '#/components/schemas/SourceTypeConfigWHATSAPP'
      - $ref: '#/components/schemas/SourceTypeConfigREPLICATE'
      - $ref: '#/components/schemas/SourceTypeConfigTIKTOK'
      - $ref: '#/components/schemas/SourceTypeConfigTIKTOK_SHOP'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigAIRWALLEX'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigASCEND'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigALIPAY'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigZENDESK'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigUPOLLO'
      - $ref: '#/components/schemas/SourceTypeConfigSMILE'
      - $ref: '#/components/schemas/SourceTypeConfigNYLAS'
      - $ref: '#/components/schemas/SourceTypeConfigCLIO'
      - $ref: '#/components/schemas/SourceTypeConfigGOCARDLESS'
      - $ref: '#/components/schemas/SourceTypeConfigLINKEDIN'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigLITHIC'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigSTRAVA'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigUTILA'
      - $ref: '#/components/schemas/SourceTypeConfigMONDAY'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigGREENDOT'
      - $ref: '#/components/schemas/SourceTypeConfigZEROHASH'
      - $ref: '#/components/schemas/SourceTypeConfigZIFT'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigETHOCA'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigAIRTABLE'
      - $ref: '#/components/schemas/SourceTypeConfigASANA'
      - $ref: '#/components/schemas/SourceTypeConfigASHBY'
      - $ref: '#/components/schemas/SourceTypeConfigFASTSPRING'
      - $ref: '#/components/schemas/SourceTypeConfigPAYPRO_GLOBAL'
      - $ref: '#/components/schemas/SourceTypeConfigUSPS'
      - $ref: '#/components/schemas/SourceTypeConfigWALMART'
      - $ref: '#/components/schemas/SourceTypeConfigFIREFLIES'
      - $ref: '#/components/schemas/SourceTypeConfigFLEXPORT'
      - $ref: '#/components/schemas/SourceTypeConfigUBER'
      - $ref: '#/components/schemas/SourceTypeConfigWECHAT'
      - $ref: '#/components/schemas/SourceTypeConfigCIRCLE'
        x-required: true
      description: The type configs for the specified type
      default: {}
    SourceTypeConfigPIPEDRIVE:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigPipedriveAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for PIPEDRIVE. Requires type to be `PIPEDRIVE`.
      x-docs-type: PIPEDRIVE
    SourceConfigWebhookAuthTikTokShop:
      type: object
      properties:
        webhook_secret_key:
          type: string
        app_key:
          type: string
      required:
      - webhook_secret_key
      - app_key
      additionalProperties: false
      x-docs-type: TIKTOK_SHOP
    SourceTypeConfigPAYPRO_GLOBAL:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigPayProGlobalAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for PAYPRO_GLOBAL. Requires type to be `PAYPRO_GLOBAL`.
      x-docs-type: PAYPRO_GLOBAL
      x-docs-external-url: https://developers.payproglobal.com/docs/integrate-with-paypro-global/webhook-ipn/
    SourceConfigWebhookAuthTrello:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: TRELLO
    SourceConfigPicqerAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Picqer
    SourceConfigExactOnlineAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Exact Online
    SourceConfigWebhookAuthSquare:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: SQUARE
    SourceTypeConfigPUBLISH_API:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigHookdeckPublishAPIAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for PUBLISH_API. Requires type to be `PUBLISH_API`.
      x-docs-type: PUBLISH_API
    SourceConfigAlipayAuth:
      type:
      - object
      - 'null'
      properties:
        public_key:
          type: string
      required:
      - public_key
      additionalProperties: false
      x-docs-type: Alipay
    SourceConfigWebhookAuthXero:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: XERO
    SourceConfigWebhookAuthAdyen:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: ADYEN
    SourceConfigWebhookAuthPostmark:
      type: object
      properties:
        username:
          type: string
        password:
          type: string
      required:
      - username
      - password
      additionalProperties: false
      x-docs-type: POSTMARK
    SourceConfigBigCommerceAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: BigCommerce
    SourceTypeConfigNEON:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigNeonAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for NEON. Requires type to be `NEON`.
      x-docs-type: NEON
      x-docs-external-url: https://neon.com/docs/auth/guides/webhooks#signature-verification
    SourceConfigFastSpringAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: FastSpring
    SourceTypeConfigORB:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigOrbAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for ORB. Requires type to be `ORB`.
      x-docs-type: ORB
      x-docs-external-url: https://docs.withorb.com/guides/integrations-and-exports/webhooks#webhooks-verification
    SourceConfigWebhookAuthGitLab:
      type: object
      properties:
        api_key:
          type: string
      required:
      - api_key
      additionalProperties: false
      x-docs-type: GITLAB
    SourceConfigWebhookAuthWalmart:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: WALMART
    DestinationConfigCLIAuthHookdeckSignatureDefault:
      type: object
      properties: {}
      additionalProperties: false
      x-docs-type: HOOKDECK_SIGNATURE
    SourceConfigWebhookAuth3dEye:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: THREE_D_EYE
    SourceConfigResendAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Resend
    SourceTypeConfigUSPS:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigUSPSAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for USPS. Requires type to be `USPS`.
      x-docs-type: USPS
      x-docs-external-url: https://developers.usps.com/subscriptions-adjustmentsv3#tag/Listener-URL-Specification/operation/post-notification
    SourceAllowedHTTPMethod:
      type: array
      items:
        type: string
        enum:
        - GET
        - POST
        - PUT
        - PATCH
        - DELETE
      description: List of allowed HTTP methods. Defaults to PUT, POST, PATCH, DELETE.
    DestinationConfigHTTPAuthOAuth2ClientCredentials:
      type: object
      properties:
        auth_server:
          type: string
        client_id:
          type: string
        client_secret:
          type: string
        scope:
          type: string
        authentication_type:
          type: string
          enum:
          - basic
          - bearer
          - x-www-form-urlencoded
      additionalProperties: false
      x-docs-type: OAUTH2_CLIENT_CREDENTIALS
    SourceConfigHubspotAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Hubspot
    SourceTypeConfigMICROSOFT_GRAPH:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigMicrosoftGraphAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for MICROSOFT_GRAPH. Requires type to be `MICROSOFT_GRAPH`.
      x-docs-type: MICROSOFT_GRAPH
      x-docs-external-url: https://learn.microsoft.com/en-us/graph/webhooks
    SourceConfigWebhookAuthFiserv:
      type: object
      properties:
        webhook_secret_key:
          type: string
        store_name:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: FISERV
    DestinationConfig:
      type: object
      properties: {}
      additionalProperties: false
      oneOf:
      - $ref: '#/components/schemas/DestinationTypeConfigHTTP'
      - $ref: '#/components/schemas/DestinationTypeConfigCLI'
      - $ref: '#/components/schemas/DestinationTypeConfigMOCK_API'
      description: Configuration object for the destination type
      default: {}
    SourceConfigSmileAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Smile
    DestinationConfigCLIAuthAWSSignature:
      type: object
      properties:
        access_key_id:
          type: string
        secret_access_key:
          type: string
        region:
          type: string
        service:
          type: string
      additionalProperties: false
      x-docs-type: AWS_SIGNATURE
    SourceTypeConfigTWITTER:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigXAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for TWITTER. Requires type to be `TWITTER`.
      x-docs-type: TWITTER
      x-docs-external-url: https://developer.x.com/en/docs/x-api/enterprise/account-activity-api/guides/securing-webhooks
    SourceConfigPaymobAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Paymob
    DestinationConfigMockAPIAuthBasicAuth:
      type: object
      properties:
        username:
          type: string
        password:
          type: string
      additionalProperties: false
      x-docs-type: BASIC_AUTH
    DestinationConfigHTTPAuthCustomSHA256HMACSignature:
      type: object
      properties:
        key:
          type: string
        signing_secret:
          type: string
      additionalProperties: false
      x-docs-type: CUSTOM_SIGNATURE
    SourceTypeConfigSANITY:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigSanityAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for SANITY. Requires type to be `SANITY`.
      x-docs-type: SANITY
      x-docs-external-url: https://www.sanity.io/docs/webhooks
    SourceConfigWebhookAuthWeChatPay:
      type: object
      properties:
        public_key:
          type: string
      required:
      - public_key
      additionalProperties: false
      x-docs-type: WECHAT
    SourceConfigWebhookAuthWorkOS:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: WORKOS
    SourceTypeConfigGOCARDLESS:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigGoCardlessAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for GOCARDLESS. Requires type to be `GOCARDLESS`.
      x-docs-type: GOCARDLESS
      x-docs-external-url: https://developer.gocardless.com/getting-started/staying-up-to-date-with-webhooks#staying_up-to-date_with_webhooks
    SourceConfigWebhookAuthPolar:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: POLAR
    SourceConfigPraxisAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Praxis
    SourceConfigAsanaAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Asana
    SourceTypeConfigRAZORPAY:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigRazorpayAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for RAZORPAY. Requires type to be `RAZORPAY`.
      x-docs-type: RAZORPAY
      x-docs-external-url: https://razorpay.com/docs/webhooks/validate-test/#validate-webhooks
    SourceConfigWebhookAuthSmile:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: SMILE
    SourceTypeConfigTOKENIO:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigTokenIOAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for TOKENIO. Requires type to be `TOKENIO`.
      x-docs-type: TOKENIO
      x-docs-external-url: https://developer.token.io/token_rest_api_doc/content/e-rest/webhooks.htm?Highlight=webhook#Signature
    SourceTypeConfigPADDLE:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigPaddleAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for PADDLE. Requires type to be `PADDLE`.
      x-docs-type: PADDLE
      x-docs-external-url: https://developer.paddle.com/webhooks/signature-verification
    SourceTypeConfigMICROSOFT_SHAREPOINT:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigMicrosoftSharePointAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for MICROSOFT_SHAREPOINT. Requires type to be `MICROSOFT_SHAREPOINT`.
      x-docs-type: MICROSOFT_SHAREPOINT
      x-docs-external-url: https://learn.microsoft.com/en-us/sharepoint/dev/apis/webhooks/overview-sharepoint-webhooks
    SourceConfigAWSSNSAuth:
      type:
      - object
      - 'null'
      properties: {}
      additionalProperties: false
      x-docs-type: AWS SNS
    SourceConfigWebhookAuthAPIKey:
      type: object
      properties:
        header_key:
          type: string
        api_key:
          type: string
      required:
      - header_key
      - api_key
      additionalProperties: false
      x-docs-type: API_KEY
    SourceTypeConfigFAUNDIT:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigFaunditAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for FAUNDIT. Requires type to be `FAUNDIT`.
      x-docs-type: FAUNDIT
      x-docs-external-url: https://faundit.gitbook.io/faundit-api-v2/webhooks
    SourceConfigWebhookAuthRepay:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: REPAY
    SourceConfigWebhookAuthStripe:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: STRIPE
    SourceConfigAshbyAuth:
      type:
      - object
      - 'null'
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: Ashby
    SourceConfigWebhookAuthFastSpring:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: FASTSPRING
    SourceTypeConfigRING_CENTRAL:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigRingCentralAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for RING_CENTRAL. Requires type to be `RING_CENTRAL`.
      x-docs-type: RING_CENTRAL
      x-docs-external-url: https://developer.ringcentral.com/api-docs/latest/index.html#webhooks
    SourceTypeConfigFLEXPORT:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigFlexportAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for FLEXPORT. Requires type to be `FLEXPORT`.
      x-docs-type: FLEXPORT
[...]
