openapi: 3.0.1
info:
  title: Hookdeck Sources API
  version: 1.0.0
  description: Manage sources — the upstream endpoints (webhook senders or push channels) that ingest events into Hookdeck.
    Supports source-type configuration, verification, allowed HTTP methods, and custom response.
  contact:
    name: Hookdeck Support
    url: https://hookdeck.com/contact-us
    email: info@hookdeck.com
servers:
- url: https://api.hookdeck.com/2025-07-01
  description: Production API
security:
- bearerAuth: []
- basicAuth: []
tags:
- name: Sources
  description: A source represents any third party that sends webhooks to Hookdeck.
paths:
  /sources:
    get:
      operationId: getSources
      summary: Retrieve sources
      description: This endpoint lists sources, or a subset of sources.
      tags:
      - Sources
      responses:
        '200':
          description: List of sources
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourcePaginatedResult'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      parameters:
      - in: query
        name: id
        schema:
          anyOf:
          - type: string
            maxLength: 255
          - type: array
            items:
              type: string
              maxLength: 255
          description: Filter by source IDs
      - in: query
        name: name
        schema:
          anyOf:
          - type: string
            pattern: ^[A-z0-9-_]+$
            maxLength: 155
          - $ref: '#/components/schemas/Operators'
          - type: array
            items:
              type: string
              pattern: ^[A-z0-9-_]+$
              maxLength: 155
          description: The source name
      - in: query
        name: type
        schema:
          anyOf:
          - type: string
            enum:
            - AIPRISE
            - ALCHEMY
            - DOCUSIGN
            - INTERCOM
            - PUBLISH_API
            - WEBHOOK
            - HTTP
            - MANAGED
            - HOOKDECK_OUTPOST
            - SANITY
            - BIGCOMMERCE
            - CLAUDE
            - OPENAI
            - POLAR
            - BRIDGE_XYZ
            - BRIDGE_API
            - CHARGEBEE_BILLING
            - CHAINDOTS
            - CLOUDSIGNAL
            - COINBASE
            - COURIER
            - CURSOR
            - MERAKI
            - MICROSOFT_GRAPH
            - MICROSOFT_SHAREPOINT
            - FIREBLOCKS
            - FRONTAPP
            - ZOOM
            - TWITTER
            - RECHARGE
            - RECURLY
            - REVOLUT
            - RING_CENTRAL
            - STRIPE
            - PROPERTY-FINDER
            - QUOTER
            - SHOPIFY
            - TWILIO
            - GITHUB
            - POSTMARK
            - TALLY
            - TYPEFORM
            - PICQER
            - XERO
            - SVIX
            - RESEND
            - GEMINI
            - ADYEN
            - AKENEO
            - GITLAB
            - WOOCOMMERCE
            - OKTA
            - OURA
            - COMMERCELAYER
            - HUBSPOT
            - MAILGUN
            - PERSONA
            - PIPEDRIVE
            - SENDGRID
            - WORKOS
            - SYNCTERA
            - AWS_SNS
            - THREE_D_EYE
            - TWITCH
            - ENODE
            - FAUNDIT
            - FAVRO
            - LINEAR
            - SHIPBOB
            - SHIPHERO
            - SHOPLINE
            - WIX
            - NMI
            - NEON
            - ORB
            - PYLON
            - RAZORPAY
            - REPAY
            - SQUARE
            - SOLIDGATE
            - TRELLO
            - EBAY
            - TELNYX
            - DISCORD
            - TOKENIO
            - FISERV
            - FUSIONAUTH
            - BONDSMITH
            - VERCEL_LOG_DRAINS
            - VERCEL
            - TEBEX
            - SLACK
            - SMARTCAR
            - MAILCHIMP
            - NUVEMSHOP
            - PADDLE
            - PAYPAL
            - PAYMOB
            - PAYSTACK
            - SCRAPFLY
            - PORTAL
            - TREEZOR
            - PRAXIS
            - CUSTOMERIO
            - EXACT_ONLINE
            - FACEBOOK
            - WHATSAPP
            - REPLICATE
            - TIKTOK
            - TIKTOK_SHOP
            - AIRWALLEX
            - ASCEND
            - ALIPAY
            - ZENDESK
            - UPOLLO
            - SMILE
            - NYLAS
            - CLIO
            - GOCARDLESS
            - LINKEDIN
            - LITHIC
            - STRAVA
            - UTILA
            - MONDAY
            - GREENDOT
            - ZEROHASH
            - ZIFT
            - ETHOCA
            - AIRTABLE
            - ASANA
            - ASHBY
            - FASTSPRING
            - PAYPRO_GLOBAL
            - USPS
            - WALMART
            - FIREFLIES
            - FLEXPORT
            - UBER
            - WECHAT
            - CIRCLE
          - type: array
            items:
              type: string
              enum:
              - AIPRISE
              - ALCHEMY
              - DOCUSIGN
              - INTERCOM
              - PUBLISH_API
              - WEBHOOK
              - HTTP
              - MANAGED
              - HOOKDECK_OUTPOST
              - SANITY
              - BIGCOMMERCE
              - CLAUDE
              - OPENAI
              - POLAR
              - BRIDGE_XYZ
              - BRIDGE_API
              - CHARGEBEE_BILLING
              - CHAINDOTS
              - CLOUDSIGNAL
              - COINBASE
              - COURIER
              - CURSOR
              - MERAKI
              - MICROSOFT_GRAPH
              - MICROSOFT_SHAREPOINT
              - FIREBLOCKS
              - FRONTAPP
              - ZOOM
              - TWITTER
              - RECHARGE
              - RECURLY
              - REVOLUT
              - RING_CENTRAL
              - STRIPE
              - PROPERTY-FINDER
              - QUOTER
              - SHOPIFY
              - TWILIO
              - GITHUB
              - POSTMARK
              - TALLY
              - TYPEFORM
              - PICQER
              - XERO
              - SVIX
              - RESEND
              - GEMINI
              - ADYEN
              - AKENEO
              - GITLAB
              - WOOCOMMERCE
              - OKTA
              - OURA
              - COMMERCELAYER
              - HUBSPOT
              - MAILGUN
              - PERSONA
              - PIPEDRIVE
              - SENDGRID
              - WORKOS
              - SYNCTERA
              - AWS_SNS
              - THREE_D_EYE
              - TWITCH
              - ENODE
              - FAUNDIT
              - FAVRO
              - LINEAR
              - SHIPBOB
              - SHIPHERO
              - SHOPLINE
              - WIX
              - NMI
              - NEON
              - ORB
              - PYLON
              - RAZORPAY
              - REPAY
              - SQUARE
              - SOLIDGATE
              - TRELLO
              - EBAY
              - TELNYX
              - DISCORD
              - TOKENIO
              - FISERV
              - FUSIONAUTH
              - BONDSMITH
              - VERCEL_LOG_DRAINS
              - VERCEL
              - TEBEX
              - SLACK
              - SMARTCAR
              - MAILCHIMP
              - NUVEMSHOP
              - PADDLE
              - PAYPAL
              - PAYMOB
              - PAYSTACK
              - SCRAPFLY
              - PORTAL
              - TREEZOR
              - PRAXIS
              - CUSTOMERIO
              - EXACT_ONLINE
              - FACEBOOK
              - WHATSAPP
              - REPLICATE
              - TIKTOK
              - TIKTOK_SHOP
              - AIRWALLEX
              - ASCEND
              - ALIPAY
              - ZENDESK
              - UPOLLO
              - SMILE
              - NYLAS
              - CLIO
              - GOCARDLESS
              - LINKEDIN
              - LITHIC
              - STRAVA
              - UTILA
              - MONDAY
              - GREENDOT
              - ZEROHASH
              - ZIFT
              - ETHOCA
              - AIRTABLE
              - ASANA
              - ASHBY
              - FASTSPRING
              - PAYPRO_GLOBAL
              - USPS
              - WALMART
              - FIREFLIES
              - FLEXPORT
              - UBER
              - WECHAT
              - CIRCLE
          description: Filter by source type
      - in: query
        name: disabled
        schema:
          type: boolean
          description: Include disabled resources in the response
      - in: query
        name: disabled_at
        schema:
          anyOf:
          - type: string
            format: date-time
            nullable: true
          - $ref: '#/components/schemas/Operators'
          description: Date the source was disabled
      - in: query
        name: order_by
        schema:
          type: string
          maxLength: 255
          enum:
          - name
          - created_at
          - updated_at
          description: Sort key
      - in: query
        name: dir
        schema:
          type: string
          enum:
          - asc
          - desc
          description: Sort direction
      - in: query
        name: limit
        schema:
          type: integer
          minimum: 0
          maximum: 255
          description: Result set size
      - in: query
        name: next
        schema:
          type: string
          maxLength: 255
          description: The ID to provide in the query to get the next set of results
      - in: query
        name: prev
        schema:
          type: string
          maxLength: 255
          description: The ID to provide in the query to get the previous set of results
    post:
      operationId: createSource
      summary: Create a source
      description: This endpoint creates a source.
      tags:
      - Sources
      responses:
        '200':
          description: A single source
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  pattern: ^[A-z0-9-_]+$
                  maxLength: 155
                  description: A unique name for the source
                type:
                  type: string
                  enum:
                  - AIPRISE
                  - ALCHEMY
                  - DOCUSIGN
                  - INTERCOM
                  - PUBLISH_API
                  - WEBHOOK
                  - HTTP
                  - MANAGED
                  - HOOKDECK_OUTPOST
                  - SANITY
                  - BIGCOMMERCE
                  - CLAUDE
                  - OPENAI
                  - POLAR
                  - BRIDGE_XYZ
                  - BRIDGE_API
                  - CHARGEBEE_BILLING
                  - CHAINDOTS
                  - CLOUDSIGNAL
                  - COINBASE
                  - COURIER
                  - CURSOR
                  - MERAKI
                  - MICROSOFT_GRAPH
                  - MICROSOFT_SHAREPOINT
                  - FIREBLOCKS
                  - FRONTAPP
                  - ZOOM
                  - TWITTER
                  - RECHARGE
                  - RECURLY
                  - REVOLUT
                  - RING_CENTRAL
                  - STRIPE
                  - PROPERTY-FINDER
                  - QUOTER
                  - SHOPIFY
                  - TWILIO
                  - GITHUB
                  - POSTMARK
                  - TALLY
                  - TYPEFORM
                  - PICQER
                  - XERO
                  - SVIX
                  - RESEND
                  - GEMINI
                  - ADYEN
                  - AKENEO
                  - GITLAB
                  - WOOCOMMERCE
                  - OKTA
                  - OURA
                  - COMMERCELAYER
                  - HUBSPOT
                  - MAILGUN
                  - PERSONA
                  - PIPEDRIVE
                  - SENDGRID
                  - WORKOS
                  - SYNCTERA
                  - AWS_SNS
                  - THREE_D_EYE
                  - TWITCH
                  - ENODE
                  - FAUNDIT
                  - FAVRO
                  - LINEAR
                  - SHIPBOB
                  - SHIPHERO
                  - SHOPLINE
                  - WIX
                  - NMI
                  - NEON
                  - ORB
                  - PYLON
                  - RAZORPAY
                  - REPAY
                  - SQUARE
                  - SOLIDGATE
                  - TRELLO
                  - EBAY
                  - TELNYX
                  - DISCORD
                  - TOKENIO
                  - FISERV
                  - FUSIONAUTH
                  - BONDSMITH
                  - VERCEL_LOG_DRAINS
                  - VERCEL
                  - TEBEX
                  - SLACK
                  - SMARTCAR
                  - MAILCHIMP
                  - NUVEMSHOP
                  - PADDLE
                  - PAYPAL
                  - PAYMOB
                  - PAYSTACK
                  - SCRAPFLY
                  - PORTAL
                  - TREEZOR
                  - PRAXIS
                  - CUSTOMERIO
                  - EXACT_ONLINE
                  - FACEBOOK
                  - WHATSAPP
                  - REPLICATE
                  - TIKTOK
                  - TIKTOK_SHOP
                  - AIRWALLEX
                  - ASCEND
                  - ALIPAY
                  - ZENDESK
                  - UPOLLO
                  - SMILE
                  - NYLAS
                  - CLIO
                  - GOCARDLESS
                  - LINKEDIN
                  - LITHIC
                  - STRAVA
                  - UTILA
                  - MONDAY
                  - GREENDOT
                  - ZEROHASH
                  - ZIFT
                  - ETHOCA
                  - AIRTABLE
                  - ASANA
                  - ASHBY
                  - FASTSPRING
                  - PAYPRO_GLOBAL
                  - USPS
                  - WALMART
                  - FIREFLIES
                  - FLEXPORT
                  - UBER
                  - WECHAT
                  - CIRCLE
                  description: Type of the source
                  default: WEBHOOK
                description:
                  type: string
                  maxLength: 500
                  nullable: true
                  description: Description for the source
                config:
                  $ref: '#/components/schemas/SourceTypeConfig'
              required:
              - name
              additionalProperties: false
    put:
      operationId: upsertSource
      summary: Create/Update a source
      description: This endpoint creates a source, or updates an existing source by name.
      tags:
      - Sources
      responses:
        '200':
          description: A single source
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  pattern: ^[A-z0-9-_]+$
                  maxLength: 155
                  description: A unique name for the source
                type:
                  type: string
                  enum:
                  - AIPRISE
                  - ALCHEMY
                  - DOCUSIGN
                  - INTERCOM
                  - PUBLISH_API
                  - WEBHOOK
                  - HTTP
                  - MANAGED
                  - HOOKDECK_OUTPOST
                  - SANITY
                  - BIGCOMMERCE
                  - CLAUDE
                  - OPENAI
                  - POLAR
                  - BRIDGE_XYZ
                  - BRIDGE_API
                  - CHARGEBEE_BILLING
                  - CHAINDOTS
                  - CLOUDSIGNAL
                  - COINBASE
                  - COURIER
                  - CURSOR
                  - MERAKI
                  - MICROSOFT_GRAPH
                  - MICROSOFT_SHAREPOINT
                  - FIREBLOCKS
                  - FRONTAPP
                  - ZOOM
                  - TWITTER
                  - RECHARGE
                  - RECURLY
                  - REVOLUT
                  - RING_CENTRAL
                  - STRIPE
                  - PROPERTY-FINDER
                  - QUOTER
                  - SHOPIFY
                  - TWILIO
                  - GITHUB
                  - POSTMARK
                  - TALLY
                  - TYPEFORM
                  - PICQER
                  - XERO
                  - SVIX
                  - RESEND
                  - GEMINI
                  - ADYEN
                  - AKENEO
                  - GITLAB
                  - WOOCOMMERCE
                  - OKTA
                  - OURA
                  - COMMERCELAYER
                  - HUBSPOT
                  - MAILGUN
                  - PERSONA
                  - PIPEDRIVE
                  - SENDGRID
                  - WORKOS
                  - SYNCTERA
                  - AWS_SNS
                  - THREE_D_EYE
                  - TWITCH
                  - ENODE
                  - FAUNDIT
                  - FAVRO
                  - LINEAR
                  - SHIPBOB
                  - SHIPHERO
                  - SHOPLINE
                  - WIX
                  - NMI
                  - NEON
                  - ORB
                  - PYLON
                  - RAZORPAY
                  - REPAY
                  - SQUARE
                  - SOLIDGATE
                  - TRELLO
                  - EBAY
                  - TELNYX
                  - DISCORD
                  - TOKENIO
                  - FISERV
                  - FUSIONAUTH
                  - BONDSMITH
                  - VERCEL_LOG_DRAINS
                  - VERCEL
                  - TEBEX
                  - SLACK
                  - SMARTCAR
                  - MAILCHIMP
                  - NUVEMSHOP
                  - PADDLE
                  - PAYPAL
                  - PAYMOB
                  - PAYSTACK
                  - SCRAPFLY
                  - PORTAL
                  - TREEZOR
                  - PRAXIS
                  - CUSTOMERIO
                  - EXACT_ONLINE
                  - FACEBOOK
                  - WHATSAPP
                  - REPLICATE
                  - TIKTOK
                  - TIKTOK_SHOP
                  - AIRWALLEX
                  - ASCEND
                  - ALIPAY
                  - ZENDESK
                  - UPOLLO
                  - SMILE
                  - NYLAS
                  - CLIO
                  - GOCARDLESS
                  - LINKEDIN
                  - LITHIC
                  - STRAVA
                  - UTILA
                  - MONDAY
                  - GREENDOT
                  - ZEROHASH
                  - ZIFT
                  - ETHOCA
                  - AIRTABLE
                  - ASANA
                  - ASHBY
                  - FASTSPRING
                  - PAYPRO_GLOBAL
                  - USPS
                  - WALMART
                  - FIREFLIES
                  - FLEXPORT
                  - UBER
                  - WECHAT
                  - CIRCLE
                  description: Type of the source
                  default: WEBHOOK
                description:
                  type: string
                  maxLength: 500
                  nullable: true
                  description: Description for the source
                config:
                  $ref: '#/components/schemas/SourceTypeConfig'
              required:
              - name
              additionalProperties: false
  /sources/count:
    get:
      operationId: countSources
      summary: Count sources
      description: ''
      tags:
      - Sources
      responses:
        '200':
          description: Count of sources
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: number
                    format: float
                    description: Count of sources
                required:
                - count
                additionalProperties: false
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      parameters: []
  /sources/{id}:
    get:
      operationId: getSource
      summary: Retrieve a source
      description: This endpoint retrieves a specific source.
      tags:
      - Sources
      responses:
        '200':
          description: A single source
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
        '410':
          description: Gone
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      parameters:
      - in: query
        name: include
        schema:
          type: string
          enum:
          - config.auth
      - in: path
        name: id
        schema:
          type: string
          description: Source ID
        required: true
    put:
      operationId: updateSource
      summary: Update a source
      description: This endpoint updates a source.
      tags:
      - Sources
      responses:
        '200':
          description: A single source
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      parameters:
      - in: path
        name: id
        schema:
          type: string
          description: Source ID
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  pattern: ^[A-z0-9-_]+$
                  maxLength: 155
                  description: A unique name for the source
                type:
                  type: string
                  enum:
                  - AIPRISE
                  - ALCHEMY
                  - DOCUSIGN
                  - INTERCOM
                  - PUBLISH_API
                  - WEBHOOK
                  - HTTP
                  - MANAGED
                  - HOOKDECK_OUTPOST
                  - SANITY
                  - BIGCOMMERCE
                  - CLAUDE
                  - OPENAI
                  - POLAR
                  - BRIDGE_XYZ
                  - BRIDGE_API
                  - CHARGEBEE_BILLING
                  - CHAINDOTS
                  - CLOUDSIGNAL
                  - COINBASE
                  - COURIER
                  - CURSOR
                  - MERAKI
                  - MICROSOFT_GRAPH
                  - MICROSOFT_SHAREPOINT
                  - FIREBLOCKS
                  - FRONTAPP
                  - ZOOM
                  - TWITTER
                  - RECHARGE
                  - RECURLY
                  - REVOLUT
                  - RING_CENTRAL
                  - STRIPE
                  - PROPERTY-FINDER
                  - QUOTER
                  - SHOPIFY
                  - TWILIO
                  - GITHUB
                  - POSTMARK
                  - TALLY
                  - TYPEFORM
                  - PICQER
                  - XERO
                  - SVIX
                  - RESEND
                  - GEMINI
                  - ADYEN
                  - AKENEO
                  - GITLAB
                  - WOOCOMMERCE
                  - OKTA
                  - OURA
                  - COMMERCELAYER
                  - HUBSPOT
                  - MAILGUN
                  - PERSONA
                  - PIPEDRIVE
                  - SENDGRID
                  - WORKOS
                  - SYNCTERA
                  - AWS_SNS
                  - THREE_D_EYE
                  - TWITCH
                  - ENODE
                  - FAUNDIT
                  - FAVRO
                  - LINEAR
                  - SHIPBOB
                  - SHIPHERO
                  - SHOPLINE
                  - WIX
                  - NMI
                  - NEON
                  - ORB
                  - PYLON
                  - RAZORPAY
                  - REPAY
                  - SQUARE
                  - SOLIDGATE
                  - TRELLO
                  - EBAY
                  - TELNYX
                  - DISCORD
                  - TOKENIO
                  - FISERV
                  - FUSIONAUTH
                  - BONDSMITH
                  - VERCEL_LOG_DRAINS
                  - VERCEL
                  - TEBEX
                  - SLACK
                  - SMARTCAR
                  - MAILCHIMP
                  - NUVEMSHOP
                  - PADDLE
                  - PAYPAL
                  - PAYMOB
                  - PAYSTACK
                  - SCRAPFLY
                  - PORTAL
                  - TREEZOR
                  - PRAXIS
                  - CUSTOMERIO
                  - EXACT_ONLINE
                  - FACEBOOK
                  - WHATSAPP
                  - REPLICATE
                  - TIKTOK
                  - TIKTOK_SHOP
                  - AIRWALLEX
                  - ASCEND
                  - ALIPAY
                  - ZENDESK
                  - UPOLLO
                  - SMILE
                  - NYLAS
                  - CLIO
                  - GOCARDLESS
                  - LINKEDIN
                  - LITHIC
                  - STRAVA
                  - UTILA
                  - MONDAY
                  - GREENDOT
                  - ZEROHASH
                  - ZIFT
                  - ETHOCA
                  - AIRTABLE
                  - ASANA
                  - ASHBY
                  - FASTSPRING
                  - PAYPRO_GLOBAL
                  - USPS
                  - WALMART
                  - FIREFLIES
                  - FLEXPORT
                  - UBER
                  - WECHAT
                  - CIRCLE
                  description: Type of the source
                description:
                  type: string
                  maxLength: 500
                  nullable: true
                  description: Description for the source
                config:
                  $ref: '#/components/schemas/SourceTypeConfig'
              additionalProperties: false
    delete:
      operationId: deleteSource
      summary: Delete a source
      description: This endpoint permanently deletes a source. This action cannot be undone.
      tags:
      - Sources
      responses:
        '200':
          description: A single source
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: ID of the source
                required:
                - id
                additionalProperties: false
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      parameters:
      - in: path
        name: id
        schema:
          type: string
        required: true
  /sources/{id}/disable:
    put:
      operationId: disableSource
      summary: Disable a source
      description: This endpoint disables a source. A disabled source will no longer receive any events, and all connections
        associated with this source will also be disabled.
      tags:
      - Sources
      responses:
        '200':
          description: A single source
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      parameters:
      - in: path
        name: id
        schema:
          type: string
          description: Source ID
        required: true
  /sources/{id}/archive:
    put:
      operationId: disableSource_archive
      summary: Disable a source
      description: This endpoint disables a source. A disabled source will no longer receive any events, and all connections
        associated with this source will also be disabled.
      tags:
      - Sources
      responses:
        '200':
          description: A single source
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      parameters:
      - in: path
        name: id
        schema:
          type: string
          description: Source ID
        required: true
  /sources/{id}/enable:
    put:
      operationId: enableSource
      summary: Enable a source
      description: This endpoint enables a source that was previously disabled.
      tags:
      - Sources
      responses:
        '200':
          description: A single source
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      parameters:
      - in: path
        name: id
        schema:
          type: string
          description: Source ID
        required: true
  /sources/{id}/unarchive:
    put:
      operationId: enableSource_unarchive
      summary: Enable a source
      description: This endpoint enables a source that was previously disabled.
      tags:
      - Sources
      responses:
        '200':
          description: A single source
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      parameters:
      - in: path
        name: id
        schema:
          type: string
          description: Source ID
        required: true
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
    basicAuth:
      type: http
      scheme: basic
  schemas:
    SourceConfigTallyAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: Tally
    SourceConfigLinkedInAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: LinkedIn
    SourceConfigXAuth:
      type: object
      properties:
        api_key:
          type: string
      required:
      - api_key
      additionalProperties: false
      nullable: true
      x-docs-type: X
    SourceTypeConfigSANITY:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigSanityAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for SANITY. Requires type to be `SANITY`.
      x-docs-type: SANITY
      x-docs-external-url: https://www.sanity.io/docs/webhooks
    SourceTypeConfigPRAXIS:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigPraxisAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for PRAXIS. Requires type to be `PRAXIS`.
      x-docs-type: PRAXIS
      x-docs-external-url: https://doc.praxiscashier.com/integration_docs/latest/webhooks/validation
    SourceConfigWebhookAuthReplicate:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: REPLICATE
    SourceTypeConfigSLACK:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigSlackAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for SLACK. Requires type to be `SLACK`.
      x-docs-type: SLACK
      x-docs-external-url: https://api.slack.com/authentication/verifying-requests-from-slack#validating-a-request
    SourceTypeConfigCOMMERCELAYER:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigCommerceLayerAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for COMMERCELAYER. Requires type to be `COMMERCELAYER`.
      x-docs-type: COMMERCELAYER
      x-docs-external-url: https://docs.commercelayer.io/core/callbacks-security
    SourceTypeConfigXERO:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigXeroAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for XERO. Requires type to be `XERO`.
      x-docs-type: XERO
      x-docs-external-url: https://developer.xero.com/documentation/guides/webhooks/configuring-your-server/
    SourceConfigWebhookAuthPolar:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: POLAR
    SourceConfigMicrosoftSharePointAuth:
      type: object
      properties: {}
      additionalProperties: false
      nullable: true
      x-docs-type: Microsoft SharePoint
    SourceConfigWebhookAuthRingCentral:
      type: object
      properties:
        token:
          type: string
      required:
      - token
      additionalProperties: false
      x-docs-type: RING_CENTRAL
    SourceTypeConfigMAILGUN:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigMailgunAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for MAILGUN. Requires type to be `MAILGUN`.
      x-docs-type: MAILGUN
      x-docs-external-url: https://documentation.mailgun.com/docs/mailgun/user-manual/tracking-messages/#webhooks
    SourceConfigSmileAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: Smile
    SourceTypeConfigOPENAI:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigOpenAIAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for OPENAI. Requires type to be `OPENAI`.
      x-docs-type: OPENAI
    SourceTypeConfigSHIPBOB:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigShipBobAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for SHIPBOB. Requires type to be `SHIPBOB`.
      x-docs-type: SHIPBOB
      x-docs-external-url: https://developer.shipbob.com/2026-01/webhooks#verifying-signatures
    SourceConfigWebhookAuthWalmart:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: WALMART
    SourceConfigQuoterAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: Quoter
    SourceConfigPropertyFinderAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: Property Finder
    SourceTypeConfigTYPEFORM:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigTypeformAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for TYPEFORM. Requires type to be `TYPEFORM`.
      x-docs-type: TYPEFORM
      x-docs-external-url: https://www.typeform.com/developers/webhooks/secure-your-webhooks/
    Operators:
      type: object
      properties:
        gt:
          type: string
          format: date-time
          nullable: true
        gte:
          type: string
          format: date-time
          nullable: true
        le:
          type: string
          format: date-time
          nullable: true
        lte:
          type: string
          format: date-time
          nullable: true
        any:
          type: boolean
        all:
          type: boolean
      additionalProperties: false
    SourceTypeConfigGEMINI:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigGoogleGeminiAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for GEMINI. Requires type to be `GEMINI`.
      x-docs-type: GEMINI
      x-docs-external-url: https://ai.google.dev/gemini-api/docs/webhooks#handle-webhook-requests
    SourceConfigDocuSignAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: DocuSign
    SourceConfigPipedriveAuth:
      type: object
      properties:
        username:
          type: string
        password:
          type: string
      required:
      - username
      - password
      additionalProperties: false
      nullable: true
      x-docs-type: Pipedrive
    SourceConfigSvixAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: Svix
    SourceConfigWebhookAuthAdyen:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: ADYEN
    SourceConfigWebhookAuthMeraki:
      type: object
      properties:
        api_key:
          type: string
      required:
      - api_key
      additionalProperties: false
      x-docs-type: MERAKI
    SourceConfigWebhookAuthAlipay:
      type: object
      properties:
        public_key:
          type: string
      required:
      - public_key
      additionalProperties: false
      x-docs-type: ALIPAY
    SourceTypeConfigGITLAB:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigGitLabAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for GITLAB. Requires type to be `GITLAB`.
      x-docs-type: GITLAB
    SourceConfigRazorpayAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: Razorpay
    SourceConfigRevolutAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: Revolut
    SourceConfigPaystackAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: Paystack
    SourceConfigWebhookAuthAkeneo:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: AKENEO
    SourceTypeConfigRESEND:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigResendAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for RESEND. Requires type to be `RESEND`.
      x-docs-type: RESEND
    SeekPagination:
      type: object
      properties:
        order_by:
          anyOf:
          - type: string
          - type: array
            items:
              type: string
        dir:
          anyOf:
          - $ref: '#/components/schemas/OrderByDirection'
          - type: array
            items:
              $ref: '#/components/schemas/OrderByDirection'
        limit:
          type: integer
        prev:
          type: string
        next:
          type: string
      additionalProperties: false
    SourceConfigAirwallexAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: Airwallex
    SourceTypeConfigCLIO:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigClioAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for CLIO. Requires type to be `CLIO`.
      x-docs-type: CLIO
      x-docs-external-url: https://docs.developers.clio.com/api-reference/#tag/Webhooks/Webhook-Security
    SourceTypeConfigSTRAVA:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigStravaAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for STRAVA. Requires type to be `STRAVA`.
      x-docs-type: STRAVA
    SourceTypeConfigCLOUDSIGNAL:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigCloudSignalAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for CLOUDSIGNAL. Requires type to be `CLOUDSIGNAL`.
      x-docs-type: CLOUDSIGNAL
    SourceConfigGoogleGeminiAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: Google Gemini
    SourceConfigWebhookAuthSanity:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: SANITY
    SourceConfigLinearAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: Linear
    SourceTypeConfigPROPERTYFINDER:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigPropertyFinderAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for PROPERTY-FINDER. Requires type to be `PROPERTY-FINDER`.
      x-docs-type: PROPERTY-FINDER
    SourceTypeConfigNEON:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigNeonAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for NEON. Requires type to be `NEON`.
      x-docs-type: NEON
      x-docs-external-url: https://neon.com/docs/auth/guides/webhooks#signature-verification
    SourceConfigTrelloAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: Trello
    SourceConfigWebhookAuthAlchemy:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: ALCHEMY
    SourceConfigWebhookAuthNylas:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: NYLAS
    SourceTypeConfigPADDLE:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigPaddleAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for PADDLE. Requires type to be `PADDLE`.
      x-docs-type: PADDLE
      x-docs-external-url: https://developer.paddle.com/webhooks/signature-verification
    SourceConfigAirtableAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: Airtable
    SourceTypeConfigREVOLUT:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigRevolutAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for REVOLUT. Requires type to be `REVOLUT`.
      x-docs-type: REVOLUT
      x-docs-external-url: https://developer.revolut.com/docs/guides/accept-payments/tutorials/work-with-webhooks/verify-the-payload-signature
    SourceConfigWebhookAuthShopify:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: SHOPIFY
    SourceConfigWebhookAuthFacebook:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: FACEBOOK
    SourceConfigCoinbaseAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: Coinbase
    SourceTypeConfigUTILA:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigUtilaAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for UTILA. Requires type to be `UTILA`.
      x-docs-type: UTILA
      x-docs-external-url: https://docs.utila.io/reference/webhooks
    SourceConfigVercelWebhooksAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: Vercel Webhooks
    SourceTypeConfigBRIDGE_API:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigBridgeAPIAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for BRIDGE_API. Requires type to be `BRIDGE_API`.
      x-docs-type: BRIDGE_API
      x-docs-external-url: https://docs.bridgeapi.io/docs/secure-your-webhooks
    SourceTypeConfigADYEN:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigAdyenAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for ADYEN. Requires type to be `ADYEN`.
      x-docs-type: ADYEN
      x-docs-external-url: https://docs.adyen.com/development-resources/webhooks/verify-hmac-signatures/
    SourceConfigWebhookAuthPipedrive:
      type: object
      properties:
        username:
          type: string
        password:
          type: string
      required:
      - username
      - password
      additionalProperties: false
      x-docs-type: PIPEDRIVE
    SourceConfigWebhookAuthLinkedIn:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: LINKEDIN
    SourceConfigAshbyAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: Ashby
    SourceConfigWebhookAuthAsana:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: ASANA
    SourceConfigWebhookAuthBigCommerce:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: BIGCOMMERCE
    SourceTypeConfigPAYPAL:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigPaypalAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for PAYPAL. Requires type to be `PAYPAL`.
      x-docs-type: PAYPAL
      x-docs-external-url: https://developer.paypal.com/api/rest/webhooks/rest/
    SourceTypeConfigPUBLISH_API:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigHookdeckPublishAPIAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for PUBLISH_API. Requires type to be `PUBLISH_API`.
      x-docs-type: PUBLISH_API
    SourceTypeConfigWEBHOOK:
      type: object
      properties:
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
        auth_type:
          type: string
          enum:
          - HMAC
          - BASIC_AUTH
          - API_KEY
          - AIPRISE
          - ALCHEMY
          - DOCUSIGN
          - INTERCOM
          - PUBLISH_API
          - WEBHOOK
          - HTTP
          - MANAGED
          - HOOKDECK_OUTPOST
          - SANITY
          - BIGCOMMERCE
          - CLAUDE
          - OPENAI
          - POLAR
          - BRIDGE_XYZ
          - BRIDGE_API
          - CHARGEBEE_BILLING
          - CHAINDOTS
          - CLOUDSIGNAL
          - COINBASE
          - COURIER
          - CURSOR
          - MERAKI
          - MICROSOFT_GRAPH
          - MICROSOFT_SHAREPOINT
          - FIREBLOCKS
          - FRONTAPP
          - ZOOM
          - TWITTER
          - RECHARGE
          - RECURLY
          - REVOLUT
          - RING_CENTRAL
          - STRIPE
          - PROPERTY-FINDER
          - QUOTER
          - SHOPIFY
          - TWILIO
          - GITHUB
          - POSTMARK
          - TALLY
          - TYPEFORM
          - PICQER
          - XERO
          - SVIX
          - RESEND
          - GEMINI
          - ADYEN
          - AKENEO
          - GITLAB
          - WOOCOMMERCE
          - OKTA
          - OURA
          - COMMERCELAYER
          - HUBSPOT
          - MAILGUN
          - PERSONA
          - PIPEDRIVE
          - SENDGRID
          - WORKOS
          - SYNCTERA
          - AWS_SNS
          - THREE_D_EYE
          - TWITCH
          - ENODE
          - FAUNDIT
          - FAVRO
          - LINEAR
          - SHIPBOB
          - SHIPHERO
          - SHOPLINE
          - WIX
          - NMI
          - NEON
          - ORB
          - PYLON
          - RAZORPAY
          - REPAY
          - SQUARE
          - SOLIDGATE
          - TRELLO
          - EBAY
          - TELNYX
          - DISCORD
          - TOKENIO
          - FISERV
          - FUSIONAUTH
          - BONDSMITH
          - VERCEL_LOG_DRAINS
          - VERCEL
          - TEBEX
          - SLACK
          - SMARTCAR
          - MAILCHIMP
          - NUVEMSHOP
          - PADDLE
          - PAYPAL
          - PAYMOB
          - PAYSTACK
          - SCRAPFLY
          - PORTAL
          - TREEZOR
          - PRAXIS
          - CUSTOMERIO
          - EXACT_ONLINE
          - FACEBOOK
          - WHATSAPP
          - REPLICATE
          - TIKTOK
          - TIKTOK_SHOP
          - AIRWALLEX
          - ASCEND
          - ALIPAY
          - ZENDESK
          - UPOLLO
          - SMILE
          - NYLAS
          - CLIO
          - GOCARDLESS
          - LINKEDIN
          - LITHIC
          - STRAVA
          - UTILA
          - MONDAY
          - GREENDOT
          - ZEROHASH
          - ZIFT
          - ETHOCA
          - AIRTABLE
          - ASANA
          - ASHBY
          - FASTSPRING
          - PAYPRO_GLOBAL
          - USPS
          - WALMART
          - FIREFLIES
          - FLEXPORT
          - UBER
          - WECHAT
          - CIRCLE
          nullable: true
        auth:
          $ref: '#/components/schemas/SourceConfigWebhookAuth'
      additionalProperties: false
      description: The type config for WEBHOOK. Requires type to be `WEBHOOK`.
      x-docs-type: WEBHOOK
    SourceTypeConfigETHOCA:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigEthocaAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for ETHOCA. Requires type to be `ETHOCA`.
      x-docs-type: ETHOCA
    SourceTypeConfigQUOTER:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigQuoterAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for QUOTER. Requires type to be `QUOTER`.
      x-docs-type: QUOTER
      x-docs-external-url: https://help.quoter.com/hc/en-us/articles/32085971955355-Integrate-with-Webhooks#h_73bb393dfd
    SourceTypeConfigSENDGRID:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigSendgridAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for SENDGRID. Requires type to be `SENDGRID`.
      x-docs-type: SENDGRID
    SourceConfigPolarAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: Polar
    SourceConfigWebhookAuthX:
      type: object
      properties:
        api_key:
          type: string
      required:
      - api_key
      additionalProperties: false
      x-docs-type: TWITTER
    SourceTypeConfigSVIX:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigSvixAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for SVIX. Requires type to be `SVIX`.
      x-docs-type: SVIX
    SourceConfigWebhookAuthBridgeStablecoins:
      type: object
      properties:
        public_key:
          type: string
      required:
      - public_key
      additionalProperties: false
      x-docs-type: BRIDGE_XYZ
    SourceConfigWebhookAuthTrello:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: TRELLO
    SourceConfigWebhookAuthBridgeAPI:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: BRIDGE_API
    SourceConfigWixAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: Wix
    SourceTypeConfigFASTSPRING:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigFastSpringAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for FASTSPRING. Requires type to be `FASTSPRING`.
      x-docs-type: FASTSPRING
      x-docs-external-url: https://developer.fastspring.com/reference/message-security
    SourceConfigAscendAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: Ascend
    SourceConfigWebhookAuthOura:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: OURA
    SourceTypeConfigGREENDOT:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigGreenDotAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for GREENDOT. Requires type to be `GREENDOT`.
      x-docs-type: GREENDOT
      x-docs-external-url: https://developer.greendot.com/embedded-finance/docs/webhooks-overview
    SourceTypeConfigWIX:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigWixAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for WIX. Requires type to be `WIX`.
      x-docs-type: WIX
      x-docs-external-url: https://dev.wix.com/docs/build-apps/build-your-app/authentication/verify-wix-requests
    SourceTypeConfigPAYSTACK:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigPaystackAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for PAYSTACK. Requires type to be `PAYSTACK`.
      x-docs-type: PAYSTACK
      x-docs-external-url: https://paystack.com/docs/payments/webhooks/#verify-event-origin
    SourceTypeConfigFACEBOOK:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigFacebookAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for FACEBOOK. Requires type to be `FACEBOOK`.
      x-docs-type: FACEBOOK
    SourceConfigWebhookAuthWeChatPay:
      type: object
      properties:
        public_key:
          type: string
      required:
      - public_key
      additionalProperties: false
      x-docs-type: WECHAT
    SourceConfigAlipayAuth:
      type: object
      properties:
        public_key:
          type: string
      required:
      - public_key
      additionalProperties: false
      nullable: true
      x-docs-type: Alipay
    SourceConfigTikTokShopAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
        app_key:
          type: string
      required:
      - webhook_secret_key
      - app_key
      additionalProperties: false
      nullable: true
      x-docs-type: TikTok Shop
    SourceConfigOuraAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: Oura
    SourceTypeConfigTWILIO:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigTwilioAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for TWILIO. Requires type to be `TWILIO`.
      x-docs-type: TWILIO
      x-docs-external-url: https://www.twilio.com/docs/usage/webhooks/webhooks-security#validating-signatures-from-twilio
    SourceConfigIntercomAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: Intercom
    SourceConfigHubspotAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: Hubspot
    SourceTypeConfigTIKTOK:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigTikTokAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for TIKTOK. Requires type to be `TIKTOK`.
      x-docs-type: TIKTOK
      x-docs-external-url: https://developers.tiktok.com/doc/webhooks-verification
    SourceTypeConfigSHOPIFY:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigShopifyAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for SHOPIFY. Requires type to be `SHOPIFY`.
      x-docs-type: SHOPIFY
      x-docs-external-url: https://shopify.dev/docs/apps/build/webhooks/subscribe/https#step-2-validate-the-origin-of-your-webhook-to-ensure-its-coming-from-shopify
    SourceTypeConfigASCEND:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigAscendAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for ASCEND. Requires type to be `ASCEND`.
      x-docs-type: ASCEND
      x-docs-external-url: https://developers.useascend.com/docs/webhooks
    SourceConfigWebhookAuthVercelDrains:
      type: object
      properties:
        webhook_secret_key:
          type: string
      additionalProperties: false
      x-docs-type: VERCEL_LOG_DRAINS
    SourceConfigWeChatPayAuth:
      type: object
      properties:
        public_key:
          type: string
      required:
      - public_key
      additionalProperties: false
      nullable: true
      x-docs-type: WeChat Pay
    SourceConfigOrbAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: Orb
    SourceTypeConfigPAYMOB:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigPaymobAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for PAYMOB. Requires type to be `PAYMOB`.
      x-docs-type: PAYMOB
      x-docs-external-url: https://developers.paymob.com/paymob-docs/developers/webhook-callbacks-and-hmac/hmac/hmac-transaction-callback
    SourceConfigBridgeStablecoinsAuth:
      type: object
      properties:
        public_key:
          type: string
      required:
      - public_key
      additionalProperties: false
      nullable: true
      x-docs-type: Bridge (Stablecoins)
    SourceConfigWebhookAuth:
      type: object
      properties: {}
      additionalProperties: false
      oneOf:
      - $ref: '#/components/schemas/SourceConfigWebhookAuthHMAC'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthBasicAuth'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthAPIKey'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthAiprise'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthAlchemy'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthDocuSign'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthIntercom'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthSanity'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthBigCommerce'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthClaude'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthOpenAI'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthPolar'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthBridgeStablecoins'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthBridgeAPI'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthChargebeeBilling'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthChaindots'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthCloudSignal'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthCoinbase'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthCourier'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthCursor'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthMeraki'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthFireblocks'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthFrontApp'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthZoom'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthX'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthRecharge'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthRecurly'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthRevolut'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthRingCentral'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthStripe'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthPropertyFinder'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthQuoter'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthShopify'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthTwilio'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthGitHub'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthPostmark'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthTally'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthTypeform'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthPicqer'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthXero'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthSvix'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthResend'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthGoogleGemini'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthAdyen'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthAkeneo'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthGitLab'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthWooCommerce'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthOkta'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthOura'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthCommerceLayer'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthHubspot'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthMailgun'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthPersona'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthPipedrive'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthSendgrid'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthWorkOS'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthSynctera'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthAWSSNS'
      - $ref: '#/components/schemas/SourceConfigWebhookAuth3dEye'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthTwitch'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthEnode'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthFaundit'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthFavro'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthLinear'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthShipBob'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthShipHero'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthShopline'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthWix'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthNMIPaymentGateway'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthNeon'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthOrb'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthPylon'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthRazorpay'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthRepay'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthSquare'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthSolidgate'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthTrello'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthEbay'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthTelnyx'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthDiscord'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthTokenIO'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthFiserv'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthFusionAuth'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthBondsmith'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthVercelDrains'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthVercelWebhooks'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthTebex'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthSlack'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthSmartcar'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthMailchimp'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthNuvemshop'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthPaddle'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthPaypal'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthPaymob'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthPaystack'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthScrapfly'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthPortal'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthTreezor'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthPraxis'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthCustomer.IO'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthExactOnline'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthFacebook'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthWhatsApp'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthReplicate'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthTikTok'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthTikTokShop'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthAirwallex'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthAscend'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthAlipay'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthZendesk'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthUpollo'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthSmile'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthNylas'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthClio'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthGoCardless'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthLinkedIn'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthLithic'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthUtila'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthGreenDot'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthZeroHash'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthAirtable'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthAsana'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthAshby'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthFastSpring'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthPayProGlobal'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthUSPS'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthWalmart'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthFireflies.ai'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthFlexport'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthUber'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthWeChatPay'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthCircle'
      - $ref: '#/components/schemas/SourceConfigWebhookAuthEmpty'
    SourceTypeConfigVERCEL:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigVercelWebhooksAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for VERCEL. Requires type to be `VERCEL`.
      x-docs-type: VERCEL
      x-docs-external-url: https://vercel.com/docs/observability/webhooks-overview/webhooks-api#securing-webhooks
    SourceConfigFrontAppAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: FrontApp
    SourceTypeConfigCLAUDE:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigClaudeAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for CLAUDE. Requires type to be `CLAUDE`.
      x-docs-type: CLAUDE
      x-docs-external-url: https://platform.claude.com/docs/en/managed-agents/webhooks
    SourceTypeConfigPERSONA:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigPersonaAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for PERSONA. Requires type to be `PERSONA`.
      x-docs-type: PERSONA
      x-docs-external-url: https://docs.withpersona.com/docs/webhooks-best-practices#checking-signatures
    SourceTypeConfigMICROSOFT_SHAREPOINT:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigMicrosoftSharePointAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for MICROSOFT_SHAREPOINT. Requires type to be `MICROSOFT_SHAREPOINT`.
      x-docs-type: MICROSOFT_SHAREPOINT
      x-docs-external-url: https://learn.microsoft.com/en-us/sharepoint/dev/apis/webhooks/overview-sharepoint-webhooks
    SourceTypeConfigMERAKI:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigMerakiAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for MERAKI. Requires type to be `MERAKI`.
      x-docs-type: MERAKI
      x-docs-external-url: https://developer.cisco.com/meraki/webhooks/introduction/#shared-secret
    SourceConfigRepayAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: Repay
    SourceTypeConfigSCRAPFLY:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigScrapflyAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for SCRAPFLY. Requires type to be `SCRAPFLY`.
      x-docs-type: SCRAPFLY
      x-docs-external-url: https://scrapfly.io/docs/scrape-api/webhook
    SourceConfigNeonAuth:
      type: object
      properties:
        neon_auth_url:
          type: string
      required:
      - neon_auth_url
      additionalProperties: false
      nullable: true
      x-docs-type: Neon
    SourceConfigMondayAuth:
      type: object
      properties: {}
      additionalProperties: false
      nullable: true
      x-docs-type: Monday
    SourceConfigWebhookAuthEnode:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: ENODE
    SourceTypeConfigENODE:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigEnodeAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for ENODE. Requires type to be `ENODE`.
      x-docs-type: ENODE
      x-docs-external-url: https://developers.enode.com/docs/webhooks
    SourceTypeConfigDISCORD:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigDiscordAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for DISCORD. Requires type to be `DISCORD`.
      x-docs-type: DISCORD
    SourceTypeConfigMONDAY:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigMondayAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for MONDAY. Requires type to be `MONDAY`.
      x-docs-type: MONDAY
      x-docs-external-url: https://support.monday.com/hc/en-us/articles/360003540679-Webhook-integration
    SourceTypeConfigVERCEL_LOG_DRAINS:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigVercelDrainsAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for VERCEL_LOG_DRAINS. Requires type to be `VERCEL_LOG_DRAINS`.
      x-docs-type: VERCEL_LOG_DRAINS
      x-docs-external-url: https://vercel.com/docs/rest-api#securing-your-log-drains
    SourceConfigReplicateAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: Replicate
    SourceConfigWebhookAuthHubspot:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: HUBSPOT
    SourceConfigWebhookAuthPylon:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: PYLON
    SourceConfigWebhookAuthEbay:
      type: object
      properties:
        environment:
          type: string
          enum:
          - PRODUCTION
          - SANDBOX
        dev_id:
          type: string
        client_id:
          type: string
        client_secret:
          type: string
        verification_token:
          type: string
      required:
      - environment
      - dev_id
      - client_id
      - client_secret
      - verification_token
      additionalProperties: false
      x-docs-type: EBAY
    SourceTypeConfigGOCARDLESS:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigGoCardlessAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for GOCARDLESS. Requires type to be `GOCARDLESS`.
      x-docs-type: GOCARDLESS
      x-docs-external-url: https://developer.gocardless.com/getting-started/staying-up-to-date-with-webhooks#staying_up-to-date_with_webhooks
    SourceConfigWebhookAuthPayProGlobal:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: PAYPRO_GLOBAL
    SourceAllowedHTTPMethod:
      type: array
      items:
        type: string
        enum:
        - GET
        - POST
        - PUT
        - PATCH
        - DELETE
      description: List of allowed HTTP methods. Defaults to PUT, POST, PATCH, DELETE.
    SourceConfigEthocaAuth:
      type: object
      properties: {}
      additionalProperties: false
      nullable: true
      x-docs-type: Ethoca
    SourceTypeConfig:
      type: object
      properties: {}
      additionalProperties: false
      oneOf:
      - $ref: '#/components/schemas/SourceTypeConfigAIPRISE'
      - $ref: '#/components/schemas/SourceTypeConfigALCHEMY'
      - $ref: '#/components/schemas/SourceTypeConfigDOCUSIGN'
      - $ref: '#/components/schemas/SourceTypeConfigINTERCOM'
      - $ref: '#/components/schemas/SourceTypeConfigPUBLISH_API'
      - $ref: '#/components/schemas/SourceTypeConfigWEBHOOK'
      - $ref: '#/components/schemas/SourceTypeConfigHTTP'
      - $ref: '#/components/schemas/SourceTypeConfigMANAGED'
      - $ref: '#/components/schemas/SourceTypeConfigHOOKDECK_OUTPOST'
      - $ref: '#/components/schemas/SourceTypeConfigSANITY'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigBIGCOMMERCE'
      - $ref: '#/components/schemas/SourceTypeConfigCLAUDE'
      - $ref: '#/components/schemas/SourceTypeConfigOPENAI'
      - $ref: '#/components/schemas/SourceTypeConfigPOLAR'
      - $ref: '#/components/schemas/SourceTypeConfigBRIDGE_XYZ'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigBRIDGE_API'
      - $ref: '#/components/schemas/SourceTypeConfigCHARGEBEE_BILLING'
      - $ref: '#/components/schemas/SourceTypeConfigCHAINDOTS'
      - $ref: '#/components/schemas/SourceTypeConfigCLOUDSIGNAL'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigCOINBASE'
      - $ref: '#/components/schemas/SourceTypeConfigCOURIER'
      - $ref: '#/components/schemas/SourceTypeConfigCURSOR'
      - $ref: '#/components/schemas/SourceTypeConfigMERAKI'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigMICROSOFT_GRAPH'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigMICROSOFT_SHAREPOINT'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigFIREBLOCKS'
      - $ref: '#/components/schemas/SourceTypeConfigFRONTAPP'
      - $ref: '#/components/schemas/SourceTypeConfigZOOM'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigTWITTER'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigRECHARGE'
      - $ref: '#/components/schemas/SourceTypeConfigRECURLY'
      - $ref: '#/components/schemas/SourceTypeConfigREVOLUT'
      - $ref: '#/components/schemas/SourceTypeConfigRING_CENTRAL'
      - $ref: '#/components/schemas/SourceTypeConfigSTRIPE'
      - $ref: '#/components/schemas/SourceTypeConfigPROPERTYFINDER'
      - $ref: '#/components/schemas/SourceTypeConfigQUOTER'
      - $ref: '#/components/schemas/SourceTypeConfigSHOPIFY'
      - $ref: '#/components/schemas/SourceTypeConfigTWILIO'
      - $ref: '#/components/schemas/SourceTypeConfigGITHUB'
      - $ref: '#/components/schemas/SourceTypeConfigPOSTMARK'
      - $ref: '#/components/schemas/SourceTypeConfigTALLY'
      - $ref: '#/components/schemas/SourceTypeConfigTYPEFORM'
      - $ref: '#/components/schemas/SourceTypeConfigPICQER'
      - $ref: '#/components/schemas/SourceTypeConfigXERO'
      - $ref: '#/components/schemas/SourceTypeConfigSVIX'
      - $ref: '#/components/schemas/SourceTypeConfigRESEND'
      - $ref: '#/components/schemas/SourceTypeConfigGEMINI'
      - $ref: '#/components/schemas/SourceTypeConfigADYEN'
      - $ref: '#/components/schemas/SourceTypeConfigAKENEO'
      - $ref: '#/components/schemas/SourceTypeConfigGITLAB'
      - $ref: '#/components/schemas/SourceTypeConfigWOOCOMMERCE'
      - $ref: '#/components/schemas/SourceTypeConfigOKTA'
      - $ref: '#/components/schemas/SourceTypeConfigOURA'
      - $ref: '#/components/schemas/SourceTypeConfigCOMMERCELAYER'
      - $ref: '#/components/schemas/SourceTypeConfigHUBSPOT'
      - $ref: '#/components/schemas/SourceTypeConfigMAILGUN'
      - $ref: '#/components/schemas/SourceTypeConfigPERSONA'
      - $ref: '#/components/schemas/SourceTypeConfigPIPEDRIVE'
      - $ref: '#/components/schemas/SourceTypeConfigSENDGRID'
      - $ref: '#/components/schemas/SourceTypeConfigWORKOS'
      - $ref: '#/components/schemas/SourceTypeConfigSYNCTERA'
      - $ref: '#/components/schemas/SourceTypeConfigAWS_SNS'
      - $ref: '#/components/schemas/SourceTypeConfigTHREE_D_EYE'
      - $ref: '#/components/schemas/SourceTypeConfigTWITCH'
      - $ref: '#/components/schemas/SourceTypeConfigENODE'
      - $ref: '#/components/schemas/SourceTypeConfigFAUNDIT'
      - $ref: '#/components/schemas/SourceTypeConfigFAVRO'
      - $ref: '#/components/schemas/SourceTypeConfigLINEAR'
      - $ref: '#/components/schemas/SourceTypeConfigSHIPBOB'
      - $ref: '#/components/schemas/SourceTypeConfigSHIPHERO'
      - $ref: '#/components/schemas/SourceTypeConfigSHOPLINE'
      - $ref: '#/components/schemas/SourceTypeConfigWIX'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigNMI'
      - $ref: '#/components/schemas/SourceTypeConfigNEON'
      - $ref: '#/components/schemas/SourceTypeConfigORB'
      - $ref: '#/components/schemas/SourceTypeConfigPYLON'
      - $ref: '#/components/schemas/SourceTypeConfigRAZORPAY'
      - $ref: '#/components/schemas/SourceTypeConfigREPAY'
      - $ref: '#/components/schemas/SourceTypeConfigSQUARE'
      - $ref: '#/components/schemas/SourceTypeConfigSOLIDGATE'
      - $ref: '#/components/schemas/SourceTypeConfigTRELLO'
      - $ref: '#/components/schemas/SourceTypeConfigEBAY'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigTELNYX'
      - $ref: '#/components/schemas/SourceTypeConfigDISCORD'
      - $ref: '#/components/schemas/SourceTypeConfigTOKENIO'
      - $ref: '#/components/schemas/SourceTypeConfigFISERV'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigFUSIONAUTH'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigBONDSMITH'
      - $ref: '#/components/schemas/SourceTypeConfigVERCEL_LOG_DRAINS'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigVERCEL'
      - $ref: '#/components/schemas/SourceTypeConfigTEBEX'
      - $ref: '#/components/schemas/SourceTypeConfigSLACK'
      - $ref: '#/components/schemas/SourceTypeConfigSMARTCAR'
      - $ref: '#/components/schemas/SourceTypeConfigMAILCHIMP'
      - $ref: '#/components/schemas/SourceTypeConfigNUVEMSHOP'
      - $ref: '#/components/schemas/SourceTypeConfigPADDLE'
      - $ref: '#/components/schemas/SourceTypeConfigPAYPAL'
      - $ref: '#/components/schemas/SourceTypeConfigPAYMOB'
      - $ref: '#/components/schemas/SourceTypeConfigPAYSTACK'
      - $ref: '#/components/schemas/SourceTypeConfigSCRAPFLY'
      - $ref: '#/components/schemas/SourceTypeConfigPORTAL'
      - $ref: '#/components/schemas/SourceTypeConfigTREEZOR'
      - $ref: '#/components/schemas/SourceTypeConfigPRAXIS'
      - $ref: '#/components/schemas/SourceTypeConfigCUSTOMERIO'
      - $ref: '#/components/schemas/SourceTypeConfigEXACT_ONLINE'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigFACEBOOK'
      - $ref: '#/components/schemas/SourceTypeConfigWHATSAPP'
      - $ref: '#/components/schemas/SourceTypeConfigREPLICATE'
      - $ref: '#/components/schemas/SourceTypeConfigTIKTOK'
      - $ref: '#/components/schemas/SourceTypeConfigTIKTOK_SHOP'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigAIRWALLEX'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigASCEND'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigALIPAY'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigZENDESK'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigUPOLLO'
      - $ref: '#/components/schemas/SourceTypeConfigSMILE'
      - $ref: '#/components/schemas/SourceTypeConfigNYLAS'
      - $ref: '#/components/schemas/SourceTypeConfigCLIO'
      - $ref: '#/components/schemas/SourceTypeConfigGOCARDLESS'
      - $ref: '#/components/schemas/SourceTypeConfigLINKEDIN'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigLITHIC'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigSTRAVA'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigUTILA'
      - $ref: '#/components/schemas/SourceTypeConfigMONDAY'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigGREENDOT'
      - $ref: '#/components/schemas/SourceTypeConfigZEROHASH'
      - $ref: '#/components/schemas/SourceTypeConfigZIFT'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigETHOCA'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigAIRTABLE'
      - $ref: '#/components/schemas/SourceTypeConfigASANA'
      - $ref: '#/components/schemas/SourceTypeConfigASHBY'
      - $ref: '#/components/schemas/SourceTypeConfigFASTSPRING'
      - $ref: '#/components/schemas/SourceTypeConfigPAYPRO_GLOBAL'
      - $ref: '#/components/schemas/SourceTypeConfigUSPS'
      - $ref: '#/components/schemas/SourceTypeConfigWALMART'
      - $ref: '#/components/schemas/SourceTypeConfigFIREFLIES'
      - $ref: '#/components/schemas/SourceTypeConfigFLEXPORT'
      - $ref: '#/components/schemas/SourceTypeConfigUBER'
      - $ref: '#/components/schemas/SourceTypeConfigWECHAT'
      - $ref: '#/components/schemas/SourceTypeConfigCIRCLE'
        x-required: true
      description: The type configs for the specified type
      default: {}
    SourceConfigPaddleAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: Paddle
    SourceConfigWebhookAuthTebex:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: TEBEX
    SourceTypeConfigPORTAL:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigPortalAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for PORTAL. Requires type to be `PORTAL`.
      x-docs-type: PORTAL
    SourceConfigWebhookAuthFlexport:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
[...]
