openapi: 3.0.1
info:
  title: Hookdeck Bookmarks Attempts Sources API
  version: 1.0.0
  description: Save bookmarked events for quick replay and convenient one-click testing during development.
  contact:
    name: Hookdeck Support
    url: https://hookdeck.com/contact-us
    email: info@hookdeck.com
servers:
- url: https://api.hookdeck.com/2025-07-01
  description: Production API
security:
- bearerAuth: []
- basicAuth: []
tags:
- name: Sources
  description: A source represents any third party that sends webhooks to Hookdeck.
paths:
  /sources:
    get:
      operationId: getSources
      summary: Retrieve sources
      description: This endpoint lists sources, or a subset of sources.
      tags:
      - Sources
      responses:
        '200':
          description: List of sources
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourcePaginatedResult'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      parameters:
      - in: query
        name: id
        schema:
          anyOf:
          - type: string
            maxLength: 255
          - type: array
            items:
              type: string
              maxLength: 255
          description: Filter by source IDs
      - in: query
        name: name
        schema:
          anyOf:
          - type: string
            pattern: ^[A-z0-9-_]+$
            maxLength: 155
          - $ref: '#/components/schemas/Operators'
          - type: array
            items:
              type: string
              pattern: ^[A-z0-9-_]+$
              maxLength: 155
          description: The source name
      - in: query
        name: type
        schema:
          anyOf:
          - type: string
            enum:
            - AIPRISE
            - ALCHEMY
            - DOCUSIGN
            - INTERCOM
            - PUBLISH_API
            - WEBHOOK
            - HTTP
            - MANAGED
            - HOOKDECK_OUTPOST
            - SANITY
            - BIGCOMMERCE
            - CLAUDE
            - OPENAI
            - POLAR
            - BRIDGE_XYZ
            - BRIDGE_API
            - CHARGEBEE_BILLING
            - CHAINDOTS
            - CLOUDSIGNAL
            - COINBASE
            - COURIER
            - CURSOR
            - MERAKI
            - MICROSOFT_GRAPH
            - MICROSOFT_SHAREPOINT
            - FIREBLOCKS
            - FRONTAPP
            - ZOOM
            - TWITTER
            - RECHARGE
            - RECURLY
            - REVOLUT
            - RING_CENTRAL
            - STRIPE
            - PROPERTY-FINDER
            - QUOTER
            - SHOPIFY
            - TWILIO
            - GITHUB
            - POSTMARK
            - TALLY
            - TYPEFORM
            - PICQER
            - XERO
            - SVIX
            - RESEND
            - GEMINI
            - ADYEN
            - AKENEO
            - GITLAB
            - WOOCOMMERCE
            - OKTA
            - OURA
            - COMMERCELAYER
            - HUBSPOT
            - MAILGUN
            - PERSONA
            - PIPEDRIVE
            - SENDGRID
            - WORKOS
            - SYNCTERA
            - AWS_SNS
            - THREE_D_EYE
            - TWITCH
            - ENODE
            - FAUNDIT
            - FAVRO
            - LINEAR
            - SHIPBOB
            - SHIPHERO
            - SHOPLINE
            - WIX
            - NMI
            - NEON
            - ORB
            - PYLON
            - RAZORPAY
            - REPAY
            - SQUARE
            - SOLIDGATE
            - TRELLO
            - EBAY
            - TELNYX
            - DISCORD
            - TOKENIO
            - FISERV
            - FUSIONAUTH
            - BONDSMITH
            - VERCEL_LOG_DRAINS
            - VERCEL
            - TEBEX
            - SLACK
            - SMARTCAR
            - MAILCHIMP
            - NUVEMSHOP
            - PADDLE
            - PAYPAL
            - PAYMOB
            - PAYSTACK
            - SCRAPFLY
            - PORTAL
            - TREEZOR
            - PRAXIS
            - CUSTOMERIO
            - EXACT_ONLINE
            - FACEBOOK
            - WHATSAPP
            - REPLICATE
            - TIKTOK
            - TIKTOK_SHOP
            - AIRWALLEX
            - ASCEND
            - ALIPAY
            - ZENDESK
            - UPOLLO
            - SMILE
            - NYLAS
            - CLIO
            - GOCARDLESS
            - LINKEDIN
            - LITHIC
            - STRAVA
            - UTILA
            - MONDAY
            - GREENDOT
            - ZEROHASH
            - ZIFT
            - ETHOCA
            - AIRTABLE
            - ASANA
            - ASHBY
            - FASTSPRING
            - PAYPRO_GLOBAL
            - USPS
            - WALMART
            - FIREFLIES
            - FLEXPORT
            - UBER
            - WECHAT
            - CIRCLE
          - type: array
            items:
              type: string
              enum:
              - AIPRISE
              - ALCHEMY
              - DOCUSIGN
              - INTERCOM
              - PUBLISH_API
              - WEBHOOK
              - HTTP
              - MANAGED
              - HOOKDECK_OUTPOST
              - SANITY
              - BIGCOMMERCE
              - CLAUDE
              - OPENAI
              - POLAR
              - BRIDGE_XYZ
              - BRIDGE_API
              - CHARGEBEE_BILLING
              - CHAINDOTS
              - CLOUDSIGNAL
              - COINBASE
              - COURIER
              - CURSOR
              - MERAKI
              - MICROSOFT_GRAPH
              - MICROSOFT_SHAREPOINT
              - FIREBLOCKS
              - FRONTAPP
              - ZOOM
              - TWITTER
              - RECHARGE
              - RECURLY
              - REVOLUT
              - RING_CENTRAL
              - STRIPE
              - PROPERTY-FINDER
              - QUOTER
              - SHOPIFY
              - TWILIO
              - GITHUB
              - POSTMARK
              - TALLY
              - TYPEFORM
              - PICQER
              - XERO
              - SVIX
              - RESEND
              - GEMINI
              - ADYEN
              - AKENEO
              - GITLAB
              - WOOCOMMERCE
              - OKTA
              - OURA
              - COMMERCELAYER
              - HUBSPOT
              - MAILGUN
              - PERSONA
              - PIPEDRIVE
              - SENDGRID
              - WORKOS
              - SYNCTERA
              - AWS_SNS
              - THREE_D_EYE
              - TWITCH
              - ENODE
              - FAUNDIT
              - FAVRO
              - LINEAR
              - SHIPBOB
              - SHIPHERO
              - SHOPLINE
              - WIX
              - NMI
              - NEON
              - ORB
              - PYLON
              - RAZORPAY
              - REPAY
              - SQUARE
              - SOLIDGATE
              - TRELLO
              - EBAY
              - TELNYX
              - DISCORD
              - TOKENIO
              - FISERV
              - FUSIONAUTH
              - BONDSMITH
              - VERCEL_LOG_DRAINS
              - VERCEL
              - TEBEX
              - SLACK
              - SMARTCAR
              - MAILCHIMP
              - NUVEMSHOP
              - PADDLE
              - PAYPAL
              - PAYMOB
              - PAYSTACK
              - SCRAPFLY
              - PORTAL
              - TREEZOR
              - PRAXIS
              - CUSTOMERIO
              - EXACT_ONLINE
              - FACEBOOK
              - WHATSAPP
              - REPLICATE
              - TIKTOK
              - TIKTOK_SHOP
              - AIRWALLEX
              - ASCEND
              - ALIPAY
              - ZENDESK
              - UPOLLO
              - SMILE
              - NYLAS
              - CLIO
              - GOCARDLESS
              - LINKEDIN
              - LITHIC
              - STRAVA
              - UTILA
              - MONDAY
              - GREENDOT
              - ZEROHASH
              - ZIFT
              - ETHOCA
              - AIRTABLE
              - ASANA
              - ASHBY
              - FASTSPRING
              - PAYPRO_GLOBAL
              - USPS
              - WALMART
              - FIREFLIES
              - FLEXPORT
              - UBER
              - WECHAT
              - CIRCLE
          description: Filter by source type
      - in: query
        name: disabled
        schema:
          type: boolean
          description: Include disabled resources in the response
      - in: query
        name: disabled_at
        schema:
          anyOf:
          - type: string
            format: date-time
            nullable: true
          - $ref: '#/components/schemas/Operators'
          description: Date the source was disabled
      - in: query
        name: order_by
        schema:
          type: string
          maxLength: 255
          enum:
          - name
          - created_at
          - updated_at
          description: Sort key
      - in: query
        name: dir
        schema:
          type: string
          enum:
          - asc
          - desc
          description: Sort direction
      - in: query
        name: limit
        schema:
          type: integer
          minimum: 0
          maximum: 255
          description: Result set size
      - in: query
        name: next
        schema:
          type: string
          maxLength: 255
          description: The ID to provide in the query to get the next set of results
      - in: query
        name: prev
        schema:
          type: string
          maxLength: 255
          description: The ID to provide in the query to get the previous set of results
    post:
      operationId: createSource
      summary: Create a source
      description: This endpoint creates a source.
      tags:
      - Sources
      responses:
        '200':
          description: A single source
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  pattern: ^[A-z0-9-_]+$
                  maxLength: 155
                  description: A unique name for the source
                type:
                  type: string
                  enum:
                  - AIPRISE
                  - ALCHEMY
                  - DOCUSIGN
                  - INTERCOM
                  - PUBLISH_API
                  - WEBHOOK
                  - HTTP
                  - MANAGED
                  - HOOKDECK_OUTPOST
                  - SANITY
                  - BIGCOMMERCE
                  - CLAUDE
                  - OPENAI
                  - POLAR
                  - BRIDGE_XYZ
                  - BRIDGE_API
                  - CHARGEBEE_BILLING
                  - CHAINDOTS
                  - CLOUDSIGNAL
                  - COINBASE
                  - COURIER
                  - CURSOR
                  - MERAKI
                  - MICROSOFT_GRAPH
                  - MICROSOFT_SHAREPOINT
                  - FIREBLOCKS
                  - FRONTAPP
                  - ZOOM
                  - TWITTER
                  - RECHARGE
                  - RECURLY
                  - REVOLUT
                  - RING_CENTRAL
                  - STRIPE
                  - PROPERTY-FINDER
                  - QUOTER
                  - SHOPIFY
                  - TWILIO
                  - GITHUB
                  - POSTMARK
                  - TALLY
                  - TYPEFORM
                  - PICQER
                  - XERO
                  - SVIX
                  - RESEND
                  - GEMINI
                  - ADYEN
                  - AKENEO
                  - GITLAB
                  - WOOCOMMERCE
                  - OKTA
                  - OURA
                  - COMMERCELAYER
                  - HUBSPOT
                  - MAILGUN
                  - PERSONA
                  - PIPEDRIVE
                  - SENDGRID
                  - WORKOS
                  - SYNCTERA
                  - AWS_SNS
                  - THREE_D_EYE
                  - TWITCH
                  - ENODE
                  - FAUNDIT
                  - FAVRO
                  - LINEAR
                  - SHIPBOB
                  - SHIPHERO
                  - SHOPLINE
                  - WIX
                  - NMI
                  - NEON
                  - ORB
                  - PYLON
                  - RAZORPAY
                  - REPAY
                  - SQUARE
                  - SOLIDGATE
                  - TRELLO
                  - EBAY
                  - TELNYX
                  - DISCORD
                  - TOKENIO
                  - FISERV
                  - FUSIONAUTH
                  - BONDSMITH
                  - VERCEL_LOG_DRAINS
                  - VERCEL
                  - TEBEX
                  - SLACK
                  - SMARTCAR
                  - MAILCHIMP
                  - NUVEMSHOP
                  - PADDLE
                  - PAYPAL
                  - PAYMOB
                  - PAYSTACK
                  - SCRAPFLY
                  - PORTAL
                  - TREEZOR
                  - PRAXIS
                  - CUSTOMERIO
                  - EXACT_ONLINE
                  - FACEBOOK
                  - WHATSAPP
                  - REPLICATE
                  - TIKTOK
                  - TIKTOK_SHOP
                  - AIRWALLEX
                  - ASCEND
                  - ALIPAY
                  - ZENDESK
                  - UPOLLO
                  - SMILE
                  - NYLAS
                  - CLIO
                  - GOCARDLESS
                  - LINKEDIN
                  - LITHIC
                  - STRAVA
                  - UTILA
                  - MONDAY
                  - GREENDOT
                  - ZEROHASH
                  - ZIFT
                  - ETHOCA
                  - AIRTABLE
                  - ASANA
                  - ASHBY
                  - FASTSPRING
                  - PAYPRO_GLOBAL
                  - USPS
                  - WALMART
                  - FIREFLIES
                  - FLEXPORT
                  - UBER
                  - WECHAT
                  - CIRCLE
                  description: Type of the source
                  default: WEBHOOK
                description:
                  type: string
                  maxLength: 500
                  nullable: true
                  description: Description for the source
                config:
                  $ref: '#/components/schemas/SourceTypeConfig'
              required:
              - name
              additionalProperties: false
    put:
      operationId: upsertSource
      summary: Create/Update a source
      description: This endpoint creates a source, or updates an existing source by name.
      tags:
      - Sources
      responses:
        '200':
          description: A single source
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  pattern: ^[A-z0-9-_]+$
                  maxLength: 155
                  description: A unique name for the source
                type:
                  type: string
                  enum:
                  - AIPRISE
                  - ALCHEMY
                  - DOCUSIGN
                  - INTERCOM
                  - PUBLISH_API
                  - WEBHOOK
                  - HTTP
                  - MANAGED
                  - HOOKDECK_OUTPOST
                  - SANITY
                  - BIGCOMMERCE
                  - CLAUDE
                  - OPENAI
                  - POLAR
                  - BRIDGE_XYZ
                  - BRIDGE_API
                  - CHARGEBEE_BILLING
                  - CHAINDOTS
                  - CLOUDSIGNAL
                  - COINBASE
                  - COURIER
                  - CURSOR
                  - MERAKI
                  - MICROSOFT_GRAPH
                  - MICROSOFT_SHAREPOINT
                  - FIREBLOCKS
                  - FRONTAPP
                  - ZOOM
                  - TWITTER
                  - RECHARGE
                  - RECURLY
                  - REVOLUT
                  - RING_CENTRAL
                  - STRIPE
                  - PROPERTY-FINDER
                  - QUOTER
                  - SHOPIFY
                  - TWILIO
                  - GITHUB
                  - POSTMARK
                  - TALLY
                  - TYPEFORM
                  - PICQER
                  - XERO
                  - SVIX
                  - RESEND
                  - GEMINI
                  - ADYEN
                  - AKENEO
                  - GITLAB
                  - WOOCOMMERCE
                  - OKTA
                  - OURA
                  - COMMERCELAYER
                  - HUBSPOT
                  - MAILGUN
                  - PERSONA
                  - PIPEDRIVE
                  - SENDGRID
                  - WORKOS
                  - SYNCTERA
                  - AWS_SNS
                  - THREE_D_EYE
                  - TWITCH
                  - ENODE
                  - FAUNDIT
                  - FAVRO
                  - LINEAR
                  - SHIPBOB
                  - SHIPHERO
                  - SHOPLINE
                  - WIX
                  - NMI
                  - NEON
                  - ORB
                  - PYLON
                  - RAZORPAY
                  - REPAY
                  - SQUARE
                  - SOLIDGATE
                  - TRELLO
                  - EBAY
                  - TELNYX
                  - DISCORD
                  - TOKENIO
                  - FISERV
                  - FUSIONAUTH
                  - BONDSMITH
                  - VERCEL_LOG_DRAINS
                  - VERCEL
                  - TEBEX
                  - SLACK
                  - SMARTCAR
                  - MAILCHIMP
                  - NUVEMSHOP
                  - PADDLE
                  - PAYPAL
                  - PAYMOB
                  - PAYSTACK
                  - SCRAPFLY
                  - PORTAL
                  - TREEZOR
                  - PRAXIS
                  - CUSTOMERIO
                  - EXACT_ONLINE
                  - FACEBOOK
                  - WHATSAPP
                  - REPLICATE
                  - TIKTOK
                  - TIKTOK_SHOP
                  - AIRWALLEX
                  - ASCEND
                  - ALIPAY
                  - ZENDESK
                  - UPOLLO
                  - SMILE
                  - NYLAS
                  - CLIO
                  - GOCARDLESS
                  - LINKEDIN
                  - LITHIC
                  - STRAVA
                  - UTILA
                  - MONDAY
                  - GREENDOT
                  - ZEROHASH
                  - ZIFT
                  - ETHOCA
                  - AIRTABLE
                  - ASANA
                  - ASHBY
                  - FASTSPRING
                  - PAYPRO_GLOBAL
                  - USPS
                  - WALMART
                  - FIREFLIES
                  - FLEXPORT
                  - UBER
                  - WECHAT
                  - CIRCLE
                  description: Type of the source
                  default: WEBHOOK
                description:
                  type: string
                  maxLength: 500
                  nullable: true
                  description: Description for the source
                config:
                  $ref: '#/components/schemas/SourceTypeConfig'
              required:
              - name
              additionalProperties: false
  /sources/count:
    get:
      operationId: countSources
      summary: Count sources
      description: ''
      tags:
      - Sources
      responses:
        '200':
          description: Count of sources
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: number
                    format: float
                    description: Count of sources
                required:
                - count
                additionalProperties: false
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      parameters: []
  /sources/{id}:
    get:
      operationId: getSource
      summary: Retrieve a source
      description: This endpoint retrieves a specific source.
      tags:
      - Sources
      responses:
        '200':
          description: A single source
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
        '410':
          description: Gone
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      parameters:
      - in: query
        name: include
        schema:
          type: string
          enum:
          - config.auth
      - in: path
        name: id
        schema:
          type: string
          description: Source ID
        required: true
    put:
      operationId: updateSource
      summary: Update a source
      description: This endpoint updates a source.
      tags:
      - Sources
      responses:
        '200':
          description: A single source
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      parameters:
      - in: path
        name: id
        schema:
          type: string
          description: Source ID
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  pattern: ^[A-z0-9-_]+$
                  maxLength: 155
                  description: A unique name for the source
                type:
                  type: string
                  enum:
                  - AIPRISE
                  - ALCHEMY
                  - DOCUSIGN
                  - INTERCOM
                  - PUBLISH_API
                  - WEBHOOK
                  - HTTP
                  - MANAGED
                  - HOOKDECK_OUTPOST
                  - SANITY
                  - BIGCOMMERCE
                  - CLAUDE
                  - OPENAI
                  - POLAR
                  - BRIDGE_XYZ
                  - BRIDGE_API
                  - CHARGEBEE_BILLING
                  - CHAINDOTS
                  - CLOUDSIGNAL
                  - COINBASE
                  - COURIER
                  - CURSOR
                  - MERAKI
                  - MICROSOFT_GRAPH
                  - MICROSOFT_SHAREPOINT
                  - FIREBLOCKS
                  - FRONTAPP
                  - ZOOM
                  - TWITTER
                  - RECHARGE
                  - RECURLY
                  - REVOLUT
                  - RING_CENTRAL
                  - STRIPE
                  - PROPERTY-FINDER
                  - QUOTER
                  - SHOPIFY
                  - TWILIO
                  - GITHUB
                  - POSTMARK
                  - TALLY
                  - TYPEFORM
                  - PICQER
                  - XERO
                  - SVIX
                  - RESEND
                  - GEMINI
                  - ADYEN
                  - AKENEO
                  - GITLAB
                  - WOOCOMMERCE
                  - OKTA
                  - OURA
                  - COMMERCELAYER
                  - HUBSPOT
                  - MAILGUN
                  - PERSONA
                  - PIPEDRIVE
                  - SENDGRID
                  - WORKOS
                  - SYNCTERA
                  - AWS_SNS
                  - THREE_D_EYE
                  - TWITCH
                  - ENODE
                  - FAUNDIT
                  - FAVRO
                  - LINEAR
                  - SHIPBOB
                  - SHIPHERO
                  - SHOPLINE
                  - WIX
                  - NMI
                  - NEON
                  - ORB
                  - PYLON
                  - RAZORPAY
                  - REPAY
                  - SQUARE
                  - SOLIDGATE
                  - TRELLO
                  - EBAY
                  - TELNYX
                  - DISCORD
                  - TOKENIO
                  - FISERV
                  - FUSIONAUTH
                  - BONDSMITH
                  - VERCEL_LOG_DRAINS
                  - VERCEL
                  - TEBEX
                  - SLACK
                  - SMARTCAR
                  - MAILCHIMP
                  - NUVEMSHOP
                  - PADDLE
                  - PAYPAL
                  - PAYMOB
                  - PAYSTACK
                  - SCRAPFLY
                  - PORTAL
                  - TREEZOR
                  - PRAXIS
                  - CUSTOMERIO
                  - EXACT_ONLINE
                  - FACEBOOK
                  - WHATSAPP
                  - REPLICATE
                  - TIKTOK
                  - TIKTOK_SHOP
                  - AIRWALLEX
                  - ASCEND
                  - ALIPAY
                  - ZENDESK
                  - UPOLLO
                  - SMILE
                  - NYLAS
                  - CLIO
                  - GOCARDLESS
                  - LINKEDIN
                  - LITHIC
                  - STRAVA
                  - UTILA
                  - MONDAY
                  - GREENDOT
                  - ZEROHASH
                  - ZIFT
                  - ETHOCA
                  - AIRTABLE
                  - ASANA
                  - ASHBY
                  - FASTSPRING
                  - PAYPRO_GLOBAL
                  - USPS
                  - WALMART
                  - FIREFLIES
                  - FLEXPORT
                  - UBER
                  - WECHAT
                  - CIRCLE
                  description: Type of the source
                description:
                  type: string
                  maxLength: 500
                  nullable: true
                  description: Description for the source
                config:
                  $ref: '#/components/schemas/SourceTypeConfig'
              additionalProperties: false
    delete:
      operationId: deleteSource
      summary: Delete a source
      description: This endpoint permanently deletes a source. This action cannot be undone.
      tags:
      - Sources
      responses:
        '200':
          description: A single source
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: ID of the source
                required:
                - id
                additionalProperties: false
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      parameters:
      - in: path
        name: id
        schema:
          type: string
        required: true
  /sources/{id}/disable:
    put:
      operationId: disableSource
      summary: Disable a source
      description: This endpoint disables a source. A disabled source will no longer receive any events, and all connections associated with this source will also be disabled.
      tags:
      - Sources
      responses:
        '200':
          description: A single source
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      parameters:
      - in: path
        name: id
        schema:
          type: string
          description: Source ID
        required: true
  /sources/{id}/archive:
    put:
      operationId: disableSource_archive
      summary: Disable a source
      description: This endpoint disables a source. A disabled source will no longer receive any events, and all connections associated with this source will also be disabled.
      tags:
      - Sources
      responses:
        '200':
          description: A single source
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      parameters:
      - in: path
        name: id
        schema:
          type: string
          description: Source ID
        required: true
  /sources/{id}/enable:
    put:
      operationId: enableSource
      summary: Enable a source
      description: This endpoint enables a source that was previously disabled.
      tags:
      - Sources
      responses:
        '200':
          description: A single source
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      parameters:
      - in: path
        name: id
        schema:
          type: string
          description: Source ID
        required: true
  /sources/{id}/unarchive:
    put:
      operationId: enableSource_unarchive
      summary: Enable a source
      description: This endpoint enables a source that was previously disabled.
      tags:
      - Sources
      responses:
        '200':
          description: A single source
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
      parameters:
      - in: path
        name: id
        schema:
          type: string
          description: Source ID
        required: true
components:
  schemas:
    SourceTypeConfigUSPS:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigUSPSAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for USPS. Requires type to be `USPS`.
      x-docs-type: USPS
      x-docs-external-url: https://developers.usps.com/subscriptions-adjustmentsv3#tag/Listener-URL-Specification/operation/post-notification
    SourceTypeConfigZOOM:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigZoomAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for ZOOM. Requires type to be `ZOOM`.
      x-docs-type: ZOOM
      x-docs-external-url: https://developers.zoom.us/docs/api/webhooks/#verify-webhook-events
    SourceConfigAsanaAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: Asana
    SourceConfigWebhookAuthDocuSign:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: DOCUSIGN
    SourceConfigWebhookAuthFireblocks:
      type: object
      properties:
        environment:
          type: string
          enum:
          - US_PRODUCTION
          - EU
          - EU2
          - SANDBOX
      required:
      - environment
      additionalProperties: false
      x-docs-type: FIREBLOCKS
    SourceConfigWebhookAuthGreenDot:
      type: object
      properties:
        username:
          type: string
        password:
          type: string
      required:
      - username
      - password
      additionalProperties: false
      x-docs-type: GREENDOT
    SourceConfigGitLabAuth:
      type: object
      properties:
        api_key:
          type: string
      required:
      - api_key
      additionalProperties: false
      nullable: true
      x-docs-type: GitLab
    SourceTypeConfigSTRIPE:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigStripeAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for STRIPE. Requires type to be `STRIPE`.
      x-docs-type: STRIPE
      x-docs-external-url: https://docs.stripe.com/webhooks?verify=verify-manually
    SourceTypeConfigRING_CENTRAL:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigRingCentralAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for RING_CENTRAL. Requires type to be `RING_CENTRAL`.
      x-docs-type: RING_CENTRAL
      x-docs-external-url: https://developer.ringcentral.com/api-docs/latest/index.html#webhooks
    SourceConfigWebhookAuthMailchimp:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: MAILCHIMP
    SourceConfigWebhookAuthZoom:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: ZOOM
    SourceCustomResponseContentType:
      type: string
      enum:
      - json
      - text
      - xml
      description: Content type of the custom response
    SourceTypeConfigRECURLY:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigRecurlyAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for RECURLY. Requires type to be `RECURLY`.
      x-docs-type: RECURLY
      x-docs-external-url: https://docs.recurly.com/recurly-subscriptions/docs/signature-verification
    SourceTypeConfigGREENDOT:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigGreenDotAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for GREENDOT. Requires type to be `GREENDOT`.
      x-docs-type: GREENDOT
      x-docs-external-url: https://developer.greendot.com/embedded-finance/docs/webhooks-overview
    SourceConfigWebhookAuthTwilio:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: TWILIO
    SourceConfigMerakiAuth:
      type: object
      properties:
        api_key:
          type: string
      required:
      - api_key
      additionalProperties: false
      nullable: true
      x-docs-type: Meraki
    SourceConfigBridgeAPIAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: Bridge API
    SourceTypeConfigTWITCH:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigTwitchAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for TWITCH. Requires type to be `TWITCH`.
      x-docs-type: TWITCH
      x-docs-external-url: https://dev.twitch.tv/docs/eventsub/handling-webhook-events/#verifying-the-event-message
    SourceConfigLinkedInAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: LinkedIn
    SourceConfigCoinbaseAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: Coinbase
    SourceConfigWebhookAuthSmartcar:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: SMARTCAR
    SourceConfigShipHeroAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: ShipHero
    SourceTypeConfigPAYPAL:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigPaypalAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for PAYPAL. Requires type to be `PAYPAL`.
      x-docs-type: PAYPAL
      x-docs-external-url: https://developer.paypal.com/api/rest/webhooks/rest/
    SourceConfigNuvemshopAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: Nuvemshop
    SourceTypeConfigADYEN:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigAdyenAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for ADYEN. Requires type to be `ADYEN`.
      x-docs-type: ADYEN
      x-docs-external-url: https://docs.adyen.com/development-resources/webhooks/verify-hmac-signatures/
    SourceTypeConfigSENDGRID:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigSendgridAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for SENDGRID. Requires type to be `SENDGRID`.
      x-docs-type: SENDGRID
    SourceConfigFavroAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: Favro
    SourceConfigBigCommerceAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: BigCommerce
    SourceConfigRingCentralAuth:
      type: object
      properties:
        token:
          type: string
      required:
      - token
      additionalProperties: false
      nullable: true
      x-docs-type: RingCentral
    SourceTypeConfigSANITY:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigSanityAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for SANITY. Requires type to be `SANITY`.
      x-docs-type: SANITY
      x-docs-external-url: https://www.sanity.io/docs/webhooks
    SourceConfigBridgeStablecoinsAuth:
      type: object
      properties:
        public_key:
          type: string
      required:
      - public_key
      additionalProperties: false
      nullable: true
      x-docs-type: Bridge (Stablecoins)
    SourceConfigLithicAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: Lithic
    SourceConfigTwilioAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: Twilio
    SourceConfigWebhookAuthFaundit:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: FAUNDIT
    SourceConfigHTTPAuth:
      type: object
      properties: {}
      additionalProperties: false
      oneOf:
      - $ref: '#/components/schemas/SourceConfigHTTPAuthHMAC'
      - $ref: '#/components/schemas/SourceConfigHTTPAuthBasicAuth'
      - $ref: '#/components/schemas/SourceConfigHTTPAuthAPIKey'
      - $ref: '#/components/schemas/SourceConfigHTTPAuthEmpty'
    SourceTypeConfigDOCUSIGN:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigDocuSignAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for DOCUSIGN. Requires type to be `DOCUSIGN`.
      x-docs-type: DOCUSIGN
      x-docs-external-url: https://developers.docusign.com/platform/webhooks/connect/validate/
    SourceConfigSvixAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: Svix
    SourceConfigFiservAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
        store_name:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: Fiserv
    SourceConfigMailchimpAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: Mailchimp
    SourceTypeConfigCURSOR:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigCursorAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for CURSOR. Requires type to be `CURSOR`.
      x-docs-type: CURSOR
      x-docs-external-url: https://cursor.com/docs/cloud-agent/api/webhooks
    SourceTypeConfigSQUARE:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigSquareAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for SQUARE. Requires type to be `SQUARE`.
      x-docs-type: SQUARE
      x-docs-external-url: https://developer.squareup.com/docs/webhooks/step3validate
    SourceConfigMicrosoftSharePointAuth:
      type: object
      properties: {}
      additionalProperties: false
      nullable: true
      x-docs-type: Microsoft SharePoint
    SourceConfigHTTPAuthHMAC:
      type: object
      properties:
        algorithm:
          type: string
          enum:
          - sha1
          - sha256
          - sha512
          - md5
        encoding:
          type: string
          enum:
          - base64
          - base64url
          - hex
        header_key:
          type: string
        webhook_secret_key:
          type: string
      additionalProperties: false
      x-docs-type: HMAC
    SourceConfigWebhookAuth3dEye:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: THREE_D_EYE
    SourceConfigWebhookAuthTwitch:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: TWITCH
    SourcePaginatedResult:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/SeekPagination'
        count:
          type: integer
        models:
          type: array
          items:
            $ref: '#/components/schemas/Source'
      additionalProperties: false
    SourceTypeConfigZENDESK:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigZendeskAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for ZENDESK. Requires type to be `ZENDESK`.
      x-docs-type: ZENDESK
      x-docs-external-url: https://developer.zendesk.com/documentation/webhooks/verifying/
    SourceConfigBondsmithAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: Bondsmith
    SourceTypeConfigPICQER:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigPicqerAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for PICQER. Requires type to be `PICQER`.
      x-docs-type: PICQER
      x-docs-external-url: https://picqer.com/en/api/webhooks#validating-webhooks
    SourceConfigWebhookAuthOkta:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: OKTA
    SourceConfigWhatsAppAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: WhatsApp
    SourceConfigWebhookAuthOura:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: OURA
    SourceConfigPipedriveAuth:
      type: object
      properties:
        username:
          type: string
        password:
          type: string
      required:
      - username
      - password
      additionalProperties: false
      nullable: true
      x-docs-type: Pipedrive
    SourceTypeConfigPIPEDRIVE:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigPipedriveAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for PIPEDRIVE. Requires type to be `PIPEDRIVE`.
      x-docs-type: PIPEDRIVE
    SourceTypeConfigHUBSPOT:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigHubspotAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for HUBSPOT. Requires type to be `HUBSPOT`.
      x-docs-type: HUBSPOT
      x-docs-external-url: https://developers.hubspot.com/docs/api/webhooks/validating-requests
    SourceTypeConfigWIX:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigWixAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for WIX. Requires type to be `WIX`.
      x-docs-type: WIX
      x-docs-external-url: https://dev.wix.com/docs/build-apps/build-your-app/authentication/verify-wix-requests
    SourceConfigFireblocksAuth:
      type: object
      properties:
        environment:
          type: string
          enum:
          - US_PRODUCTION
          - EU
          - EU2
          - SANDBOX
      required:
      - environment
      additionalProperties: false
      nullable: true
      x-docs-type: Fireblocks
    SeekPagination:
      type: object
      properties:
        order_by:
          anyOf:
          - type: string
          - type: array
            items:
              type: string
        dir:
          anyOf:
          - $ref: '#/components/schemas/OrderByDirection'
          - type: array
            items:
              $ref: '#/components/schemas/OrderByDirection'
        limit:
          type: integer
        prev:
          type: string
        next:
          type: string
      additionalProperties: false
    SourceTypeConfigFRONTAPP:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigFrontAppAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for FRONTAPP. Requires type to be `FRONTAPP`.
      x-docs-type: FRONTAPP
      x-docs-external-url: https://dev.frontapp.com/docs/webhooks-1#verifying-integrity
    SourceConfigUSPSAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: USPS
    SourceConfigWebhookAuthAlchemy:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: ALCHEMY
    SourceConfigWebhookAuthSynctera:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: SYNCTERA
    SourceTypeConfigASANA:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigAsanaAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for ASANA. Requires type to be `ASANA`.
      x-docs-type: ASANA
      x-docs-external-url: https://developers.asana.com/docs/webhooks-guide#security
    SourceConfigWebhookAuthChargebeeBilling:
      type: object
      properties:
        username:
          type: string
        password:
          type: string
      required:
      - username
      - password
      additionalProperties: false
      x-docs-type: CHARGEBEE_BILLING
    SourceTypeConfigINTERCOM:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigIntercomAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for INTERCOM. Requires type to be `INTERCOM`.
      x-docs-type: INTERCOM
      x-docs-external-url: https://developers.intercom.com/docs/references/webhooks/webhook-models#signed-notifications
    SourceConfigStripeAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: Stripe
    SourceConfigWebhookAuthShopline:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: SHOPLINE
    SourceConfigWebhookAuthPaymob:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: PAYMOB
    SourceTypeConfigTWILIO:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigTwilioAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for TWILIO. Requires type to be `TWILIO`.
      x-docs-type: TWILIO
      x-docs-external-url: https://www.twilio.com/docs/usage/webhooks/webhooks-security#validating-signatures-from-twilio
    SourceTypeConfigSYNCTERA:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigSyncteraAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for SYNCTERA. Requires type to be `SYNCTERA`.
      x-docs-type: SYNCTERA
      x-docs-external-url: https://dev.synctera.com/docs/webhooks-guide#integration-steps
    SourceConfigDocuSignAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: DocuSign
    SourceConfigTwitchAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: Twitch
    SourceConfigFusionAuthAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: FusionAuth
    SourceConfigWebhookAuthSvix:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: SVIX
    SourceConfigWebhookAuthPraxis:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: PRAXIS
    SourceTypeConfigCOMMERCELAYER:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigCommerceLayerAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for COMMERCELAYER. Requires type to be `COMMERCELAYER`.
      x-docs-type: COMMERCELAYER
      x-docs-external-url: https://docs.commercelayer.io/core/callbacks-security
    SourceConfigWebhookAuthStripe:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: STRIPE
    SourceConfigPaddleAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: Paddle
    SourceConfigWebhookAuthOpenAI:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: OPENAI
    SourceTypeConfigFUSIONAUTH:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigFusionAuthAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for FUSIONAUTH. Requires type to be `FUSIONAUTH`.
      x-docs-type: FUSIONAUTH
      x-docs-external-url: https://fusionauth.io/docs/extend/events-and-webhooks/signing
    SourceConfigWebhookAuthAlipay:
      type: object
      properties:
        public_key:
          type: string
      required:
      - public_key
      additionalProperties: false
      x-docs-type: ALIPAY
    SourceTypeConfigNUVEMSHOP:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigNuvemshopAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for NUVEMSHOP. Requires type to be `NUVEMSHOP`.
      x-docs-type: NUVEMSHOP
      x-docs-external-url: https://tiendanube.github.io/api-documentation/resources/webhook
    SourceConfigPersonaAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: Persona
    SourceConfigWebhookAuthPaypal:
      type: object
      properties:
        webhook_id:
          type: string
      required:
      - webhook_id
      additionalProperties: false
      x-docs-type: PAYPAL
    SourceConfigWebhookAuthEmpty:
      nullable: true
      x-docs-hide: true
      x-docs-nullable: true
    SourceConfigPraxisAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: Praxis
    SourceConfigWebhookAuthAirtable:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: AIRTABLE
    SourceConfigCourierAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: Courier
    SourceTypeConfigPORTAL:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigPortalAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for PORTAL. Requires type to be `PORTAL`.
      x-docs-type: PORTAL
    SourceConfigUpolloAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: Upollo
    SourceConfigWebhookAuthHubspot:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: HUBSPOT
    SourceTypeConfigQUOTER:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigQuoterAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for QUOTER. Requires type to be `QUOTER`.
      x-docs-type: QUOTER
      x-docs-external-url: https://help.quoter.com/hc/en-us/articles/32085971955355-Integrate-with-Webhooks#h_73bb393dfd
    SourceConfigWebhookAuthLithic:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: LITHIC
    SourceConfigShipBobAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: ShipBob
    SourceConfigRepayAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: Repay
    SourceConfigWebhookAuthTikTokShop:
      type: object
      properties:
        webhook_secret_key:
          type: string
        app_key:
          type: string
      required:
      - webhook_secret_key
      - app_key
      additionalProperties: false
      x-docs-type: TIKTOK_SHOP
    SourceConfigWebhookAuthWhatsApp:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: WHATSAPP
    SourceConfigWebhookAuthUber:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: UBER
    SourceConfigWebhookAuthZendesk:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: ZENDESK
    SourceConfigWebhookAuthGitHub:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: GITHUB
    SourceConfigWebhookAuthResend:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: RESEND
    SourceTypeConfigFASTSPRING:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigFastSpringAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for FASTSPRING. Requires type to be `FASTSPRING`.
      x-docs-type: FASTSPRING
      x-docs-external-url: https://developer.fastspring.com/reference/message-security
    SourceConfigWebhookAuthBasicAuth:
      type: object
      properties:
        username:
          type: string
        password:
          type: string
      required:
      - username
      - password
      additionalProperties: false
      x-docs-type: BASIC_AUTH
    SourceConfigTypeformAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: Typeform
    SourceConfigSyncteraAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: Synctera
    SourceConfigWebhookAuthIntercom:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: INTERCOM
    SourceConfigWebhookAuthTreezor:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: TREEZOR
    SourceConfigWeChatPayAuth:
      type: object
      properties:
        public_key:
          type: string
      required:
      - public_key
      additionalProperties: false
      nullable: true
      x-docs-type: WeChat Pay
    SourceTypeConfigTIKTOK:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigTikTokAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for TIKTOK. Requires type to be `TIKTOK`.
      x-docs-type: TIKTOK
      x-docs-external-url: https://developers.tiktok.com/doc/webhooks-verification
    SourceConfigWebhookAuthAsana:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: ASANA
    SourceTypeConfigAIPRISE:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigAipriseAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for AIPRISE. Requires type to be `AIPRISE`.
      x-docs-type: AIPRISE
      x-docs-external-url: https://docs.aiprise.com/docs/callbacks-authentication
    SourceTypeConfigTHREE_D_EYE:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfig3dEyeAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for THREE_D_EYE. Requires type to be `THREE_D_EYE`.
      x-docs-type: THREE_D_EYE
    SourceConfigZeroHashAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: ZeroHash
    SourceTypeConfigSHOPLINE:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigShoplineAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for SHOPLINE. Requires type to be `SHOPLINE`.
      x-docs-type: SHOPLINE
      x-docs-external-url: https://developer.shopline.com/docsv2/ec20/3cv5d7wpfgr6a8z5/wf8em731s7f8c3ut?version=v20240301#signature-verification
    SourceConfigCustomer.IOAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: Customer.IO
    SourceConfigWebhookAuthBridgeStablecoins:
      type: object
      properties:
        public_key:
          type: string
      required:
      - public_key
      additionalProperties: false
      x-docs-type: BRIDGE_XYZ
    SourceConfigWebhookAuthRepay:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: REPAY
    SourceConfigWebhookAuthClaude:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: CLAUDE
    SourceTypeConfigGITHUB:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigGitHubAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for GITHUB. Requires type to be `GITHUB`.
      x-docs-type: GITHUB
      x-docs-external-url: https://docs.github.com/en/webhooks/using-webhooks/validating-webhook-deliveries
    SourceConfigWebhookAuthAirwallex:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: AIRWALLEX
    SourceConfigWebhookAuthTelnyx:
      type: object
      properties:
        public_key:
          type: string
      required:
      - public_key
      additionalProperties: false
      x-docs-type: TELNYX
    SourceTypeConfigSHOPIFY:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigShopifyAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for SHOPIFY. Requires type to be `SHOPIFY`.
      x-docs-type: SHOPIFY
      x-docs-external-url: https://shopify.dev/docs/apps/build/webhooks/subscribe/https#step-2-validate-the-origin-of-your-webhook-to-ensure-its-coming-from-shopify
    SourceConfigPortalAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: Portal
    SourceTypeConfigOPENAI:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigOpenAIAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for OPENAI. Requires type to be `OPENAI`.
      x-docs-type: OPENAI
    SourceConfigWebhookAuthLinear:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: LINEAR
    SourceTypeConfigXERO:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigXeroAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for XERO. Requires type to be `XERO`.
      x-docs-type: XERO
      x-docs-external-url: https://developer.xero.com/documentation/guides/webhooks/configuring-your-server/
    SourceConfigFrontAppAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: FrontApp
    SourceConfigSmileAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: Smile
    SourceConfigWebhookAuthFireflies.ai:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: FIREFLIES
    SourceConfigWebhookAuthUpollo:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: UPOLLO
    SourceConfigWebhookAuthVercelWebhooks:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: VERCEL
    SourceConfigOrbAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: Orb
    SourceTypeConfigMICROSOFT_SHAREPOINT:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigMicrosoftSharePointAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for MICROSOFT_SHAREPOINT. Requires type to be `MICROSOFT_SHAREPOINT`.
      x-docs-type: MICROSOFT_SHAREPOINT
      x-docs-external-url: https://learn.microsoft.com/en-us/sharepoint/dev/apis/webhooks/overview-sharepoint-webhooks
    SourceConfigWebhookAuthNMIPaymentGateway:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: NMI
    SourceTypeConfigGOCARDLESS:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigGoCardlessAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for GOCARDLESS. Requires type to be `GOCARDLESS`.
      x-docs-type: GOCARDLESS
      x-docs-external-url: https://developer.gocardless.com/getting-started/staying-up-to-date-with-webhooks#staying_up-to-date_with_webhooks
    SourceTypeConfigWECHAT:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigWeChatPayAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for WECHAT. Requires type to be `WECHAT`.
      x-docs-type: WECHAT
      x-docs-external-url: https://pay.weixin.qq.com/doc/global/v3/en/4012357149
    SourceTypeConfigGEMINI:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigGoogleGeminiAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for GEMINI. Requires type to be `GEMINI`.
      x-docs-type: GEMINI
      x-docs-external-url: https://ai.google.dev/gemini-api/docs/webhooks#handle-webhook-requests
    SourceTypeConfigNMI:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigNMIPaymentGatewayAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for NMI. Requires type to be `NMI`.
      x-docs-type: NMI
      x-docs-external-url: https://secure.networkmerchants.com/gw/merchants/resources/integration/integration_portal.php#webhooks_setup
    SourceConfigWebhookAuthX:
      type: object
      properties:
        api_key:
          type: string
      required:
      - api_key
      additionalProperties: false
      x-docs-type: TWITTER
    SourceConfigWebhookAuthTypeform:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: TYPEFORM
    SourceConfigFireflies.aiAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: Fireflies.ai
    SourceConfigGreenDotAuth:
      type: object
      properties:
        username:
          type: string
        password:
          type: string
      required:
      - username
      - password
      additionalProperties: false
      nullable: true
      x-docs-type: GreenDot
    SourceAllowedHTTPMethod:
      type: array
      items:
        type: string
        enum:
        - GET
        - POST
        - PUT
        - PATCH
        - DELETE
      description: List of allowed HTTP methods. Defaults to PUT, POST, PATCH, DELETE.
    SourceTypeConfigCLAUDE:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigClaudeAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for CLAUDE. Requires type to be `CLAUDE`.
      x-docs-type: CLAUDE
      x-docs-external-url: https://platform.claude.com/docs/en/managed-agents/webhooks
    SourceTypeConfig:
      type: object
      properties: {}
      additionalProperties: false
      oneOf:
      - $ref: '#/components/schemas/SourceTypeConfigAIPRISE'
      - $ref: '#/components/schemas/SourceTypeConfigALCHEMY'
      - $ref: '#/components/schemas/SourceTypeConfigDOCUSIGN'
      - $ref: '#/components/schemas/SourceTypeConfigINTERCOM'
      - $ref: '#/components/schemas/SourceTypeConfigPUBLISH_API'
      - $ref: '#/components/schemas/SourceTypeConfigWEBHOOK'
      - $ref: '#/components/schemas/SourceTypeConfigHTTP'
      - $ref: '#/components/schemas/SourceTypeConfigMANAGED'
      - $ref: '#/components/schemas/SourceTypeConfigHOOKDECK_OUTPOST'
      - $ref: '#/components/schemas/SourceTypeConfigSANITY'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigBIGCOMMERCE'
      - $ref: '#/components/schemas/SourceTypeConfigCLAUDE'
      - $ref: '#/components/schemas/SourceTypeConfigOPENAI'
      - $ref: '#/components/schemas/SourceTypeConfigPOLAR'
      - $ref: '#/components/schemas/SourceTypeConfigBRIDGE_XYZ'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigBRIDGE_API'
      - $ref: '#/components/schemas/SourceTypeConfigCHARGEBEE_BILLING'
      - $ref: '#/components/schemas/SourceTypeConfigCHAINDOTS'
      - $ref: '#/components/schemas/SourceTypeConfigCLOUDSIGNAL'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigCOINBASE'
      - $ref: '#/components/schemas/SourceTypeConfigCOURIER'
      - $ref: '#/components/schemas/SourceTypeConfigCURSOR'
      - $ref: '#/components/schemas/SourceTypeConfigMERAKI'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigMICROSOFT_GRAPH'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigMICROSOFT_SHAREPOINT'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigFIREBLOCKS'
      - $ref: '#/components/schemas/SourceTypeConfigFRONTAPP'
      - $ref: '#/components/schemas/SourceTypeConfigZOOM'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigTWITTER'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigRECHARGE'
      - $ref: '#/components/schemas/SourceTypeConfigRECURLY'
      - $ref: '#/components/schemas/SourceTypeConfigREVOLUT'
      - $ref: '#/components/schemas/SourceTypeConfigRING_CENTRAL'
      - $ref: '#/components/schemas/SourceTypeConfigSTRIPE'
      - $ref: '#/components/schemas/SourceTypeConfigPROPERTYFINDER'
      - $ref: '#/components/schemas/SourceTypeConfigQUOTER'
      - $ref: '#/components/schemas/SourceTypeConfigSHOPIFY'
      - $ref: '#/components/schemas/SourceTypeConfigTWILIO'
      - $ref: '#/components/schemas/SourceTypeConfigGITHUB'
      - $ref: '#/components/schemas/SourceTypeConfigPOSTMARK'
      - $ref: '#/components/schemas/SourceTypeConfigTALLY'
      - $ref: '#/components/schemas/SourceTypeConfigTYPEFORM'
      - $ref: '#/components/schemas/SourceTypeConfigPICQER'
      - $ref: '#/components/schemas/SourceTypeConfigXERO'
      - $ref: '#/components/schemas/SourceTypeConfigSVIX'
      - $ref: '#/components/schemas/SourceTypeConfigRESEND'
      - $ref: '#/components/schemas/SourceTypeConfigGEMINI'
      - $ref: '#/components/schemas/SourceTypeConfigADYEN'
      - $ref: '#/components/schemas/SourceTypeConfigAKENEO'
      - $ref: '#/components/schemas/SourceTypeConfigGITLAB'
      - $ref: '#/components/schemas/SourceTypeConfigWOOCOMMERCE'
      - $ref: '#/components/schemas/SourceTypeConfigOKTA'
      - $ref: '#/components/schemas/SourceTypeConfigOURA'
      - $ref: '#/components/schemas/SourceTypeConfigCOMMERCELAYER'
      - $ref: '#/components/schemas/SourceTypeConfigHUBSPOT'
      - $ref: '#/components/schemas/SourceTypeConfigMAILGUN'
      - $ref: '#/components/schemas/SourceTypeConfigPERSONA'
      - $ref: '#/components/schemas/SourceTypeConfigPIPEDRIVE'
      - $ref: '#/components/schemas/SourceTypeConfigSENDGRID'
      - $ref: '#/components/schemas/SourceTypeConfigWORKOS'
      - $ref: '#/components/schemas/SourceTypeConfigSYNCTERA'
      - $ref: '#/components/schemas/SourceTypeConfigAWS_SNS'
      - $ref: '#/components/schemas/SourceTypeConfigTHREE_D_EYE'
      - $ref: '#/components/schemas/SourceTypeConfigTWITCH'
      - $ref: '#/components/schemas/SourceTypeConfigENODE'
      - $ref: '#/components/schemas/SourceTypeConfigFAUNDIT'
      - $ref: '#/components/schemas/SourceTypeConfigFAVRO'
      - $ref: '#/components/schemas/SourceTypeConfigLINEAR'
      - $ref: '#/components/schemas/SourceTypeConfigSHIPBOB'
      - $ref: '#/components/schemas/SourceTypeConfigSHIPHERO'
      - $ref: '#/components/schemas/SourceTypeConfigSHOPLINE'
      - $ref: '#/components/schemas/SourceTypeConfigWIX'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigNMI'
      - $ref: '#/components/schemas/SourceTypeConfigNEON'
      - $ref: '#/components/schemas/SourceTypeConfigORB'
      - $ref: '#/components/schemas/SourceTypeConfigPYLON'
      - $ref: '#/components/schemas/SourceTypeConfigRAZORPAY'
      - $ref: '#/components/schemas/SourceTypeConfigREPAY'
      - $ref: '#/components/schemas/SourceTypeConfigSQUARE'
      - $ref: '#/components/schemas/SourceTypeConfigSOLIDGATE'
      - $ref: '#/components/schemas/SourceTypeConfigTRELLO'
      - $ref: '#/components/schemas/SourceTypeConfigEBAY'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigTELNYX'
      - $ref: '#/components/schemas/SourceTypeConfigDISCORD'
      - $ref: '#/components/schemas/SourceTypeConfigTOKENIO'
      - $ref: '#/components/schemas/SourceTypeConfigFISERV'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigFUSIONAUTH'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigBONDSMITH'
      - $ref: '#/components/schemas/SourceTypeConfigVERCEL_LOG_DRAINS'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigVERCEL'
      - $ref: '#/components/schemas/SourceTypeConfigTEBEX'
      - $ref: '#/components/schemas/SourceTypeConfigSLACK'
      - $ref: '#/components/schemas/SourceTypeConfigSMARTCAR'
      - $ref: '#/components/schemas/SourceTypeConfigMAILCHIMP'
      - $ref: '#/components/schemas/SourceTypeConfigNUVEMSHOP'
      - $ref: '#/components/schemas/SourceTypeConfigPADDLE'
      - $ref: '#/components/schemas/SourceTypeConfigPAYPAL'
      - $ref: '#/components/schemas/SourceTypeConfigPAYMOB'
      - $ref: '#/components/schemas/SourceTypeConfigPAYSTACK'
      - $ref: '#/components/schemas/SourceTypeConfigSCRAPFLY'
      - $ref: '#/components/schemas/SourceTypeConfigPORTAL'
      - $ref: '#/components/schemas/SourceTypeConfigTREEZOR'
      - $ref: '#/components/schemas/SourceTypeConfigPRAXIS'
      - $ref: '#/components/schemas/SourceTypeConfigCUSTOMERIO'
      - $ref: '#/components/schemas/SourceTypeConfigEXACT_ONLINE'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigFACEBOOK'
      - $ref: '#/components/schemas/SourceTypeConfigWHATSAPP'
      - $ref: '#/components/schemas/SourceTypeConfigREPLICATE'
      - $ref: '#/components/schemas/SourceTypeConfigTIKTOK'
      - $ref: '#/components/schemas/SourceTypeConfigTIKTOK_SHOP'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigAIRWALLEX'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigASCEND'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigALIPAY'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigZENDESK'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigUPOLLO'
      - $ref: '#/components/schemas/SourceTypeConfigSMILE'
      - $ref: '#/components/schemas/SourceTypeConfigNYLAS'
      - $ref: '#/components/schemas/SourceTypeConfigCLIO'
      - $ref: '#/components/schemas/SourceTypeConfigGOCARDLESS'
      - $ref: '#/components/schemas/SourceTypeConfigLINKEDIN'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigLITHIC'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigSTRAVA'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigUTILA'
      - $ref: '#/components/schemas/SourceTypeConfigMONDAY'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigGREENDOT'
      - $ref: '#/components/schemas/SourceTypeConfigZEROHASH'
      - $ref: '#/components/schemas/SourceTypeConfigZIFT'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigETHOCA'
        x-required: true
      - $ref: '#/components/schemas/SourceTypeConfigAIRTABLE'
      - $ref: '#/components/schemas/SourceTypeConfigASANA'
      - $ref: '#/components/schemas/SourceTypeConfigASHBY'
      - $ref: '#/components/schemas/SourceTypeConfigFASTSPRING'
      - $ref: '#/components/schemas/SourceTypeConfigPAYPRO_GLOBAL'
      - $ref: '#/components/schemas/SourceTypeConfigUSPS'
      - $ref: '#/components/schemas/SourceTypeConfigWALMART'
      - $ref: '#/components/schemas/SourceTypeConfigFIREFLIES'
      - $ref: '#/components/schemas/SourceTypeConfigFLEXPORT'
      - $ref: '#/components/schemas/SourceTypeConfigUBER'
      - $ref: '#/components/schemas/SourceTypeConfigWECHAT'
      - $ref: '#/components/schemas/SourceTypeConfigCIRCLE'
        x-required: true
      description: The type configs for the specified type
      default: {}
    SourceConfigResendAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: Resend
    SourceConfigWebhookAuthBigCommerce:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: BIGCOMMERCE
    SourceConfigXAuth:
      type: object
      properties:
        api_key:
          type: string
      required:
      - api_key
      additionalProperties: false
      nullable: true
      x-docs-type: X
    SourceTypeConfigMONDAY:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigMondayAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for MONDAY. Requires type to be `MONDAY`.
      x-docs-type: MONDAY
      x-docs-external-url: https://support.monday.com/hc/en-us/articles/360003540679-Webhook-integration
    SourceTypeConfigNYLAS:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigNylasAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for NYLAS. Requires type to be `NYLAS`.
      x-docs-type: NYLAS
      x-docs-external-url: https://developer.nylas.com/docs/v3/getting-started/webhooks/
    SourceConfigPostmarkAuth:
      type: object
      properties:
        username:
          type: string
        password:
          type: string
      required:
      - username
      - password
      additionalProperties: false
      nullable: true
      x-docs-type: Postmark
    SourceTypeConfigTWITTER:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigXAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for TWITTER. Requires type to be `TWITTER`.
      x-docs-type: TWITTER
      x-docs-external-url: https://developer.x.com/en/docs/x-api/enterprise/account-activity-api/guides/securing-webhooks
    SourceConfigWebhookAuthTrello:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: TRELLO
    SourceConfigWebhookAuthCursor:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: CURSOR
    SourceTypeConfigPAYPRO_GLOBAL:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigPayProGlobalAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for PAYPRO_GLOBAL. Requires type to be `PAYPRO_GLOBAL`.
      x-docs-type: PAYPRO_GLOBAL
      x-docs-external-url: https://developers.payproglobal.com/docs/integrate-with-paypro-global/webhook-ipn/
    SourceTypeConfigSTRAVA:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigStravaAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for STRAVA. Requires type to be `STRAVA`.
      x-docs-type: STRAVA
    SourceConfigStravaAuth:
      type: object
      properties: {}
      additionalProperties: false
      nullable: true
      x-docs-type: Strava
    SourceTypeConfigEBAY:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigEbayAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for EBAY. Requires type to be `EBAY`.
      x-docs-type: EBAY
      x-docs-external-url: https://developer.ebay.com/api-docs/commerce/notification/resources/destination/methods/createDestination
    SourceConfigManagedAuth:
      type: object
      properties: {}
      additionalProperties: false
      nullable: true
      x-docs-type: Managed
    SourceTypeConfigWORKOS:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigWorkOSAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for WORKOS. Requires type to be `WORKOS`.
      x-docs-type: WORKOS
      x-docs-external-url: https://workos.com/docs/events/data-syncing/webhooks/3-process-the-events/b-validate-the-requests-manually
    SourceConfigWebhookAuthXero:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: XERO
    SourceConfigAirwallexAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: Airwallex
    SourceConfigUtilaAuth:
      type: object
      properties:
        public_key:
          type: string
      required:
      - public_key
      additionalProperties: false
      nullable: true
      x-docs-type: Utila
    SourceConfigWebhookAuthGitLab:
      type: object
      properties:
        api_key:
          type: string
      required:
      - api_key
      additionalProperties: false
      x-docs-type: GITLAB
    SourceConfigCursorAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: Cursor
    SourceTypeConfigOURA:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigOuraAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for OURA. Requires type to be `OURA`.
      x-docs-type: OURA
      x-docs-external-url: https://cloud.ouraring.com/v2/docs#section/Security
    SourceConfigGoCardlessAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      nullable: true
      x-docs-type: GoCardless
    SourceTypeConfigFACEBOOK:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigFacebookAuth'
        allowed_http_methods:
          $ref: '#/components/schemas/SourceAllowedHTTPMethod'
        custom_response:
          $ref: '#/components/schemas/SourceCustomResponse'
      additionalProperties: false
      description: The type config for FACEBOOK. Requires type to be `FACEBOOK`.
      x-docs-type: FACEBOOK
    SourceConfigWebhookAuthFusionAuth:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: FUSIONAUTH
    SourceConfigWebhookAuthNuvemshop:
      type: object
      properties:
        webhook_secret_key:
          type: string
      required:
      - webhook_secret_key
      additionalProperties: false
      x-docs-type: NUVEMSHOP
    SourceConfigHTTPAuthAPIKey:
      type: object
      properties:
        header_key:
          type: string
        api_key:
          type: string
      additionalProperties: false
      x-docs-type: API_KEY
    SourceTypeConfigPROPERTYFINDER:
      type: object
      properties:
        auth:
          $ref: '#/components/schemas/SourceConfigPropertyFinderAuth'
        allowed_http_methods:
[...]
